{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/contSuperior.html" %}

{% include "spareapp/accountStatSuperior.html" %}

<div class="container mt-2 col-lg-4">
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="contNombre">Cliente</label>
        <select name="contNombre" id="contNombre" class="form-select form-select-md" aria-label=".form-select-md example" required>
            <option value="" selected>Seleccionar cliente</option>
            {% for cust in allCustomers %}
            <option value="{{cust.id}}">{{cust.nombre}} - {{cust.documento}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input value="all" class="form-check-input" id="search1" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">Todos</label>
        <input value="month" class="form-check-input" id="search2" type="radio" name="search">
        <label class="form-check-label" for="search2">Éste mes</label>
        <input value="range" class="form-check-input" id="search4" type="radio" name="search">
        <label class="form-check-label" for="search4">Rango</label>
        <input value="balance" class="form-check-input" id="search5" type="radio" name="search">
        <label class="form-check-label" for="search5">Último balance</label>
    </div>
    <div class="mb-3" id="formByRange" style="display: none;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <label for="searchDateFrom">Desde</label>
                    <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                </div>
                <div class="col-lg-6">
                    <label for="searchDateTo">Hasta</label>
                    <input name="searchDateTo" id="searchDateTo" class="form-control" type="date">
                </div>
            </div>
        </div>
    </div>
    <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
    <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
</form>

</div>
{% if factureName %}
<div class="container mt-2">
<label for=""><span style="font-weight: bold;color: rgb(136,12,12);">Cliente: </span>{{factureName.0.refPersona.nombre}}</label>
<div>
    <a style="font-size: small;" data-bs-toggle="modal" data-bs-target="#editName" type="button" id="editNameId" class="btn btn-primary text-white" href="javascript:void(0);">
        Editar cliente
    </a>
    <div tabindex="-1" id="editName" class="modal fade modal-dialog-scrollable" aria-labelledby="editNameLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNameLabel">Editar cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> 
                    <form id="formCust" method="POST" action="{% url 'contEditPerson' factureName.0.refPersona.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="custName">Nombre</label>
                            <input value="{{factureName.0.refPersona.nombre}}" class="form-control" id="custName" type="text" name="custName" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="custId">Identificación</label>
                            <input value="{{factureName.0.refPersona.documento}}" class="form-control" id="custId" type="text" name="custId">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    
                </div>   
            </div>
        </div>
    </div>  
</div>
<div class="container mt-2">
    <input id="entrySpending" name="entrySpending" type="checkbox">
    <label for="entrySpending">Sólo facturas/mercancía por cobrar/pagar</label>
</div>

<div id="invoice2">
<table id="" style="font-size: small;" class="table-bordered invoice mt-2">
    <thead id="hSup">
        <tr style="background-color: #F5F087;" class="">
            <th class="p-2">{{factureName.0.refPersona.nombre|upper}}: Desde {{dayFrom}} hasta {{dayTo}}</th>
        </tr>
    </thead>
</table>

<table id="" style="font-size: small;" class="table-bordered invoice draggable table-sortable">
    <thead id="hMain">
        <tr style="background-color: #7C8FEC;position: sticky;top: 70;" class="">
            <th style="position: sticky;top: 70;" class="p-2">Fecha</th>
            <th style="position: sticky;top: 70;" class="p-2">Cliente</th>
            <th style="position: sticky;top: 70;" class="p-2">Fact #</th>
            <th style="position: sticky;top: 70;" class="p-2">Categoría</th>
            <th style="position: sticky;top: 70;" class="p-2">Tipo de pago</th>
            <th style="position: sticky;top: 70;" class="p-2">Monto</th>
            <th style="position: sticky;top: 70;" class="p-2">Balance</th>
            <th style="position: sticky;top: 70;" class="p-2">Nota</th>
            <th style="position: sticky;top: 70;" id="check" class="p-2">Acción</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for fact in factureName %}
        {% for key,value in balance.items %}
        {% if key == fact.id %}
        <tr>
            <td class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td class="p-2">{{fact.refPersona.nombre}}</td>
            <td class="p-2">{{fact.num}}</td>
            <td style="max-width: 50px;" class="p-2"><a href="{% url 'contListByCategory' fact.refCategory.nombre %}">{{fact.refCategory.nombre|upper}}</a></td>
            <td style="max-width: 50px;" class="p-2"><a href="{% url 'contListByType' fact.refType.nombre %}">{{fact.refType.nombre|upper}}</a></td>
            <td id="auxMonto" class="p-2"><div {% if fact.pendiente == True %} style="font-weight: bold;" {% else %} "" {% endif %}>${{value.1|floatformat:2}}</div></td>
            <td id="auxBalance" class="p-2">${{value.0|floatformat:2}}</td>
            <td style="max-width: 200px;" class="p-2">{{fact.note}}</td>
            <td class=""><a style="color: white;font-size: small;" class="btn btn-secondary" href="{% url 'editeFact' fact.id request.get_full_path|cut:'/' %}">Editar</a>
                <a data-bs-toggle="modal" data-bs-target="#deleteFac{{fact.id}}" style="text-decoration: none;color: rgb(136,12,12);font-size: small;" id="deleteFacId" class="btn btn-danger text-white" href="javascript:void(0);">Eliminar</a>
            </td>
            <div tabindex="-1" id="deleteFac{{fact.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="deleteFacLabel{{fact.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="deleteFacLabel{{fact.id}}">Precaución</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Seguro/a que deseas eliminar la factura {{fact.num}}?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteFacture" class="btn btn-primary" href="{% url 'deleteFac' fact.id %}">Borrar</a>
                        </div>
                    </div>
                    </div>
            </div> 
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

<table id="" style="font-size: small;" class="table-bordered invoice mb-4">
    <thead id="hInf">
        <tr style="background-color: #E77C7C;" class="">
            <th id="balanceTotal" class="p-2">BALANCE ${{balanceTotal|floatformat:2}}</th>
            <th id="balanceTotalFacMerc" style="display: none;" class="p-2">BALANCE ${{balanceFacMerc|floatformat:2}}</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
</div>
</div>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>
<script>
var vec = []
var i = 0
$("tbody tr").each(function(){
    $(this).find("td").each(function(){
        if($(this).attr("id")=="auxBalance"){
            vec[i] = $(this).text()
            i = i + 1
        }
    })
})
var auxMonto = $("#auxMonto").text()
var auxBalance = $("#auxBalance").text()
$("#entrySpending").change(function(){
    if ($(this).is(':checked')){
        $("tbody tr").each(function(){
        var bol = false
        
            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxMonto"){
                    auxMonto = $(this).text()
                }
                if ($(this).attr("id") == "auxBalance"){
                    auxBalance = $(this).text()
                    $(this).html(auxMonto)
                }
                
                $(this).find("div").each(function(){
                    if ($(this).attr("style")=="font-weight: bold;"){
                        bol = true
                    }
                })
            })
            if (bol == false){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
        $("#balanceTotal").hide()
        $("#balanceTotalFacMerc").show()
    }
    else{
        
        $("tbody tr").each(function(){
            $(this).show()

            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxBalance"){
                    $(this).html(vec[$(this).parent().index()])
                }
            })
        })
        $("#balanceTotalFacMerc").hide()
        $("#balanceTotal").show()
    }
    
})

$("#invoice").dragtable()

function generatePDF2(){

    $('#invoice2 tr:first th').each(function() {
        var value = $(this).css("position", "static");
      });
    const element = document.getElementById("invoice2");
    
    $("#hMain tr").attr("style","background-color: #7C8FEC;position: static")
    $("#hMain tr").find("th").each(function(){
        $(this).attr("style","position: static")
    })
    $("#check").hide();
    $("table td:nth-child("+($("#check").index() + 1)+")").hide();

    var opt = {
        margin:       0.5,
        filename:     'report.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { scale: 2 },
        enableLinks:  false,
        pagebreak:    {mode: "avoid-all"},
        jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
      };
    html2pdf()
    .set(opt)
    .from(element)
    .save();
    html2pdf().set(opt).from(element).toPdf().get('pdf').then(function (pdf) {
        $('#invoice2 tr:first th').each(function() {
            var value = $(this).css("position", "sticky");
            $("#check").show();
            $("table td:nth-child("+($("#check").index() + 1)+")").show();
            $("input:checkbox[name=check]").prop("checked",true);
          });
      });
}
</script>
{% endif %}

{% endblock %}