{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/contSuperior.html" %}

{% include "spareapp/accountStatSuperior.html" %}

<div class="container mt-2 col-lg-4">
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="contNombre">Cliente</label>
        <select name="contNombre" id="contNombre" class="form-select form-select-md" aria-label=".form-select-md example" required>
            <option value="" selected>Seleccionar cliente</option>
            {% for cust in allCustomers %}
            <option value="{{cust.id}}">{{cust.nombre}} - {{cust.documento}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input value="all" class="form-check-input" id="search1" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">Todos</label>
        <input value="month" class="form-check-input" id="search2" type="radio" name="search">
        <label class="form-check-label" for="search2">Éste mes</label>
        <input value="range" class="form-check-input" id="search4" type="radio" name="search">
        <label class="form-check-label" for="search4">Rango</label>
        <input value="balance" class="form-check-input" id="search5" type="radio" name="search">
        <label class="form-check-label" for="search5">Último balance</label>
    </div>
    <div class="mb-3" id="formByRange2" style="display: none;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <label for="searchDateFrom">Desde</label>
                    <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                </div>
                <div class="col-lg-6">
                    <label for="searchDateTo">Hasta</label>
                    <input name="searchDateTo" id="searchDateTo" class="form-control" type="date">
                </div>
            </div>
        </div>
    </div>
    <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
    <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
</form>

</div>
{% if factureName %}
<div class="container mt-2">

{% if personaVarios %}
<label id="nombrePersona" for=""><span style="font-weight: bold;color: rgb(136,12,12);">Cliente: </span>{{personaVarios}}</label>
{% else %}
<label id="nombrePersona" for=""><span style="font-weight: bold;color: rgb(136,12,12);">Cliente: </span>{{factureName.0.refPersona.nombre}}</label>
{% endif %}
<div>
    <a style="font-size: small;" data-bs-toggle="modal" data-bs-target="#editName" type="button" id="editNameId" class="btn btn-primary text-white" href="javascript:void(0);">
        Editar cliente
    </a>
    <div tabindex="-1" id="editName" class="modal fade modal-dialog-scrollable" aria-labelledby="editNameLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNameLabel">Editar cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> 
                    <form id="formCust" method="POST" action="{% url 'contEditPerson' factureName.0.refPersona.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="custName">Nombre</label>
                            <input value="{{factureName.0.refPersona.nombre}}" class="form-control" id="custName" type="text" name="custName" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="custId">Identificación</label>
                            <input value="{{factureName.0.refPersona.documento}}" class="form-control" id="custId" type="text" name="custId">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    
                </div>   
            </div>
        </div>
    </div>  
</div>
<div class="container mt-2">
    <input id="entrySpending" name="entrySpending" type="checkbox">
    <label for="entrySpending">Sólo facturas/mercancía por cobrar/pagar</label>
</div>

<div class="mt-2">
    <div class="col-lg-5">
        <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Filter... ">
    </div>
</div>

<div id="invoice2">
<table id="" style="font-size: small;" class="table-bordered invoice mt-2">
    <thead id="hSup">
        <tr style="background-color: #F5F087;" class="excludeFooter">
            <th class="p-2">{{factureName.0.refPersona.nombre|upper}}: Desde {{dayFrom}} hasta {{dayTo}}</th>
        </tr>
    </thead>
</table>

<table id="invoice" style="font-size: small;" class="table-bordered invoice draggable table-sortable">
    <thead id="hMain">
        <tr style="background-color: #7C8FEC;position: sticky;top: 70;" class="">
            <th style="position: sticky;top: 70;" class="p-2 include">Fecha</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Cliente</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Fact #</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Categoría</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Tipo de pago</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Monto</th>
            <th id="thBalance" style="position: sticky;top: 70;" class="p-2 include">Balance</th>
            <th style="position: sticky;top: 70;" class="p-2 include">Nota</th>
            <th style="position: sticky;top: 70;" id="check" class="p-2 exclude">Acción</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for fact in factureName %}
        {% for key,value in balance.items %}
        {% if key == fact.id %}
        <tr>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">{{fact.refPersona.nombre}}</td>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">{{fact.num}}</td>
            <td style="max-width: 100px;" class="p-2"><a {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} href="{% url 'contListByCategory' fact.refCategory.nombre %}">{{fact.refCategory.nombre|upper}}</a></td>
            <td style="max-width: 100px;" class="p-2"><a {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} href="{% url 'contListByType' fact.refType.nombre %}">{{fact.refType.nombre|upper}}</a></td>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} id="auxMonto" class="p-2"><div {% if fact.pendiente == True %} style="font-weight: bold;" {% else %} "" {% endif %}>${{value.1|floatformat:2}}</div></td>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} auxCatPagada="{{fact.refCategory.nombre|upper}}" auxPendiente="{{fact.pendiente}}" auxCatCobrada="{{fact.refCategory.nombre|upper}}" auxTotal="{{value.1|floatformat:2}}" auxIngreso="{{fact.refType.ingreso}}" auxCobrar="{{fact.refType.facCobrar}}" auxPagar="{{fact.refType.mercPagar}}" auxCobrada="{{fact.refType.facCobrada}}" auxPagada="{{fact.refType.mercPagada}}" id="auxBalance" class="p-2">${{value.0|floatformat:2}}</td>
            <td {% if fact.refType.ingreso == True and fact.refType.facCobrar == False or fact.refType.mercPagar == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} style="max-width: 100px;" class="p-2">{{fact.note}}</td>
            <td id="check" class="exclude"><a style="color: white;font-size: small;" class="btn btn-secondary" {% if busqueda %} href="{% url 'editeFactAccount' fact.id busqueda request.get_full_path|cut:'/' %}" {% else %} href="{% url 'editeFact' fact.id request.get_full_path|cut:'/' %}" {% endif %}>Editar</a>
                <a data-bs-toggle="modal" data-bs-target="#deleteFac{{fact.id}}" style="text-decoration: none;color: rgb(136,12,12);font-size: small;" id="deleteFacId" class="btn btn-danger text-white" href="javascript:void(0);">Eliminar</a>
            </td>
            <div tabindex="-1" id="deleteFac{{fact.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="deleteFacLabel{{fact.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="deleteFacLabel{{fact.id}}">Precaución</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Seguro/a que deseas eliminar la factura {{fact.num}}?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteFacture" class="btn btn-primary" href="{% url 'deleteFac' fact.id %}">Borrar</a>
                        </div>
                    </div>
                    </div>
            </div> 
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
<table class="table-bordered invoice mb-2 tfoot" style="font-size: small;" id="hInf">
    <thead>
        <tr {% if acumTotal == 0 %} style="background-color: #E77C7C;" {% else %} {% if value < 0 %} style="background-color: #E77C7C;color: #c90a0a" {% else %} style="background-color: #E77C7C;color: #1029b9" {% endif %} {% endif %} class="">
            <th colspan=9 id="balanceTotal" class="p-2">TOTAL ${{acumTotal|floatformat:2}}</th>
            <!-- <th colspan=9 id="balanceTotal" class="p-2">TOTAL ${{balanceTotal|floatformat:2}}</th> -->
        </tr>
    </thead>
</table>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>

<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>

<script>
// Arreglar por click a cabecera ----------------------------------------------------------------------------------
// Se debe agregar CSS th { cursor: pointer; }
$('th').not("#check").click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}

})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

<script>
function Export() {
    $("#invoice").table2excel({
    filename: "file.xls"
    });
}
</script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js", type="text/javascript">
    function Export() {
        alert("Entra")
      $("#invoice").table2excel({
        filename: "file.xls"
      });
    }
</script> -->

<!-- <script type="text/javascript">
    function exportReportToExcel() {
      let table = $("#invoice")
    //   let table = document.getElementsByID("invoice");
      TableToExcel.convert(table[0], { 
        name: `file.xlsx`,
        sheet: {
          name: 'Sheet 1'
        }
      });
    }
  </script> -->

<script>
// boton para exportar a Excel -------------------------------------------------------------------------------------
document.getElementById("downloadexcela").addEventListener("click",function(){
    $("#check").hide();
    $("table td:nth-child("+($("#check").index() + 1)+")").hide();
    var table2excel = new Table2Excel();
    table2excel.export(document.querySelectorAll("#invoice"));
    $("#check").show();
    $("table td:nth-child("+($("#check").index() + 1)+")").show();
})
</script>

<script>

    $("#cod").on("keyup",function(){                                // Cuando se teclea algo
        var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
        $(".invoice tbody tr").filter(function(){                             // 
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        })

        var cont2 = 0
        var totalTotal = 0
        balanc = []

        $("#myTable tr:not(.tfoot)").each(function(){
            if ($(this).is(":visible")){
                $(this).find("td:not(.exclude)").each(function(){
                    if ($(this).index() == $("#thBalance").index()) {
                        if($(this).attr("auxIngreso")=="True" && $(this).attr("auxCobrar")=="False" || $(this).attr("auxPagar")=="True"){
                            totalTotal = totalTotal + Math.abs(parseFloat($(this).attr("auxTotal").replace(',', '.')))
                            cont2 = cont2
                            if($(this).attr("auxCobrar")=="True"){
                                cont2 = cont2 + Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                            if($(this).attr("auxCatCobrada")=="FACTURA COBRADA"){
                                cont2 = cont2 - Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                        }
                        else{
                            totalTotal = totalTotal - Math.abs(parseFloat($(this).attr("auxTotal").replace(',', '.')))
                            cont2 = cont2
                            if($(this).attr("auxPagar")=="True"){
                                cont2 = cont2 - Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                            if($(this).attr("auxCatPagada")=="MERCANCIA CREDITO PAGADA"){
                                cont2 = cont2 + Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                        }
                        $(this).html("$"+cont2.toFixed(2))
                        balanc.push(cont2.toFixed(2))
                    }
                    
                })
            }
        })

        $(".tfoot").hide()
        $(".erase").remove()
        if(totalTotal == 0){
            $("#invoice2").append("<table class='table-bordered invoice tfoot erase mb-2' style='font-size: small;' id='hInf'><head><tr style='background-color: #E77C7C;' class=''><th colspan=8 id='balanceTotal' class='p-2'>TOTAL $"+totalTotal.toFixed(2)+"</th></tr></head></table>")
        }else{
            if(totalTotal < 0){
                $("#invoice2").append("<table class='table-bordered invoice tfoot erase mb-2' style='font-size: small;' id='hInf'><head><tr style='background-color: #E77C7C;color: #c90a0a' class=''><th colspan=8 id='balanceTotal' class='p-2'>TOTAL $"+totalTotal.toFixed(2)+"</th></tr></head></table>")

            }else{
                $("#invoice2").append("<table class='table-bordered invoice tfoot erase mb-2' style='font-size: small;' id='hInf'><head><tr style='background-color: #E77C7C;color: #1029b9' class=''><th colspan=8 id='balanceTotal' class='p-2'>TOTAL $"+totalTotal.toFixed(2)+"</th></tr></head></table>")
            }
        }

        total = 0
        
        if(value==""){
            $(".erase").remove()
            $(".tfoot").show()
        }
    })
    
</script>

<script>

function generatePDF2(){

var tableHeaderTextSup = [...document.querySelectorAll('.excludeFooter th')].map(thElement => ({ text: thElement.textContent, style: 'tableHeaderSup' }));
var tableHeaderText = [...document.querySelectorAll('#invoice thead tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableHeader' }));
var tableRowCells = [...document.querySelectorAll('#invoice tbody tr td:not(.exclude)')].map(tdElement => ({ text: tdElement.textContent, style: 'tableData' }));
var tableFooterCells = [...document.querySelectorAll('.tfoot tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableFooter' }));
var rows = []
var fila = []
var footerFooter = []
var footerAux = []
var cont = 0

$("#myTable tr:not(.tfoot").each(function(){
    if ($(this).is(":visible")){
        $(this).find("td:not(.exclude)").each(function(){
            fila.push($(this).text())
            cont = cont + 1
        })
        if ((cont==tableHeaderText.length)){
            rows.push(fila)
            fila = []
            cont = 0
        }
    }
})

var aux = ""
for (m in tableFooterCells){
    aux = tableFooterCells[m].text
}
var separar = aux.split("$")

for (m in tableHeaderText){

    if (m == 0){
        footerAux.push("BALANCE")
    }
    else{
        if (tableHeaderText[m].text === "Balance"){
            footerAux.push("$"+separar[1])
        }
        else{
            footerAux.push("")
        }
    }
    
}
footerFooter.push(footerAux)

var docDefinition = {
  content: [
    {
      layout: 'lightHorizontalLines', // optional
      style: 'tableExample',
      table: {
        headerRows: 2,
        body: [
        [{text: tableHeaderTextSup[0].text, colSpan: 8},"","","","","","",""],
        tableHeaderText,
        ...rows,
        ...footerFooter,
        ],
      },
      layout: {

          fillColor: function(rowIndex) {
            if (rowIndex === 0) {
              return '#F5F087';
            }
            if (rowIndex === 1) {
              return '#7C8FEC';
            }
            if (rowIndex === (rows.length + 2)) {
                return '#E77C7C';
            }
            return (rowIndex % 2 === 0) ? '#f2f2f2' : null;
          }
        },
    },
  ],
    styles: {
        tableExample: {
            // margin: [0, 20, 0, 80],
            margin: [0, 1, 0, 1],
            fontSize: 8,
        },
        tableHeaderSup: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableHeader: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableData: {
            margin: 1,
            // fontSize: 10,
        },
        fuente: {
            margin: 1,
            fontSize: 8,
        },
        tableFooter: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
    },
};

var nombrePersona = $("#nombrePersona").text()

pdfMake.createPdf(docDefinition).download(nombrePersona);

}

var vec = []
var i = 0
$("tbody tr").each(function(){
    $(this).find("td").each(function(){
        if($(this).attr("id")=="auxBalance"){
            vec[i] = $(this).text()
            i = i + 1
        }
    })
})
var auxMonto = $("#auxMonto").text()
var auxBalance = $("#auxBalance").text()
$("#entrySpending").change(function(){
    if ($(this).is(':checked')){
        $("tbody tr").each(function(){
        var bol = false
        
            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxMonto"){
                    auxMonto = $(this).text()
                }
                if ($(this).attr("id") == "auxBalance"){
                    auxBalance = $(this).text()
                    $(this).html(auxMonto)
                }
                
                $(this).find("div").each(function(){
                    if ($(this).attr("style")=="font-weight: bold;"){
                        bol = true
                    }
                })
            })
            if (bol == false){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
        $("#balanceTotal").hide()
        $("#balanceTotalFacMerc").show()
    }
    else{
        
        $("tbody tr").each(function(){
            $(this).show()

            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxBalance"){
                    $(this).html(vec[$(this).parent().index()])
                }
            })
        })
        $("#balanceTotalFacMerc").hide()
        $("#balanceTotal").show()
    }

    var cont2 = 0
    balanc = []
    var totalTotal = 0

        $("#myTable tr:not(.tfoot)").each(function(){
            if ($(this).is(":visible")){
                $(this).find("td:not(.exclude)").each(function(){
                    if ($(this).index() == $("#thBalance").index()) {
                        if($(this).attr("auxIngreso")=="True" && $(this).attr("auxCobrar")=="False" || $(this).attr("auxPagar")=="True"){
                            totalTotal = totalTotal + Math.abs(parseFloat($(this).attr("auxTotal").replace(',', '.')))
                            cont2 = cont2
                            if($(this).attr("auxCobrar")=="True"){
                                cont2 = cont2 + Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                            if($(this).attr("auxCatCobrada")=="FACTURA COBRADA"){
                                cont2 = cont2 - Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                        }
                        else{
                            totalTotal = totalTotal - Math.abs(parseFloat($(this).attr("auxTotal").replace(',', '.')))
                            cont2 = cont2
                            if($(this).attr("auxPagar")=="True"){
                                cont2 = cont2 - Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                            if($(this).attr("auxCatPagada")=="MERCANCIA CREDITO PAGADA"){
                                cont2 = cont2 + Math.abs(parseFloat($(this).attr("auxTotal")))
                            }
                        }
                        $(this).html("$"+cont2.toFixed(2))
                        balanc.push(cont2.toFixed(2))
                    }
                    
                })
            }
        })

        $(".tfoot").hide()
        $(".erase").remove()
        $("#invoice2").append("<table class='table-bordered invoice tfoot erase mb-2' style='font-size: small;' id='hInf'><head><tr style='background-color: #E77C7C;' class=''><th colspan=8 id='balanceTotal' class='p-2'>TOTAL $"+totalTotal.toFixed(2)+"</th></tr></head></table>")

        total = 0
        
        if(value==""){
            $(".erase").remove()
            $(".tfoot").show()
        }
    
})

$("#invoice").dragtable()


</script>
{% endif %}

{% endblock %}