{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

<div class="container mt-5 col-lg-4">
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="contNombre">Customer</label>
        <select name="contNombre" id="contNombre" class="form-select form-select-md" aria-label=".form-select-md example" required>
            <option value="" selected>Select customer</option>
            {% for cust in allCustomers %}
            <option value="{{cust.id}}">{{cust.nombre}} - {{cust.documento}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input value="all" class="form-check-input" id="search1" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">All</label>
        <input value="month" class="form-check-input" id="search2" type="radio" name="search">
        <label class="form-check-label" for="search2">This month</label>
        <input value="range" class="form-check-input" id="search4" type="radio" name="search">
        <label class="form-check-label" for="search4">Range</label>
        <input value="balance" class="form-check-input" id="search5" type="radio" name="search">
        <label class="form-check-label" for="search5">Last balance</label>
    </div>
    <div class="mb-3" id="formByRange" style="display: none;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <label for="searchDateFrom">From</label>
                    <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                </div>
                <div class="col-lg-6">
                    <label for="searchDateTo">To</label>
                    <input name="searchDateTo" id="searchDateTo" class="form-control" type="date">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Accept</button>
</form>

</div>
{% if factureName %}
<div class="container mt-2">
<a href="#" id="downloadexcel" class="btn btn-success">Excel</a>
<a href="#" onClick="generatePDF()" class="btn btn-success">PDF</a>
</div>
<div class="container mt-2">
<label for=""><span style="font-weight: bold;color: rgb(136,12,12);">Customer: </span>{{factureName.0.refPersona.nombre}}</label>
<table id="invoice" style="font-size: small;" class="table-bordered invoice draggable table-sortable mt-2 mb-2">
    <thead>
        <tr class="color text-white">
            <th class="p-2">Fact #</th>
            <th class="p-2">Date</th>
            <th class="p-2">Customer</th>
            <th class="p-2">Type</th>
            <th class="p-2">Note</th>
            <th class="p-2">Category</th>
            <th class="p-2">Debito</th>
            <th class="p-2">Credito</th>
            <th class="p-2">Balance</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for fact in factureName %}
        {% for key,value in balance.items %}
        {% if key == fact.id %}
        <tr>
            <td class="p-2">{{fact.num}}</td>
            <td class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td class="p-2">{{fact.refPersona.nombre}}</td>
            <td class="p-2">{{fact.refType.nombre}}</td>
            <td style="max-width: 200px;" class="p-2">{{fact.note}}</td>
            <td class="p-2">{{fact.refCategory.nombre}}</td>

            {% if fact.pendiente == True or fact.refType.nombre == "FACTURA POR COBRAR" %}
            <td class="p-2">$0.00</td>
            {% else %}
            <td class="p-2">${{fact.total|floatformat:2}}</td>
            {% endif %}

            {% if fact.pendiente == True or fact.refType.nombre == "FACTURA POR COBRAR" %}
            <td class="p-2">${{fact.total|floatformat:2}}</td>
            {% else %}
            <td class="p-2">$0.00</td>
            {% endif %}

            <td class="p-2">${{value|floatformat:2}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="container mb-5 table-bordered">
<table>
    <tr>
        <td style="width: 80px;" class="p-2 color text-white">Total</td>
        <td class="p-2">$ {{balanceTotal|floatformat:2}}</td>
    </tr>
</table>
</div>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>
<script>
$("#invoice").dragtable()
</script>
{% endif %}

{% endblock %}