{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/contSuperior.html" %}

{% include "spareapp/accountStatSuperior.html" %}

<div id="">
<div class="container mt-2">
<form action="" method="POST">
    {% csrf_token %}    
    <div class="mb-3">
        <input value="hoy" class="form-check-input" id="searchToday" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">Hoy</label>
        <input value="byDay" class="form-check-input" id="searchDay" type="radio" name="search">
        <label class="form-check-label" for="search2">Por día</label>
        <div class="mt-3 mb-3" id="formDay" style="display: none;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="searchDateFrom">Día</label>
                        <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
    <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
</form>

<div class="">
    <div class="col-lg-5">
        <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Filter... ">
    </div>
</div>

<div id="invoice2">
    <table id="" style="font-size: small;" class="table-bordered invoice mt-2">
        <thead id="hSup">
            <tr style="background-color: #F5F087;" class="excludeFooter">
                <th class="p-2">ESTADO DEL DÍA: {{tod}}</th>
            </tr>
        </thead>
    </table>

<table id="invoice" style="font-size: small;" class="table-bordered invoice draggable">
    <thead id="">
        <tr style="background-color: #7C8FEC;position: sticky;top: 70;" class="">
            <th class="p-2 include">Fact #</th>
            <th class="p-2 include">Fecha</th>
            <th class="p-2 include">Cliente</th>
            <th class="p-2 include">Tipo de pago</th>
            <th class="p-2 include">Nota</th>
            <th class="p-2 include">Categoría</th>
            <th id="facTotal" class="p-2 include">Total</th>
            <th id="check" class="p-2 exclude">Acción</th>
        </tr>
    </thead>
    {% if factureName %}
    <tbody id="myTable">
        {% for fact in factureName %}
        {% for key,value in balance.items %}
        {% if key == fact.id %}
        <tr>
            <td class="p-2">{{fact.num}}</td>
            <td class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td class="p-2"><a href="{% url 'contIndividual' fact.refPersona.id %}">{{fact.refPersona.nombre}}</a></td>
            <td class="p-2"><a href="{% url 'contListByType' fact.refType.nombre %}">{{fact.refType.nombre}}</a></td>
            <td style="max-width: 200px;" class="p-2">{{fact.note}}</td>
            <td class="p-2"><a href="{% url 'contListByCategory' fact.refCategory.nombre %}">{{fact.refCategory.nombre}}</a></td>
            <td class="p-2">${{fact.total|floatformat:2}}</td>

            <td class="p-2 exclude"><a style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fact.id request.get_full_path|cut:'/' %}">Editar</a>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
<table class="table-bordered invoice mb-2 tfoot" style="font-size: small;" id="hInf">
    <head>
        <tr style="background-color: #E77C7C;" class="">
            <th colspan=8 id="balanceTotal" class="p-2">TOTAL ${{balanceTotal|floatformat:2}}</th>
        </tr>
    </head>
</table>
</div>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>

<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>

<script>

$("#cod").on("keyup",function(){                                // Cuando se teclea algo
    var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
    var sumar = 0
    var aux = 0
    var total = 0
    $(".invoice tbody tr").filter(function(){                             // 
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    })
    $("#invoice tbody tr").each(function(){
        $(this).find("td").each(function(){
            if ($(this).index() == $("#facTotal").index()) {
                if ($(this).is(":visible")){
                    sumar = $(this).text()
                    aux = sumar.split("$")[1]
                }
                else{
                    aux = 0
                }
                
            }
        })
        
        total = total + parseFloat(aux)
    })
    
    $(".tfoot").hide()
    $(".erase").remove()
    $("#invoice2").append("<table class='table-bordered invoice tfoot erase' style='font-size: small;' id='hInf'><head><tr style='background-color: #E77C7C;' class=''><th colspan=8 id='balanceTotal' class='p-2'>TOTAL $"+total.toFixed(2)+"</th></tr></head></table>")

    total = 0
    
    if(value==""){
        $(".erase").remove()
        $(".tfoot").show()
    }
})

</script>

<script>

function generatePDF2(){

var tableHeaderTextSup = [...document.querySelectorAll('.excludeFooter th')].map(thElement => ({ text: thElement.textContent, style: 'tableHeaderSup' }));
var tableHeaderText = [...document.querySelectorAll('#invoice thead tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableHeader' }));
var tableRowCells = [...document.querySelectorAll('#invoice tbody tr td:not(.exclude)')].map(tdElement => ({ text: tdElement.textContent, style: 'tableData' }));
var tableFooterCells = [...document.querySelectorAll('.tfoot tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableFooter' }));
var rows = []
var fila = []
var footerFooter = []
var footerAux = []
var cont = 0
for (n in tableRowCells){
    fila.push(tableRowCells[n].text)
    cont = cont + 1
    if ((cont==tableHeaderText.length) && n>0){
        rows.push(fila)
        fila = []
        cont = 0
    }
}

var aux = ""
for (m in tableFooterCells){
    aux = tableFooterCells[m].text
}
var separar = aux.split("$")

for (m in tableHeaderText){

    if (m == 0){
        footerAux.push("TOTAL")
    }
    else{
        if (tableHeaderText[m].text === "Total"){
            footerAux.push("$"+separar[1])
        }
        else{
            footerAux.push("")
        }
    }
    
}
footerFooter.push(footerAux)

var docDefinition = {
  content: [
    {
      layout: 'lightHorizontalLines', // optional
      style: 'tableExample',
      table: {
        headerRows: 2,
        body: [
        [{text: tableHeaderTextSup[0].text, colSpan: 7},"","","","","",""],
        tableHeaderText,
        ...rows,
        ...footerFooter,
        ],
      },
      layout: {

          fillColor: function(rowIndex) {
            if (rowIndex === 0) {
              return '#F5F087';
            }
            if (rowIndex === 1) {
              return '#7C8FEC';
            }
            if (rowIndex === (rows.length + 2)) {
                return '#E77C7C';
            }
            return (rowIndex % 2 === 0) ? '#f2f2f2' : null;
          }
        },
    },
  ],
    styles: {
        tableExample: {
            // margin: [0, 20, 0, 80],
            margin: [0, 1, 0, 1],
            fontSize: 8,
        },
        tableHeaderSup: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableHeader: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableData: {
            margin: 1,
            // fontSize: 10,
        },
        fuente: {
            margin: 1,
            fontSize: 8,
        },
        tableFooter: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
    },
};

pdfMake.createPdf(docDefinition).download();

}

$("#invoice").dragtable()

</script>
{% endif %}

{% endblock %}