{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/accountStatSuperior.html" %}

<div id="">
<div class="container mt-2">
<form action="" method="POST">
    {% csrf_token %}    
    <div class="mb-3">
        <input value="hoy" class="form-check-input" id="searchToday" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">Hoy</label>
        <input value="byDay" class="form-check-input" id="searchDay" type="radio" name="search">
        <label class="form-check-label" for="search2">Por día</label>
        <div class="mt-3 mb-3" id="formDay" style="display: none;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="searchDateFrom">Día</label>
                        <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a style="font-size: small;" href="#" onClick="generatePDF()" class="btn btn-danger">PDF</a>
    <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
    <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
</form>

<table id="invoice" style="font-size: small;" class="table-bordered invoice draggable table-sortable mt-2 mb-2">
    <thead>
        <tr class="color text-white">
            <th class="p-2">Fact #</th>
            <th class="p-2">Fecha</th>
            <th class="p-2">Cliente</th>
            <th class="p-2">Tipo de pago</th>
            <th class="p-2">Nota</th>
            <th class="p-2">Categoría</th>
            <th class="p-2">Total</th>
            <th id="check" class="p-2">Acción</th>
        </tr>
    </thead>
    {% if factureName %}
    <tbody id="myTable">
        {% for fact in factureName %}
        {% for key,value in balance.items %}
        {% if key == fact.id %}
        <tr>
            <td class="p-2">{{fact.num}}</td>
            <td class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td class="p-2"><a href="{% url 'contIndividual' fact.refPersona.id %}">{{fact.refPersona.nombre}}</a></td>
            <td class="p-2"><a href="{% url 'contListByType' fact.refType.nombre %}">{{fact.refType.nombre}}</a></td>
            <td style="max-width: 200px;" class="p-2">{{fact.note}}</td>
            <td class="p-2"><a href="{% url 'contListByCategory' fact.refCategory.nombre %}">{{fact.refCategory.nombre}}</a></td>
            <td class="p-2">${{fact.total|floatformat:2}}</td>

            <td class="p-2"><a style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fact.id request.get_full_path|cut:'/' %}">Editar</a>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="container mb-5 table-bordered">
<table>
    <tr>
        <td style="width: 80px;" class="p-2 color text-white">Total</td>
        <td class="p-2">$ {{balanceTotal|floatformat:2}}</td>
    </tr>
</table>
</div>
</div>
<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>
<script>
$("#invoice").dragtable()

</script>
{% endif %}

{% endblock %}