{% extends "spareapp/base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}

{% load static %}

<div class="resultadoBusqueda">
    
    <div class="options my-2">
        <form name="cartForm" method="POST" action="">
        {% csrf_token %}
            <div class="row align-items-center">
                    <!-- <label for="">Select cart</label> -->
                    <div class="col-lg-2">
                        <select style="font-size: small;" name="cartN" id="cartN" class="form-control">
                            <option value="">Select cart</option>
                            {% for car in spCart %}
                                {% if car.nameUser|cut:" " == request.user|cut:" " %}
                                    <option value="{{car.spareId}}">Cart {{forloop.counter}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

            </div>
            <div class="row mt-2 mb-1">
                <div class="col-lg-10">
                    <div style="display: inline-block;">
                        <button value="cartOpen" type="submit" name="cartOpen" style="font-size: small;" class="btn btn-primary">Open</button>
                    </div>
                    <div style="display: inline-block;">
                        <button value="cartDelete" type="submit" name="cartDelete" style="font-size: small;" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div id="filterContent" class="row align-items-center">
            
            <div style="font-size: small;" class="col-lg-7 col-md-7 col-sm-12 col-12">
                <!-- Boton default -->
                <div style="display: inline-block;" class="">
                    <div style="font-size: small;" id="default" class="btn btn-success">Default</div>
                </div>
                
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                <div class="d-flex justify-content-end">
                    <div style="display: inline-block;" class="">
                        <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel4" data-toggle="dropdown" href="#">Options</a>
                        <ul style="font-size: small;" id="headerList4" class="color-soft dropdown-menu checkbox-menu allow-focus px-2" role="menu" aria-labelledby="dLabel4">            
                            <li><a class="dropdown-item" href="#" onClick="viewPDF()">View</a></li>
                            <li><a class="dropdown-item" href="#" onClick="generatePDF()">PDF</a></li>
                            <li><a class="dropdown-item" href="#" id="downloadexcel">Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <form method="POST" action="">
        {% include "spareapp/delete.html" %}
        
        {% csrf_token %}
        <input id="cartPasar" name="cartPasar" value="{{cartIdPasar}}" type="text" hidden= "true">

    <table style="font-size: small;" id="invoice" class="invoice draggable forget-ordering table-bordered">
        <thead>
            <tr class="color text-white dnd-moved">
                <!-- <th id="detail-id" class="trsup color" style="position: sticky;top: 70;">ID</th> -->
                <th id="code" class="trsup color" style="position: sticky;top: 70;">Code</th>
                <th id="type" class="trsup color" style="position: sticky;top: 70;">Description</th>
                <!-- {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega or request.user.profile.mayorista %}
                <th id="reference" class="trsup color" style="position: sticky;top: 70;">Ref. Code</th>
                {% endif %} -->
                <!-- <th id="car" class="trsup color" style="position: sticky;top: 70;">Car</th> -->
                <!-- <th id="engine" class="trsup color" style="position: sticky;top: 70;">Engine</th> -->
                <th id="brand" class="trsup color" style="position: sticky;top: 70;display: none;">Brand</th>
                <th id="category" class="trsup color" style="position: sticky;top: 70;">Category</th>
                <!-- <th id="subcategory" class="trsup color" style="position: sticky;top: 70;">Sub-Category</th> -->
                <!-- {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <th id="atributes" class="trsup color" style="position: sticky;top: 70;">Atributes</th>
                {% endif %} -->
                <!-- {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <th id="dimensions" class="trsup color" style="position: sticky;top: 70;display: none;">Dimensions</th>
                {% endif %} -->
                <!-- {% if request.user.is_superuser %}
                <th id="priceM" class="trsup color" style="position: sticky;top: 70;display: none;">Price Major</th>
                <th id="priceD" class="trsup color" style="position: sticky;top: 70;display: none;">Price Det.</th>
                {% endif %} -->
                <!-- <th id="photo" class="trsup color" style="position: sticky;top: 70;">Photo</th> -->
                <!-- {% if parameter == 'Engine code' %}
                <th id="ecode" class="trsup color" style="position: sticky;top: 70;">Eng. code</th>
                {% endif %} -->
                {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <th id="vendor" class="trsup color" style="position: sticky;top: 70;">Vendor</th>
                {% endif %}

                <th class="trsup color" style="position: sticky;top: 70;">Price</th>
                <th class="trsup color" style="position: sticky;top: 70;">Quantity</th>
                <th class="trsup color" style="position: sticky;top: 70;">Available</th>
                <!-- {% if request.user.is_authenticated %} -->
                <!-- <th id="check" class="trsup color" style="position: sticky;top: 70;"><input class="check" type="checkbox" onClick="toggle(this,'toAdd')"/></th>
                {% endif %} -->
                <th id="check" class="trsup color" style="position: sticky;top: 70;"><input class="check" type="checkbox" onClick="toggle(this,'toDel')"/></th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for car in spCartMain %}
        {% for br in spare %}
        {% if car.spareCode|add:"0" == br.id|add:"0" %}
        <tr class="dnd-moved">
            <!-- <td class="pr-0"><a href="#"></a></div></td> -->

            {% if br.spare_code %}
            <td class="pr-0 py-2"><a id="spareCodeInfo" href="{% url 'sparedetails' br.id %}">{{br.spare_code}}</a></td>
            {% else %}
            <td class="pr-0 py-2"><a href="#"></a></td>
            {% endif %}
            
            {% if br.spare_name %}
            <td style="max-width: 120px;" class="pr-0"><a href="{% url 'sparedetails' br.id %}">{{br.spare_name}}</a></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><a href="#"></a></td>
            {% endif %}

            <!-- {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega or request.user.profile.mayorista %}
            {% if reference %}
            <td style="max-width: 120px;" class="pr-0">
                {% for dim in reference %} -->
                <!-- {% with name=1 %}  -->
                <!-- <div>{{name}}</div> -->
                <!-- {% endwith %} -->
                <!-- |slice:":5" -->
                    <!-- {% if br.spare_code == dim.referenceSpare.spare_code %}
                    <div><a id="spareCodeInfo" href="#">{{dim.referenceCode}} {{dim.referenceNote}}</a></div>
                    {% endif %}
                {% endfor %}
            </td>
            {% else %}
                <td style="max-width: 120px;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %} -->

            <!-- {% if br.car_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.car_info.all %}
                    <a style="display: block;" id="spareCar" href="#">{{a}}</a>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><a href="#"></a></td>
            {% endif %} -->

            <!-- {% if br.engine_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.engine_info.all %}
                    <div id="spareEngine">{{a.engine_l}} {{a.engine_ide}}</div>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><div></div></td>
            {% endif %} -->

            {% if br.spare_category %}
            <td style="max-width: 120px;" class="pr-0"><a id="categoryInfo" href="{% url 'sparedetails' br.id %}">{{br.spare_category}}</a></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><a id="categoryInfo" href="#"></a></td>
            {% endif %}

            

            <!-- {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allAtributes %}
                <td style="max-width: 120px;" class="pr-0">
                    {% for dim in allAtributes|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.atributeSpare.spare_code %}
                        <div class="">
                            <a id="{{dim.atributeName|cut:' '}}Value" href="#">
                                <div style="overflow:hidden" class="">
                                    <div class="row">
                                        <div id="AtrName" class="col-lg-6 col-md-6 text-right px-0 pr-1">{{dim.atributeName}}:</div>
                                        <div id="AtrVal" class="col-lg-6 col-md-6 text-left px-0">{{dim.atributeVal}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %} -->
<!-- 
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allDimensions %}
                <td style="max-width: 120px;display: none;" class="">
                    {% for dim in allDimensions|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.dimensionSpare.spare_code %}
                        <div class=""><a id="{{dim.atributeName|cut:' '}}Value" href="#"><div class="cantainer"><div class="row"><div id="AtrName" style="position: static;" class="col-lg-6">{{dim.atributeName}}</div><div id="AtrVal" style="position: static;" class="col-lg-6 ms-auto">{{dim.atributeVal|floatformat:2}} mm</div></div></div></a></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;display: none;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %} -->
            
            <!-- {% if request.user.is_superuser %}
            {% if br.price_m %}
            <td class="pr-0" style="display: none;"><a href="#">$ {{br.price_m|floatformat:2}}</a></td>
            {% else %}
            <td class="pr-0" style="display: none;"><a href="#"></a></td>
            {% endif %}

            {% if br.price_d %}
            <td class="pr-0" style="display: none;"><a href="#">$ {{br.price_d|floatformat:2}}</a></td>
            {% else %}
            <td class="pr-0" style="display: none;"><a href="#"></a></td>
            {% endif %}
            {% endif %} -->

            <!-- {% if br.spare_photo %}
            <td class="pr-0"><a href="#"><div id="mainPhoto" style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
            {% else %}
            <td class="pr-0"><a href="#"></a></td>
            {% endif %}
            
            {% if parameter == 'Engine code' %}
            <td class="pr-0"><a href="#">{{mig}}</a></td>
            {% endif %} -->

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if br.spare_vendor.all %}
            <td class="pr-0">
                {% for dim in allVendors %}
                    {% for sp in br.spare_vendor.all %}

                        {% if sp.vendorName == dim.vendorName %}
                            <div><a id="vendorInfo" href="#">{{sp.vendorName}}</a></div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            </td>
            {% else %}
            <td class="pr-0"><div><a id="vendorInfo" href="#"></a></div></td>
            {% endif %}
            {% endif %}

            <td><a href="#">0.00$</a></td>
            <td><a href="#">Quantity</a></td>
            <td><a href="#">50</a></td>

            <td class="pr-0"><input class="check" type="checkbox" name="toDel" value="{{br.id}}"></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% include "spareapp/numPagesDown.html" %}
    
</form>
</div>

<!-- Para generar PDF con js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>
<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<script>
$('tbody').sortable({
    stop:function(){
        var i = 1;
        $("tbody tr").each(function(){
            $(this).find("td").each(function(){
                if($(this).index()==$("#detail-id").index()){
                    if($(this).parent().is(":visible")){
                        $(this).text(i)
                        i=i+1;
                    }
                }
                
            })
        });
    }
});

$(function () {
  $('[data-bs-toggle="popover"]').popover()
})

function enviarPost(url){
  var formulario = document.cartForm;
  formulario.action = url;
  formulario.submit();
}

</script>
{% load static %}
{% endblock %}





