{% extends "spareapp/base.html" %}

{% block title %} Auto Repuestos Interamericana {% endblock %}

{% block content %}

<div class="options my-2 px-4 invoicecont">
    <div id="filterContent" class="row d-flex justify-content-center align-items-center">

        <div class="mt-1">
            <div class="d-flex justify-content-end">

                {% if request.user.is_superuser %}
                <div style="display: inline-block;" class="mr-1">
                    <a style="font-size: small;" class="btn btn-success mx-1" id="adminButton" href="{% url 'filldb' %}">Admin</a>
                </div>
                {% endif %}

            </div>
        </div>

        <table style="font-size: small;" id="invoice" class="invoice table-sortable draggable table-bordered mt-2">
            <thead id="hMain" class="">
                <tr class="color text-white dnd-moved">
                    <th id="check" class="trsup color" style="position: sticky;top: 70;"></th>
                    <th class="trsup color" style="position: sticky;top: 70;">Code</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Car : Engine</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Category</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Brand</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Price</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Quantity</th>
                    <th class="trsup color" style="position: sticky;top: 70;">Sub Total</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for br in cart %}
                <tr class="dnd-moved">
                    <td class="check justify-content-center">
                        <div data-bs-toggle="modal" data-bs-target="#exampleModal{{br.id}}" data-parametro="-" id="openS" style="cursor: pointer;color: rgb(136,12,12);" onclick="openCart(this,{{br.id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg>
                        </div>
                    </td>
                    <td style="min-width: 50px;max-width: 60px;" class="pr-0">
                        <div class="col fw-bold">{{br.product.spare.spare_code}}</div>
                        {% for a in allReferences %}
                            {% if a.referenceSpare.id == br.product.spare.id %}
                            <div class="col"> {{a.referenceCode}} {{a.referenceNote|slice:"0:3"}}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style="min-width: 100px;max-width: 180px;" class="pr-0">Car : Engine</td>
                    <td style="max-width: 120px;" class="pr-0">{{br.product.spare.spare_category}}</td>
                    <td style="min-width: 50px;max-width: 90px;" class="pr-0">{{br.product.brand.brand}}</td>
                    <td style="min-width: 50px;max-width: 90px;" class="pr-0">${{br.product.brandPrice|stringformat:'.2f'}}</td>
                    <td class="pr-0"><input min="0" step="1" style="max-width: 50px;" class="" type="number" value="{{br.quantity|stringformat:'.0f'}}"></td>
                    <td style="min-width: 50px;max-width: 90px;" class="pr-0">${{br.Total|stringformat:'.2f'}}</td>
                </tr>

                <div class="modal fade" id="exampleModal{{br.id}}" tabindex="-1" aria-labelledby="exampleModal{{br.id}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal{{br.id}}Label">Caution</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Are you sure to eliminate the spare {{br.product.spare.spare_code}}?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                        <a id="deletebrand" class="btn btn-primary" href="{% url 'deleteCart' br.id %}">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>

        <!-- <div id="cabeza" class="row text-white invoice mt-2 p-0 m-0">
            
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="spare"  class="trsup color col py-2 th"><div style="display: inline-block" class="" >Code</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="brand" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Car : Engine</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="brand" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Category</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="brand" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Brand</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="price" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Price</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="quantity" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Quantity</div></div>
            <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="subtotal" class="trsup color col py-2 th"><div style="display: inline-block" class="" >Sub Total</div></div>
            

        </div>
        <div id="cuerpo" style="font-size: small;background-color: rgb(180, 180, 180)" class="invoice p-0 m-0">
            {% for br in cart %}
            <div class="unique">
                <div id="fila{{br.id}}" style="font-size: small;" class="row p-0 m-0 headEngine td">
                    <div class="col d-flex align-items-center justify-content-center py-2">
                        <div class="row flex-column">
                            <div class="col fw-bold">{{br.product.spare.spare_code}}</div>
                            {% for a in allReferences %}
                                {% if a.referenceSpare.id == br.product.spare.id %}
                                <div class="col"> {{a.referenceCode}} </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center py-2">Car : Engine</div>
                    <div class="col d-flex align-items-center justify-content-center py-2"> {{br.product.spare.spare_category}} </div>
                    <div class="col d-flex align-items-center justify-content-center py-2">{{br.product.brand.brand}}</div>
                    <div class="col d-flex align-items-center justify-content-center py-2">${{br.product.brandPrice|stringformat:'.2f'}}</div>
                    <div class="col d-flex align-items-center justify-content-center py-2"> <input min="0" step="1" style="max-width: 70px;" class="" type="number" value="{{br.quantity|stringformat:'.0f'}}"></div>
                    <div class="col d-flex align-items-center justify-content-center py-2">${{br.Total|stringformat:'.2f'}}</div>
                </div>
            </div>
            {% endfor %}
        </div> -->

        
    </div>
</div>
<div class="options my-2 container invoicecont d-flex justify-content-center">
    <div style="font-size: small;" id="total" class="row invoice d-flex p-0 m-0">
        <div class="col d-flex align-items-center justify-content-center py-2"></div>
        <div class="col d-flex align-items-center justify-content-center py-2"></div>
        <div class="col d-flex align-items-center justify-content-center py-2"></div>
        <div class="col d-flex align-items-center justify-content-center py-2 trsup color" style="color:aliceblue;font-weight: bold;" >Total</div>
        <div style="font-size: small;background-color: rgb(180, 180, 180)" class="col d-flex align-items-center justify-content-center py-2">${{totalTotal|stringformat:'.2f'}}</div>
    </div>
</div>

{% endblock %}