{% extends "spareapp/contBase.html" %}

{% block title %} Type {% endblock %}

{% block content %}

<div class="container mb-2 mt-5">
    <div>
        <div class="d-flex justify-content-center" style="font-weight: bold;color: rgb(136,12,12);" class="">Factures</div>
        <div for=""><span style="font-weight: bold;">By date: </span>{{typeDate}}</div>
        <div for=""><span style="font-weight: bold;">By type: </span>{{val}}</div>
    </div>
</div>

</div>
<div class="container">
    <table class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2"># Factura</th>
                <th class="p-2">Nombre</th>
                <th class="p-2">Categoría</th>
                <th class="p-2">Monto</th>
                <th class="p-2">ITBM</th>
                <th class="p-2">Total</th>
                <th class="p-2">Option</th>
            </tr>
        </thead>

        <tbody>
            {% for fac in allFacturesVal %}
            <tr>
                <td class="p-2">{{fac.num}}</td>
                <td class="p-2"><a href="{% url 'contIndividual' fac.refPersona.id %}">{{fac.refPersona}}</a></td>
                <td class="p-2">{{fac.refCategory}}</td>
                <td class="p-2">${{fac.monto|floatformat:2}}</td>
                <td class="p-2">${{fac.iva|floatformat:2}}</td>
                <td class="p-2">${{fac.total|floatformat:2}}</td>
                <td class="p-2"><a style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fac.id %}">Edite</a>
                    {% if fac.pendiente == True %}
                    {% if fac.refCategory.ingreso == True %}
                    <a href="{% url 'contCollectFac' fac.id %}" type="button" style="font-size: small;color: aliceblue;" class="btn btn-danger">Collect</a></td>
                    {% else %}
                    <a href="{% url 'contPayFac' fac.id %}" type="button" style="font-size: small;color: aliceblue;" class="btn btn-danger">Pay</a>
                    {% endif %}
                    {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2">$ {{montoTotal|floatformat:2}}</td>
                <td class="p-2">$ {{itbmTotal|floatformat:2}}</td>
                <td class="p-2">$ {{totalTotal|floatformat:2}}</td>
            </tr>
            
            
        </tbody>
    </table>
</div>



{% endblock %}