{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/contSuperior.html" %}

{% include "spareapp/accountStatSuperior.html" %}

<div class="container mt-2 col-lg-4">
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="contNombre">Categoría</label>
        <select name="contNombre" id="contNombre" class="form-select form-select-md" aria-label=".form-select-md example" required>
            <option value="" selected>Seleccionar categoría</option>
            {% for cust in allCategorys %}
            <option value="{{cust.id}}">{{cust.nombre|upper}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input value="all" class="form-check-input" id="search1" type="radio" name="search" checked>
        <label class="form-check-label" for="search1">Todos</label>
        <input value="range" class="form-check-input" id="search4" type="radio" name="search">
        <label class="form-check-label" for="search4">Rango</label>
    </div>
    <div class="mb-3" id="formByRange2" style="display: none;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <label for="searchDateFrom">Desde</label>
                    <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                </div>
                <div class="col-lg-6">
                    <label for="searchDateTo">Hasta</label>
                    <input name="searchDateTo" id="searchDateTo" class="form-control" type="date">
                </div>
            </div>
        </div>
    </div>
    <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
    <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
</form>

</div>
{% if factureName %}
<div class="container mt-2">

<div id="invoice2">
    <table id="" style="font-size: small;" class="table-bordered invoice mt-2">
        <thead id="hSup">
            <tr style="background-color: #F5F087" class="excludeFooter">
                <th colspan="10" class="p-2">{{factureName.0.refCategory.nombre|upper}}: Desde {{dayFrom}} hasta {{dayTo}}</th>
            </tr>
        </thead>
    </table>

<table id="invoice" style="font-size: small;" class="table-bordered invoice draggable table-sortable mb-2">
    <thead>
        <tr style="background-color: #7C8FEC;position: sticky;top: 70;" class="">
            <th class="p-2 include">Fecha</th>
            <th class="p-2 include">Cliente</th>
            <th class="p-2 include">Fact #</th>
            <th class="p-2 include">Categoría</th>
            <th class="p-2 include">Tipo de pago</th>
            <th class="p-2 include">Monto</th>
            <th class="p-2 include">Nota</th>
            <th id="check" class="p-2 exclude">Acción</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for fact in factureName %}
        <tr>
            <td class="p-2">{{fact.fechaCreado|date:"M d, Y"}}</td>
            <td class="p-2"><a href="{% url 'contIndividual' fact.refPersona.id %}">{{fact.refPersona}}</a></td>
            <td class="p-2">{{fact.num}}</td>
            <td class="p-2">{{fact.refCategory.nombre|upper}}</td>
            <td class="p-2"><a href="{% url 'contListByType' fact.refType.nombre %}">{{fact.refType.nombre|upper}}</a></td>
            <td class="p-2">${{fact.total|stringformat:".2f"}}</td>
            <td style="max-width: 200px;" class="p-2">{{fact.note}}</td>
            <td class="p-2 exclude"><a style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fact.id request.get_full_path|cut:'/' %}">Editar</a>
        </tr>
        {% endfor %}
        
    </tbody>
    <tfoot class="table-bordered invoice" style="font-size: small;" id="hInf">
        <tr {% if balanceTotal == 0 %} style="background-color: #4e4e4e;color: white" {% else %} {% if value < 0 %} style="background-color: #c90a0a;color: white" {% else %} style="background-color: #6a57d1;color: white" {% endif %} {% endif %} class="">
            <th class="p-2" colspan="10">BALANCE ${{balanceTotal|stringformat:".2f"}}</td>
        </tr>
    </tfoot>
</table>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>

<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>

<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<script type="text/javascript">
        $("#downloadexcela").click(function(){

            var body = document.getElementsByTagName("body")[0];
            var tabla   = document.createElement("table");
            var tblBody = document.createElement("tbody");
            var tblHead = document.createElement("thead");

            $("#invoice thead tr").each(function(){
                var hilera = document.createElement("tr");
                $(this).find("th:not(#check)").each(function(){
                    var celda = document.createElement("th");
                    var textoCelda = document.createTextNode($(this).text());
                    celda.appendChild(textoCelda);
                    hilera.appendChild(celda);
                })
                tblHead.appendChild(hilera)
            })

            $("#invoice tbody tr").each(function(){
                if ($(this).is(":visible")){
                    var hilera = document.createElement("tr");
                    $(this).find("td:not(.exclude)").each(function(){
                        if ($(this).is(":visible")){
                            var celda = document.createElement("td");
                            var textoCelda = document.createTextNode($(this).text());
                            celda.appendChild(textoCelda);
                            hilera.appendChild(celda);
                        }
                    })
                    tblBody.appendChild(hilera)
                }
            })

            tabla.appendChild(tblHead);
            tabla.appendChild(tblBody);
            body.appendChild(tabla);
            tabla.style.display = "none"
            tabla.setAttribute("id", "prueba");

            let table = document.getElementById("prueba")

            TableToExcel.convert(table, {
                name: `export.xlsx`,
                sheet: {
                name: 'Sheet 1'
                }
            });
            $("#prueba").remove()
        })
</script>

<script>
    $("#search4").click(function(){
        $("#formByRange2").show()
    })
</script>

<script>

function generatePDF2(){

var tableHeaderTextSup = [...document.querySelectorAll('.excludeFooter th')].map(thElement => ({ text: thElement.textContent, style: 'tableHeaderSup' }));
var tableHeaderText = [...document.querySelectorAll('#invoice thead tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableHeader' }));
var tableRowCells = [...document.querySelectorAll('#invoice tbody tr td:not(.exclude)')].map(tdElement => ({ text: tdElement.textContent, style: 'tableData' }));
var tableFooterCells = [...document.querySelectorAll('#invoice tfoot tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableFooter' }));
var rows = []
var fila = []
var footerFooter = []
var footerAux = []
var cont = 0
for (n in tableRowCells){
    fila.push(tableRowCells[n].text)
    cont = cont + 1
    if ((cont==tableHeaderText.length) && n>0){
        rows.push(fila)
        fila = []
        cont = 0
    }
}

var aux = ""
for (m in tableFooterCells){
    aux = tableFooterCells[m].text
}
var separar = aux.split("$")

for (m in tableHeaderText){

    if (m == 0){
        footerAux.push("BALANCE")
    }
    else{
        if (tableHeaderText[m].text === "Monto"){
            footerAux.push("$"+separar[1])
        }
        else{
            footerAux.push("")
        }
    }
    
}
footerFooter.push(footerAux)

var docDefinition = {
  content: [
    {
      layout: 'lightHorizontalLines', // optional
      style: 'tableExample',
      table: {
        headerRows: 2,
        body: [
        [{text: tableHeaderTextSup[0].text, colSpan: 7},"","","","","",""],
        tableHeaderText,
        ...rows,
        ...footerFooter,
        ],
      },
      layout: {

          fillColor: function(rowIndex) {
            if (rowIndex === 0) {
              return '#F5F087';
            }
            if (rowIndex === 1) {
              return '#7C8FEC';
            }
            if (rowIndex === (rows.length + 2)) {
                return '#E77C7C';
            }
            return (rowIndex % 2 === 0) ? '#f2f2f2' : null;
          }
        },
    },
  ],
    styles: {
        tableExample: {
            // margin: [0, 20, 0, 80],
            margin: [0, 1, 0, 1],
            fontSize: 8,
        },
        tableHeaderSup: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableHeader: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableData: {
            margin: 1,
            // fontSize: 10,
        },
        fuente: {
            margin: 1,
            fontSize: 8,
        },
        tableFooter: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
    },
};

pdfMake.createPdf(docDefinition).download();

}

var vec = []
var i = 0
$("tbody tr").each(function(){
    $(this).find("td").each(function(){
        if($(this).attr("id")=="auxBalance"){
            vec[i] = $(this).text()
            i = i + 1
        }
    })
})
var auxMonto = $("#auxMonto").text()
var auxBalance = $("#auxBalance").text()
$("#entrySpending").change(function(){
    if ($(this).is(':checked')){
        $("tbody tr").each(function(){
        var bol = false
        
            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxMonto"){
                    auxMonto = $(this).text()
                }
                if ($(this).attr("id") == "auxBalance"){
                    auxBalance = $(this).text()
                    $(this).html(auxMonto)
                }
                
                $(this).find("div").each(function(){
                    if ($(this).attr("style")=="font-weight: bold;"){
                        bol = true
                    }
                })
            })
            if (bol == false){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
        $("#balanceTotal").hide()
        $("#balanceTotalFacMerc").show()
    }
    else{
        
        $("tbody tr").each(function(){
            $(this).show()

            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxBalance"){
                    $(this).html(vec[$(this).parent().index()])
                }
            })
        })
        $("#balanceTotalFacMerc").hide()
        $("#balanceTotal").show()
    }
    
})

$("#invoice").dragtable()


</script>
{% endif %}

{% endblock %}