{% extends "spareapp/contBase.html" %}

{% block title %} Type {% endblock %}

{% block content %}

<input id="returnPath" value="{{request.path}}" style="display: none;" type="text">

<div class="container mb-2 mt-5">
    <div>
        <div class="d-flex justify-content-center" style="font-weight: bold;color: rgb(136,12,12);" class="">Factures</div>
        <div for=""><span style="font-weight: bold;">By date: </span>{{typeDate}}</div>
        <div for=""><span style="font-weight: bold;">By type: </span>{{val}}</div>
    </div>
</div>

</div>
<div class="container">
    <table class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2"># Factura</th>
                <th class="p-2">Nombre</th>
                <th class="p-2">Categoría</th>
                <th class="p-2">Nota</th>
                <th class="p-2">Monto</th>
                <th class="p-2">ITBM</th>
                <th class="p-2">Total</th>
                <th class="p-2">Option</th>
            </tr>
        </thead>

        <tbody>
            {% for fac in allFacturesVal %}
            <tr>
                <td class="p-2">{{fac.num}}</td>
                <td class="p-2"><a href="{% url 'contIndividual' fac.refPersona.id %}">{{fac.refPersona}}</a></td>
                <td class="p-2">{{fac.refCategory}}</td>
                <td class="p-2">{{fac.note}}</td>
                <td class="p-2">${{fac.monto|floatformat:2}}</td>
                <td class="p-2">${{fac.iva|floatformat:2}}</td>
                <td class="p-2">${{fac.total|floatformat:2}}</td>
                <td class="p-2"><input id="pathId" value="{{fac.id}}" style="display: none;" type="text"><input id="returnPath" value="{{request.path}}" style="display: none;" type="text"><a id="editButton" style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fac.id request.get_full_path|cut:'/' %}">Editar</a>
                    {% if fac.pendiente == True %}
                    {% if fac.refCategory.ingreso == True %}

                    <a data-bs-toggle="modal" type="button" data-bs-target="#modalCobrar{{fac.id}}" style="font-size: small;color: aliceblue;" id="modalCobrar{{fac.id}}Id" class="btn btn-danger" href="javascript:void(0);">Cobrar</a>
                    <div tabindex="-1" id="modalCobrar{{fac.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="modalCobrar{{fac.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCobrar{{fac.id}}Label">Tipo de pago</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"> 
                                    <form id="formCust" method="POST" action="{% url 'contCollectFac' fac.id %}">
                                        {% csrf_token %}
                                        <select name="contTypeIng" id="contTypeIng" class="form-select form-select-md mb-3" required>
                                            <option value="" selected>Seleccione tipo de pago</option>
                                            {% for type in allTypes %}
                                            <option value="{{type.id}}">{{type.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="mb-3">
                                            <label class="form-label" for="contNota">Nota</label>
                                            <textarea class="form-control" id="contNota" type="textarea" name="contNota"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                    
                                </div>   
                            </div>
                        </div>
                    </div> 
                    {% else %}

                    <a data-bs-toggle="modal" type="button" data-bs-target="#modalPagar{{fac.id}}" style="font-size: small;color: aliceblue;" id="modalPagar{{fac.id}}Id" class="btn btn-danger" href="javascript:void(0);">Pagar</a>
                    <div tabindex="-1" id="modalPagar{{fac.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="modalPagar{{fac.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalPagar{{fac.id}}Label">Tipo de pago</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"> 
                                    <form id="formCust" method="POST" action="{% url 'contPayFac' fac.id %}">
                                        {% csrf_token %}
                                        <select name="contTypeIng" id="contTypeIng" class="form-select form-select-md mb-3" required>
                                            <option value="" selected>Seleccione tipo de pago</option>
                                            {% for type in allTypes %}
                                            <option value="{{type.id}}">{{type.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="mb-3">
                                            <label class="form-label" for="contNota">Nota</label>
                                            <textarea class="form-control" id="contNota" type="textarea" name="contNota"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                    
                                </div>   
                            </div>
                        </div>
                    </div> 
                    {% endif %}
                    {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2">$ {{montoTotal|floatformat:2}}</td>
                <td class="p-2">$ {{itbmTotal|floatformat:2}}</td>
                <td class="p-2">$ {{totalTotal|floatformat:2}}</td>
            </tr>
            
            
        </tbody>
    </table>
</div>
<script>
// $("#editButton").on("submit",function(){
//     urlId = $("#pathId").val()
//     urlPath = $("#returnPath").val()
//     trueUrl = "/editeFact/"+urlId
//     $.ajax({
//         url: trueUrl,
//         type: "GET",
//         data: {"urlPath":urlPath},
        
//         success: function(data){
//             console.log("Success")
//         }
//     })
// })
</script>

{% endblock %}