<html>

    <body>
        
        {% if tod %}
        <div class="container mt-2">Día: {{tod}}</div>
        {% else %}
            {% if dateFrom %}
            <div class="container mt-2">Desde: {{dateFrom}}, hasta: {{dateTo}}</div>
            {% else %}
            <div class="container mt-2">Hoy: {% now "Y-m-d" %}</div>
            {% endif %}
        {% endif %}


        <div class="container">
            <div class="row mt-2">
                <form id="formByDay" method="POST" action="{% url 'contByDay' %}" style="display: none;">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <input name="searchDate" id="searchDate" class="form-control" type="date" required>
                            </div>
                        </div>
                        <div class="col-lg-1 d-flex align-items-center mt-2">
                            <button type="submit" class="btn btn-danger" style="font-size: small;" href="">Buscar</button>
                        </div>
                    </div>
                </form>
                <form id="formByRange" method="POST" action="{% url 'contByRange' %}" style="display: none;">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="searchDateFrom">From</label>
                                <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date" required>
                            </div>
                            <div class="col-lg-2">
                                <label for="searchDateTo">To</label>
                                <input name="searchDateTo" id="searchDateTo" class="form-control" type="date" required>
                            </div>
                        </div>
                        <div class="col-lg-1 d-flex align-items-center mt-2">
                            <button type="submit" class="btn btn-danger" style="font-size: small;" href="">Buscar</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-8">
                    <a href="{% url 'contAdmin' %}" style="font-size: small;" class="btn btn-secondary">Admin</a>
                    <a href="{% url 'contEntry' %}" style="font-size: small;" class="btn btn-primary">Agregar</a>
                    <a href="{% url 'accountStat' %}" style="font-size: small;" class="btn btn-primary">Estado de cuenta</a>
                    <a style="font-size: small;" href="#" onClick="generatePDF2()" class="btn btn-danger">PDF</a>

                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: small;">Buscar</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a onClick="functionByDay()" id="byDay" class="dropdown-item" href="#">Por día</a></li>
                        <li><a onClick="functionByRange()" id="byRange" class="dropdown-item" href="#">Por rango</a></li>
                    </ul>
                    <a style="font-size: small;" href="{% url 'customTables' %}" class="btn btn-primary">Custom tables</a>
                    <a style="font-size: small;" href="{% url 'comparar' %}" class="btn btn-primary">Compare Tables</a>
                </div>
                <div class="col-lg-4 d-flex justify-content-end">
                    <div>
                        <a href="{% url 'contToCollect' %}" style="font-size: small;" type="button" class="btn btn-primary">
                            Facturas por cobrar<span class="badge bg-secondary">{{facturesToCollect}}</span>
                        </a>
                    </div>
                    <div class="px-1">
                        <a href="{% url 'contToPay' %}" style="font-size: small;" type="button" class="btn btn-primary">
                            Mercancía por pagar<span class="badge bg-secondary">{{facturesToPay}}</span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>