{% extends "spareapp/contBase.html" %}

{% block title %} Add Category {% endblock %}

{% block content %}

{% include "spareapp/contAddAdmin.html" %}

<div class="d-flex justify-content-center">
    <div class="container  mt-5 col-lg-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="catNombre">Nombre de la categoría</label>
                <input class="form-control" id="catNombre" type="text" name="catNombre" required>
            </div>
            <div class="mb-3">
                <label for="catIngreso">Ingreso</label>
                <input id="catIngreso" name="catIngreso" type="checkbox">
            </div>
            <div class="mb-3">
                <label for="catEgreso">Gasto</label>
                <input id="catEgreso" name="catEgreso" type="checkbox">
            </div>
            <div class="mb-3">
                <label for="catExpirationDate">Tiene fecha de expiración</label>
                <input id="catExpirationDate" name="catExpirationDate" type="checkbox">
            </div>
            
            <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
            <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}