{% extends "spareapp/contBase.html" %}

{% block title %} To Pay {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center container mt-5 col-lg-4">
    <label for=""><span style="font-weight: bold;color: rgb(136,12,12);">Por pagar</span></label>
</div>

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2"># Factura</th>
                <th class="p-2">Nombre</th>
                <th class="p-2">Categoría</th>
                <th class="p-2">Fecha de registro</th>
                <th class="p-2">Límite</th>
                <th class="p-2">Sub total</th>
                <th class="p-2">IVA</th>
                <th class="p-2">Total</th>
                <th class="p-2">Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for facture in allFacturesPay %}
            <tr>
                <td class="p-2">{{facture.num}}</td>
                <td class="p-2"><a href="{% url 'contIndividual' facture.refPersona.id %}">{{facture.refPersona}}</a></td>
                <td class="p-2">{{facture.refCategory}}</td>
                <td class="p-2">{{facture.fechaCreado|date:"M d, Y"}}</td>
                {% for key,value in deadlineDic.items %}
                    {% if key == facture.id %}
                        <td style="max-width: 120px;" class="p-2">{{value}} days</td>
                    {% endif %}
                {% endfor %}
                <td class="p-2">${{facture.monto|floatformat:2}}</td>
                <td class="p-2">{{facture.iva|floatformat:2}}</td>
                <td class="p-2">${{facture.total|floatformat:2}}</td>
                <td class="p-2"><a data-bs-toggle="modal" type="button" data-bs-target="#modalPagar{{facture.id}}" style="font-size: small;color: aliceblue;" id="modalPagar{{facture.id}}Id" class="btn btn-danger" href="javascript:void(0);">Pagar</a></td>

                <div tabindex="-1" id="modalPagar{{facture.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="modalPagar{{facture.id}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalPagar{{facture.id}}Label">Tipo de pago</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"> 
                                <form id="formCust" method="POST" action="{% url 'contPayFac' facture.id %}">
                                    {% csrf_token %}
                                    <select name="contTypeIng" id="contTypeIng" class="form-select form-select-md mb-3" required>
                                        <option value="" selected>Seleccione tipo de pago</option>
                                        {% for type in allTypes %}
                                        <option value="{{type.id}}">{{type.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="mb-3">
                                        <label class="form-label" for="contNota">Nota</label>
                                        <textarea class="form-control" id="contNota" type="textarea" name="contNota"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                                
                            </div>   
                        </div>
                    </div>
                </div> 

            </tr>
            {% endfor %}
            
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2">${{montoTotal|floatformat:2}}</td>
                <td class="p-2"></td>
                <td class="p-2">${{totalTotal|floatformat:2}}</td>
                <td class="p-2"></td>
            </tr>
            
        </tbody>
    </table>
</div>




{% endblock %}