<html>
    <body>
        
        <div class="container col-lg-4 mt-2 d-flex justify-content-center">
            <a style="font-size: small;" class="btn btn-primary mx-1" href="{% url 'contAddType' %}">Add type</a>
            <a style="font-size: small;" class="btn btn-primary" href="{% url 'contAddCategory' %}">Add category</a>
        </div>
        <div class="container col-lg-4 mt-1 d-flex justify-content-center">
            <a style="font-size: small;" class="btn btn-secondary mx-1" href="{% url 'contListType' %}">Type list</a>
            <a style="font-size: small;" class="btn btn-secondary" href="{% url 'contListCategory' %}">Category list</a>
        </div>

    </body>
</html>