{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperior.html" %}

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total contable</th>
            </tr>
        </thead>
        <tbody>
            {% for tab in tableAux %}
            <tr>
                {% if tab.tabTipo.include == True %}
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>{{tab.tabTipo}}</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total contable</td>
                <td class="p-2">${{contTotal|floatformat:2}}</td>
            </tr>

        </tbody>
    </table>
</div>


<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total no contable (Ingresos)</th>
            </tr>
        </thead>

        <tbody>

            {% for tab in tableAux %}
            <tr>
                {% if tab.tabTipo.include == False and tab.tabTipo.ingreso == True %}
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>( {{tab.tabTipo}} )</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total no contable (Ingresos)</td>
                <td class="p-2">${{noIncludeTotal|floatformat:2}}</td>
            </tr>
            
        </tbody>
    </table>
</div>

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total no contable (Gastos)</th>
            </tr>
        </thead>

        <tbody>

            {% for tab in tableAux %}
            <tr>
                {% if tab.tabTipo.include == False and tab.tabTipo.gasto == True %}
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>( {{tab.tabTipo}} )</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total no contable (Gastos)</td>
                <td class="p-2">${{noIncludeTotalGasto|floatformat:2}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}