{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperior.html" %}

<form method="POST" action="">
{% csrf_token %}
<input value="{{tod}}" name="searchDate" id="searchDate" class="form-control" type="hidden">

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th class="p-2">Total</th>
            </tr>
        </thead>

        <tbody>

            {% for tab in tableAux %}
            {% if tableAux %}
            <tr>
                {% if tab.tabTipo.include == True %}
                <td class="p-2"><a {% if tab.tabTipo.nombre == "TARJETA VISA" or tab.tabTipo.nombre == "TARJETA CLAVE" %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>{{tab.tabTipo}}</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2">${{contTotal|floatformat:2}}</td>
            </tr>
            {% for tab in tableAux %}
            {% if tableAux %}
            <tr>
                {% if tab.tabTipo.include == False %}
                <td class="p-2"><a {% if tab.tabTipo.nombre == "TARJETA VISA" or tab.tabTipo.nombre == "TARJETA CLAVE" %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>( {{tab.tabTipo}} )</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2">${{contTotal|floatformat:2}}</td>
            </tr>

        </tbody>
    </table>
</div>

</form>

{% endblock %}