<html>
    <body>
        
        <div class="container col-lg-4 mt-2 d-flex justify-content-center">
            <a style="font-size: small;" class="btn btn-primary mx-1" href="{% url 'contAddType' %}">Nuevo tipo</a>
            <a style="font-size: small;" class="btn btn-primary" href="{% url 'contAddCategory' %}">Nueva categoría</a>
            <a style="font-size: small;" class="btn btn-primary mx-1" href="{% url 'contAddTable' %}">Nueva tabla</a>
        </div>
        <div class="container col-lg-4 mt-1 d-flex justify-content-center">
            <a style="font-size: small;" class="btn btn-secondary mx-1" href="{% url 'contListType' %}">Lista de tipos</a>
            <a style="font-size: small;" class="btn btn-secondary" href="{% url 'contListCategory' %}">Lista de categorías</a>
            <a style="font-size: small;" class="btn btn-secondary mx-1" href="">Lista de tablas</a>
        </div>

    </body>
</html>