{% extends "spareapp/contBase.html" %}

{% block title %} Add Type {% endblock %}

{% block content %}

{% include "spareapp/contAddAdmin.html" %}

<div class="d-flex justify-content-center">
    <div class="container  mt-5 col-lg-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="typeNombre">Nombre del tipo de pago</label>
                <input class="form-control" id="typeNombre" type="text" name="typeNombre" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="typeEntry">Tipo de factura</label>
                <select name="typeEntry" id="typeEntry" class="form-select form-select-md" aria-label=".form-select-md example" required>
                    <option value="">Seleccione tipo de factura</option>
                    <option value="entry">Ingreso</option>
                    <option value="spending">Gasto</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="typeInclude">Incluir</label>
                <input id="typeInclude" name="typeInclude" type="checkbox">
            </div>
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <a href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}