{% extends "spareapp/contBase.html" %}

{% block title %} Type {% endblock %}

{% block content %}

{% load static %}

{% include "spareapp/contSuperior.html" %}

<input id="returnPath" value="{{request.path}}" style="display: none;" type="text">

<div class="container mb-2">
    <div>
        <div class="d-flex justify-content-center" style="font-weight: bold;" class="">Facturas</div>
    </div>
</div>

</div>
<div class="container">
<table id="" style="font-size: small;" class="table-bordered invoice">
    <thead id="">
        <tr style="background-color: #F5F087;" class="excludeFooter">
            <th class="p-2">Tipo de pago: {{val}} | {{typeDate}}</th>
        </tr>
    </thead>
</table>
</div>
<div class="container mb-3">
    <table id="invoice" style="font-size: small;" class="table-bordered invoice draggable table-sortable mb-4">
        <thead>
            <tr style="background-color: #7C8FEC">
                <th class="p-2"># Factura</th>
                <th class="p-2">Fecha</th>
                <th class="p-2">Nombre</th>
                <th class="p-2">Categoría</th>
                <th class="p-2">Nota</th>
                <th class="p-2">Monto</th>
                <th class="p-2">ITBM</th>
                <th class="p-2">Total</th>
                <th class="p-2 exclude">Option</th>
            </tr>
        </thead>

        <tbody>
            {% for fac in allFacturesVal %}
            <tr>
                <td class="p-2">{{fac.num}}</td>
                <td class="p-2">{{fac.fechaCreado|date:'Y-m-d'}}</td>
                <td class="p-2"><a href="{% url 'contIndividual' fac.refPersona.id %}">{{fac.refPersona}}</a></td>
                <td class="p-2">{{fac.refCategory|upper}}</td>
                <td class="p-2">{{fac.note}}</td>
                <td class="p-2">${{fac.monto|floatformat:2}}</td>
                <td class="p-2">${{fac.iva|floatformat:2}}</td>
                <td class="p-2">${{fac.total|floatformat:2}}</td>
                <td class="p-2 exclude"><input id="pathId" value="{{fac.id}}" style="display: none;" type="text"><input id="returnPath" value="{{request.path}}" style="display: none;" type="text"><a id="editButton" style="color: white;font-size: small;" class="btn btn-secondary mx-1" href="{% url 'editeFact' fac.id request.get_full_path|cut:'/' %}">Editar</a>
                    {% if fac.pendiente == True %}
                    {% if fac.refCategory.ingreso == True %}

                    <a data-bs-toggle="modal" type="button" data-bs-target="#modalCobrar{{fac.id}}" style="font-size: small;color: aliceblue;" id="modalCobrar{{fac.id}}Id" class="btn btn-danger" href="javascript:void(0);">Cobrar</a>
                    <div tabindex="-1" id="modalCobrar{{fac.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="modalCobrar{{fac.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCobrar{{fac.id}}Label">Tipo de pago</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"> 
                                    <form id="formCust" method="POST" action="{% url 'contCollectFac' fac.id %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <div>¿Seguro que desea cobrar la factura número {{fac.num}}?</div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="contNota">Nota</label>
                                            <textarea class="form-control" id="contNota" type="textarea" name="contNota"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Cobrar</button>
                                    </form>
                                    
                                </div>   
                            </div>
                        </div>
                    </div> 
                    {% else %}

                    <a data-bs-toggle="modal" type="button" data-bs-target="#modalPagar{{fac.id}}" style="font-size: small;color: aliceblue;" id="modalPagar{{fac.id}}Id" class="btn btn-danger" href="javascript:void(0);">Pagar</a>
                    <div tabindex="-1" id="modalPagar{{fac.id}}" class="modal fade modal-dialog-scrollable" aria-labelledby="modalPagar{{fac.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalPagar{{fac.id}}Label">Tipo de pago</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"> 
                                    <form id="formCust" method="POST" action="{% url 'contPayFac' fac.id %}">
                                        {% csrf_token %}
                                        <select name="contTypeIng" id="contTypeIng" class="form-select form-select-md mb-3" required>
                                            <option value="" selected>Seleccione tipo de pago</option>
                                            {% for type in allTypes %}
                                            <option value="{{type.id}}">{{type.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="mb-3">
                                            <label class="form-label" for="contNota">Nota</label>
                                            <textarea class="form-control" id="contNota" type="textarea" name="contNota"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                    
                                </div>   
                            </div>
                        </div>
                    </div> 
                    {% endif %}
                    {% endif %}
            </tr>
            {% endfor %}
            
            
            
        </tbody>
        <tfoot class="table-bordered invoice" style="font-size: small;" id="hInf">
            <tr style="background-color: #E77C7C;">
                <th class="p-2">Total</th>
                <th class="p-2"></th>
                <th class="p-2"></th>
                <th class="p-2"></th>
                <th class="p-2"></th>
                <th class="p-2">$ {{montoTotal|floatformat:2}}</th>
                <th class="p-2">$ {{itbmTotal|floatformat:2}}</th>
                <th class="p-2">$ {{totalTotal|floatformat:2}}</th>
                <th class="p-2 exclude"></th>
            </tr>
        </tfoot>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>

<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>

<script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script>
<script>

function generatePDF2(){

var tableHeaderTextSup = [...document.querySelectorAll('.excludeFooter th')].map(thElement => ({ text: thElement.textContent, style: 'tableHeaderSup' }));
var tableHeaderText = [...document.querySelectorAll('#invoice thead tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableHeader' }));
var tableRowCells = [...document.querySelectorAll('#invoice tbody tr td:not(.exclude)')].map(tdElement => ({ text: tdElement.textContent, style: 'tableData' }));
var tableFooterCells = [...document.querySelectorAll('#invoice tfoot tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableFooter' }));
var rows = []
var fila = []
var footerFooter = []
var footerAux = []
var cont = 0

for (n in tableRowCells){
    fila.push(tableRowCells[n].text)
    cont = cont + 1
    if ((cont==tableHeaderText.length) && n>0){
        rows.push(fila)
        fila = []
        cont = 0
    }
}

var aux = ""
for (m in tableFooterCells){
    aux = tableFooterCells[m].text
}
var separar = aux.split("$")

for (m in tableHeaderText){

    if (m == 0){
        footerAux.push("BALANCE")
    }
    else{
        if (tableHeaderText[m].text === "Balance"){
            footerAux.push("$"+separar[1])
        }
        else{
            footerAux.push("")
        }
    }
    
}
footerFooter.push(footerAux)

var docDefinition = {
  content: [
    {
      layout: 'lightHorizontalLines', // optional
      style: 'tableExample',
      table: {
        headerRows: 2,
        body: [
        [{text: tableHeaderTextSup[0].text, colSpan: 8},"","","","","","",""],
        tableHeaderText,
        ...rows,
        tableFooterCells,
        ],
      },
      layout: {

          fillColor: function(rowIndex) {
            if (rowIndex === 0) {
              return '#F5F087';
            }
            if (rowIndex === 1) {
              return '#7C8FEC';
            }
            if (rowIndex === (rows.length + 2)) {
                return '#E77C7C';
            }
            return (rowIndex % 2 === 0) ? '#f2f2f2' : null;
          }
        },
    },
  ],
    styles: {
        tableExample: {
            // margin: [0, 20, 0, 80],
            margin: [0, 1, 0, 1],
            fontSize: 8,
        },
        tableHeaderSup: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableHeader: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
        tableData: {
            margin: 1,
            // fontSize: 10,
        },
        fuente: {
            margin: 1,
            fontSize: 8,
        },
        tableFooter: {
            margin: 1,
            color: 'black',
            fontSize: 8,
        },
    },
};

pdfMake.createPdf(docDefinition).download();

}

var vec = []
var i = 0
$("tbody tr").each(function(){
    $(this).find("td").each(function(){
        if($(this).attr("id")=="auxBalance"){
            vec[i] = $(this).text()
            i = i + 1
        }
    })
})
var auxMonto = $("#auxMonto").text()
var auxBalance = $("#auxBalance").text()
$("#entrySpending").change(function(){
    if ($(this).is(':checked')){
        $("tbody tr").each(function(){
        var bol = false
        
            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxMonto"){
                    auxMonto = $(this).text()
                }
                if ($(this).attr("id") == "auxBalance"){
                    auxBalance = $(this).text()
                    $(this).html(auxMonto)
                }
                
                $(this).find("div").each(function(){
                    if ($(this).attr("style")=="font-weight: bold;"){
                        bol = true
                    }
                })
            })
            if (bol == false){
                $(this).hide()
            }else{
                $(this).show()
            }
        })
        $("#balanceTotal").hide()
        $("#balanceTotalFacMerc").show()
    }
    else{
        
        $("tbody tr").each(function(){
            $(this).show()

            $(this).find("td").each(function(){
                if ($(this).attr("id") == "auxBalance"){
                    $(this).html(vec[$(this).parent().index()])
                }
            })
        })
        $("#balanceTotalFacMerc").hide()
        $("#balanceTotal").show()
    }
    
})

$("#invoice").dragtable()


</script>

{% endblock %}