{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperior.html" %}

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total contable</th>
            </tr>
        </thead>

        <tbody>
            {% for tab in tableAux %}
            <tr>
                {% if tab.tabTipo.include == True %}
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeRangeTarjeta' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% else %} href="{% url 'contTypeRange' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% endif %}>{{tab.tabTipo}}</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total contable</td>
                <td class="p-2">${{contTotal|floatformat:2}}</td>
            </tr>

        </tbody>
    </table>
</div>


<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total no contable</th>
            </tr>
        </thead>

        <tbody>

            {% for tab in tableAux %}
            <tr>
                {% if tab.tabTipo.include == False %}
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeRangeTarjeta' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% else %} href="{% url 'contTypeRange' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% endif %}>( {{tab.tabTipo}} )</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="p-2 color text-white">Total no contable</td>
                <td class="p-2">${{noIncludeTotal|floatformat:2}}</td>
            </tr>
            
        </tbody>
    </table>
</div>

{% endblock %}