{% extends "spareapp/contBase.html" %}

{% block title %} To Pay {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center container mt-5 col-lg-4">
    <label for=""><span style="font-weight: bold;color: rgb(136,12,12);">To Pay</span></label>
</div>

<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2"># Facture</th>
                <th class="p-2">Name</th>
                <th class="p-2">Category</th>
                <th class="p-2">Registration date</th>
                <th class="p-2">Deadline</th>
                <th class="p-2">Amount</th>
                <th class="p-2">IVA</th>
                <th class="p-2">Total</th>
                <th class="p-2">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for facture in allFacturesPay %}
            <tr>
                <td class="p-2">{{facture.num}}</td>
                <td class="p-2"><a href="{% url 'contIndividual' facture.refPersona.id %}">{{facture.refPersona}}</a></td>
                <td class="p-2">{{facture.refCategory}}</td>
                <td class="p-2">{{facture.fechaCreado|date:"M d, Y"}}</td>
                {% for key,value in deadlineDic.items %}
                    {% if key == facture.id %}
                        <td style="max-width: 120px;" class="p-2">{{value}} days</td>
                    {% endif %}
                {% endfor %}
                <td class="p-2">${{facture.monto}}</td>
                <td class="p-2">{{facture.iva}}</td>
                <td class="p-2">${{facture.total}}</td>
                <td class="p-2"><a href="{% url 'contPayFac' facture.id %}" type="button" style="font-size: small;color: aliceblue;" class="btn btn-danger">Pay</a></td>
            </tr>
            {% endfor %}
            
            <tr>
                <td class="p-2 color text-white">Total</td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2">${{montoTotal}}</td>
                <td class="p-2"></td>
                <td class="p-2">${{totalTotal}}</td>
                <td class="p-2"></td>
            </tr>
            
        </tbody>
    </table>
</div>



{% endblock %}