{% extends "spareapp/contBase.html" %}

{% block title %} Add Category {% endblock %}

{% block content %}

{% include "spareapp/contAddAdmin.html" %}

<div class="row mb-3">
    <div class="container mt-5 col-lg-6 d-flex justify-content-center">
        <table class="table-bordered ">
            <thead>
                <tr class="color text-white">
                    <th class="p-2">Type</th>
                    <th class="p-2">Option</th>
                </tr>
            </thead>
            <tbody>
                {% for ty in allTypes %}
                <tr>
                    <td class="p-2">{{ty.nombre}}</td>
                    <td class="p-2"><a class="btn btn-success mx-1" href="{% url 'contEditType' ty.id %}">Edit</a><a data-bs-toggle="modal" data-bs-target="#exampleModal{{ty.id}}" class="btn btn-danger mx-1">Delete</a></td>
                    <div class="modal fade" id="exampleModal{{ty.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{ty.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{ty.id}}">Caution</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Are you sure to eliminate the type {{ty.nombre}}?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a id="deleteType" class="btn btn-primary" href="{% url 'contDeleteType' ty.id %}">Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}