{% extends "spareapp/contBase.html" %}

{% block title %} Add Category {% endblock %}

{% block content %}

{% include "spareapp/contAddAdmin.html" %}

<div class="d-flex justify-content-center">
    <div class="container  mt-5 col-lg-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="catNombre">Nombre del cliente</label>
                <input value="{{personaEditar.nombre}}" class="form-control" id="catNombre" type="text" name="catNombre" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="catId">Identificación del cliente</label>
                <input value="{{personaEditar.documento}}" class="form-control" id="catId" type="text" name="catId">
            </div>
            
            <button style="font-size: small;" class="btn btn-primary" type="submit">Aceptar</button>
            <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}