<html>

    <body>
        
        {% if tod %}
        <div class="container mt-2">Day: {{tod}}</div>
        {% else %}
            {% if dateFrom %}
            <div class="container mt-2">From: {{dateFrom}}, to: {{dateTo}}</div>
            {% else %}
            <div class="container mt-2">Today: {% now "Y-m-d" %}</div>
            {% endif %}
        {% endif %}

        <div class="container mt-2">
            <a href="{% url 'contAdmin' %}" style="font-size: small;" class="btn btn-secondary">Admin</a>
        </div>

        <div class="container">
            <div class="row mt-2">
                <form id="formByDay" method="POST" action="{% url 'contByDay' %}" style="display: none;">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <input name="searchDate" id="searchDate" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="col-lg-1 d-flex align-items-center mt-2">
                            <button type="submit" class="btn btn-danger" style="font-size: small;" href="">Search</button>
                        </div>
                    </div>
                </form>
                <form id="formByRange" method="POST" action="{% url 'contByRange' %}" style="display: none;">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="searchDateFrom">From</label>
                                <input name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
                            </div>
                            <div class="col-lg-2">
                                <label for="searchDateTo">To</label>
                                <input name="searchDateTo" id="searchDateTo" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="col-lg-1 d-flex align-items-center mt-2">
                            <button type="submit" class="btn btn-danger" style="font-size: small;" href="">Search</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-6">
                    <a href="{% url 'contEntry' %}" style="font-size: small;" class="btn btn-primary">Entry</a>
                    <a href="{% url 'contSpend' %}" style="font-size: small;" class="btn btn-primary">Spending</a>
                    <a href="{% url 'accountStat' %}" style="font-size: small;" class="btn btn-primary">Account Stat</a>
                    <a href="{% url 'contTotalDay' %}" style="font-size: small;" class="btn btn-primary">New Day</a>

                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: small;">Search</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a onClick="functionByThisMonth()" id="thisMonth" class="dropdown-item" href="{% url 'contThisMonth' %}">This month</a></li>
                        <li><a onClick="functionByLastMonth()" id="lastMonth" class="dropdown-item" href="{% url 'contLastMonth' %}">Last month</a></li>
                        <li><a onClick="functionByDay()" id="byDay" class="dropdown-item" href="#">By day</a></li>
                        <li><a onClick="functionByRange()" id="byRange" class="dropdown-item" href="#">By range</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <div>
                        <a href="{% url 'contToCollect' %}" style="font-size: small;" type="button" class="btn btn-primary">
                            To Collect<span class="badge bg-secondary">{{facturesToCollect}}</span>
                        </a>
                    </div>
                    <div class="px-1">
                        <a href="{% url 'contToPay' %}" style="font-size: small;" type="button" class="btn btn-primary">
                            To Pay<span class="badge bg-secondary">{{facturesToPay}}</span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>