{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperior.html" %}

<form method="POST" action="">
{% csrf_token %}
<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr class="color text-white">
                <th class="p-2">Type</th>
                <th class="p-2">Total Remanining</th>
            </tr>
        </thead>

        <tbody>

            {% if tableAux and editPrueba == False %}

                {% for tab in tableAux %}
                <tr>
                    <td class="p-2"><a {% if tab.tabTipo.nombre == "TARJETA VISA" or tab.tabTipo.nombre == "TARJETA CLAVE" %} href="{% url 'contTypeTarjeta' tab.tabTipo tod %}" {% else %} href="{% url 'contType' tab.tabTipo tod %}" {% endif %}>{{tab.tabTipo}}</a></td>
                    <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                </tr>
                {% endfor %}
                
                <tr>
                    <td class="p-2 color text-white">Total</td>
                    <td class="p-2">${{contTotal|floatformat:2}}</td>
                </tr>

            {% else %}

                {% if editPrueba == True %}

                    {% for tab in tableAux %}
                    <tr>
                        {% if tod %}
                        <td class="p-2"><a href="{% url 'contType' tab.tabTipo tod %}">{{tab.tabTipo}}</a></td>
                        {% else %}
                        <td class="p-2"><a href="{% url 'contType' tab.tabTipo 'today' %}">{{tab.tabTipo}}</a></td>
                        {% endif %}
                        {% if tab.tabTipo.manual == True %}
                        <td class="p-2">$<input value="{{tab.tabTotal}}" id="{{tab.tabTipo.nombre|cut:' '}}Total" name="{{tab.tabTipo.nombre|cut:' '}}Total" type="number"></td>
                        {% else %}
                        <td class="p-2">$ {{tab.tabTotal|floatformat:2}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="p-2 color text-white">Total</td>
                        <td class="p-2">${{contTotal|floatformat:2}}</td>
                    </tr>

                {% else %}

                    {% for tab in allTypes %}
                    <tr>
                        <td class="p-2"><a href="">{{tab.nombre}}</a></td>
                        {% if tab.manual == True %}
                        <td class="p-2">$<input id="{{tab.nombre|cut:' '}}Total" name="{{tab.nombre|cut:' '}}Total" type="number"></td>
                        {% else %}
                        <td class="p-2">$ 0.00</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="p-2 color text-white">Total</td>
                        <td class="p-2">$ 0.00</td>
                    </tr>

                {% endif %}

            {% endif %}

        </tbody>
    </table>
</div>
<div class="container mt-2 d-flex justify-content-end">
    {% if tableAux and editPrueba == False %}
    <button value="submit" id="editButton" name="editButton" class="btn btn-secondary" type="submit">Edite</button>
    {% else %}
    <button value="submit" id="acceptButton" name="acceptButton" class="btn btn-primary" type="submit">Accept</button>
    {% endif %}
</div>
</form>

{% endblock %}