{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperiorCustom.html" %}

<div id="invoice2">

{% if tod %}

{% for tab in cantAuxOp %}
{% if tab.principal == False %}
<div class="container">
    <table style="font-size: small;" class="table-bordered invoice mb-2">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{tab.tabNombre}}  |  Día: {{tod|date:"d F Y"}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tableAuxOp %}
            {% if table.tabNombre == tab.tabNombre %}
            <tr>
                <td class="p-2"><a {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} {% if table.tabTipo.visa == True or table.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' table.tabTipo|cut:'/' tod %}" {% else %} href="{% url 'contType' table.tabTipo|cut:'/' tod %}" {% endif %}>{{table.tabTipo|upper}}</a></td>
                <td {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">${{table.tabTotal|stringformat:".2f"}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for key,value in totalParcialOp.items %}
                {% if key == tab.tabNombre %}
                <tr {% if value == 0 %} style="background-color: #E77C7C;" {% else %} {% if value < 0 %} style="background-color: #E77C7C;color: #c90a0a" {% else %} style="background-color: #E77C7C;color: #1029b9" {% endif %} {% endif %} class="">
                    <td colspan="2" class="p-2">TOTAL: ${{value|stringformat:".2f"}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endfor %}

{% for tab in cantAuxOpCat %}
{% if tab.principal == False %}
<div class="container">
    <table style="font-size: small;" class="table-bordered invoice mb-2">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{tab.tabNombre}}  |  Día: {{tod|date:"d F Y"}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Categoria</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>
        <tbody>
            {% if tableAuxOpCat %}
                {% for table in tableAuxOpCat %}
                {% if table.tabNombre == tab.tabNombre %}
                <tr>
                    <td class="p-2"><a href="{% url 'contTypeCat' table.tabCat.id tod %}" {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} >{{table.tabCat|upper}}</a></td>
                    <td {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">${{table.tabTotal|stringformat:".2f"}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for key,value in totalParcialOpCat.items %}
                    {% if key == tab.tabNombre %}
                    <tr {% if value == 0 %} style="background-color: #E77C7C;" {% else %} {% if value < 0 %} style="background-color: #E77C7C;color: #c90a0a" {% else %} style="background-color: #E77C7C;color: #1029b9" {% endif %} {% endif %} class="">
                        <td colspan="2" class="p-2">TOTAL: ${{value|stringformat:".2f"}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for table in tableAuxOpEmptyCat %}
                {% if table.tabNombre == tab.tabNombre %}
                <tr>
                    <td class="p-2"><a>{{table.tabCat__nombre|upper}}</a></td>
                    <td class="p-2">$0.00</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: $0.00</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}
{% endfor %}

{% else %}

{% for tab in cantAuxOp %}
{% if tab.principal == False %}
<div class="container">
    <table style="font-size: small;" class="table-bordered invoice mb-2">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{tab.tabNombre}}  |  Desde: {{dateFrom}}, hasta: {{dateTo}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tableAuxOp %}
            {% if table.tabNombre == tab.tabNombre %}
            <tr>
                <td class="p-2"><a {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} {% if table.tabTipo.visa == True or table.tabTipo.clave == True %} href="{% url 'contTypeRangeTarjeta' table.tabTipo|cut:'/' dateFrom dateTo %}" {% else %} href="{% url 'contTypeRange' table.tabTipo.id dateFrom dateTo %}" {% endif %}>{{table.tabTipo|upper}}</a></td>
                <td {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">${{table.tabTotal|stringformat:".2f"}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for key,value in totalParcialOp.items %}
                {% if key == tab.tabNombre %}
                <tr {% if value == 0 %} style="background-color: #E77C7C;" {% else %} {% if value < 0 %} style="background-color: #E77C7C;color: #c90a0a" {% else %} style="background-color: #E77C7C;color: #1029b9" {% endif %} {% endif %} class="">
                    <td colspan="2" class="p-2">TOTAL: ${{value|stringformat:".2f"}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endfor %}

{% for tab in cantAuxOpCat %}
{% if tab.principal == False %}
<div class="container">
    <table style="font-size: small;" class="table-bordered invoice mb-2">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{tab.tabNombre}}  |  Desde: {{dateFrom}}, hasta: {{dateTo}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Categoria</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>
        <tbody>
            {% if tableAuxOpCat %}
                {% for table in tableAuxOpCat %}
                {% if table.tabNombre == tab.tabNombre %}
                <tr>
                    <td class="p-2"><a href="{% url 'contTypeRangeCat' table.tabCat.id dateFrom dateTo %}" {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} >{{table.tabCat|upper}}</a></td>
                    <td {% if table.suma == True %} style="color: #1029b9;" {% else %} style="color: #a00a0a;" {% endif %} class="p-2">${{table.tabTotal|stringformat:".2f"}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for key,value in totalParcialOpCat.items %}
                    {% if key == tab.tabNombre %}
                    <tr {% if value == 0 %} style="background-color: #E77C7C;" {% else %} {% if value < 0 %} style="background-color: #E77C7C;color: #c90a0a" {% else %} style="background-color: #E77C7C;color: #1029b9" {% endif %} {% endif %} class="">
                        <td colspan="2" class="p-2">TOTAL: ${{value|stringformat:".2f"}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for table in tableAuxOpEmptyCat %}
                {% if table.tabNombre == tab.tabNombre %}
                <tr>
                    <td class="p-2"><a>{{table.tabCat__nombre}}</a></td>
                    <td class="p-2">$0.00</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: $0.00</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}
{% endfor %}

{% endif %}

</div>

<script>

$("#simplificado").change(function(){
    if ($(this).is(':checked')){
        $("#tablaSimplificada").show();
    }else{
        $("#tablaSimplificada").hide();
    }
});

function generatePDF2(){
    
    $('#invoice2 tr:first th').each(function() {
        var value = $(this).css("position", "static");
      });
    const element = document.getElementById("invoice2");
    $("#check").hide();
    $("table td:nth-child("+($("#check").index() + 1)+")").hide();
    
    var opt = {
        margin:       0.5,
        filename:     'report.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { scale: 2 },
        enableLinks:  false,
        pagebreak:    {mode: "avoid-all"},
        jsPDF:        { unit: 'in', format: 'letter' }
      };
    html2pdf()
    .set(opt)
    .from(element)
    .save();
    html2pdf().set(opt).from(element).toPdf().get('pdf').then(function (pdf) {
        $('#invoice2 tr:first th').each(function() {
            var value = $(this).css("position", "sticky");
            $("#check").show();
            $("table td:nth-child("+($("#check").index() + 1)+")").show();
            $("input:checkbox[name=check]").prop("checked",true);
          });
      });
}
</script>
{% endblock %}