{% extends "spareapp/contBase.html" %}

{% block title %} Day {% endblock %}

{% block content %}

{% include "spareapp/contSuperiorCustom.html" %}

<div class="container">
<form action="" method="POST">
{% csrf_token %}
{% if tod %}
<input name="fecha" id="fecha" value="{{tod}}" type="text" style="display: none;">
{% else %}
<input name="fecha1" id="fecha1" value="{{dateFrom}}" type="text" style="display: none;">
<input name="fecha2" id="fecha2" value="{{dateTo}}" type="text" style="display: none;">
{% endif %}
<div class="row">

<div style="display: inline-block;" class="">
<a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="Tsuma" data-toggle="dropdown" href="#">Sumar tablas</a>
<ul style="font-size: small;" id="TsumaList" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="Tsuma">            
{% for n in cantAux %}
{% if n.principal == False %}
    <li style="margin:auto;" class="mx-2"><input value="{{n.tabNombre}}" name="TsumaVal" class="mx-2" type="checkbox"><label class="ml-1">{{n.tabNombre}}</label></li>
{% endif %}
{% endfor %}
</ul>
<div style="display: inline-block;" class="">
    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="Tresta" data-toggle="dropdown" href="#">Restar tablas</a>
    <ul style="font-size: small;" id="TrestaList" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="Tresta">            
    {% for n in cantAux %}
    {% if n.principal == False %}
        <li style="margin:auto;" class="mx-2"><input value="{{n.tabNombre}}" name="TrestaVal" class="mx-2" type="checkbox"><label class="ml-1">{{n.tabNombre}}</label></li>
    {% endif %}
    {% endfor %}
    </ul>
</div>

</div>

</div>
<a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger mt-2">Cancelar</a>
<button style="font-size: small;" type="input" class="btn btn-success mt-2">Calcular</button>
</form>
</div>

{% if sumaLista or restaLista %}

<div class="container">

<table style="font-size: small;" class="table-bordered invoice">
    <thead>
        <tr style="background-color: #F5F087" class="">
            <th colspan="2" class="p-2">
                {% for sum in sumaLista %}
                    {% if sum == sumaLista.0 %}
                        {{sum}}
                    {% else %}
                        + {{sum}}
                    {% endif %}
                {% endfor %}
                {% for res in restaLista %}
                    - {{res}}
                {% endfor %}
            </th>
        </tr>
        <tr style="background-color: #7C8FEC;">
            <th class="p-2">Tipo de pago</th>
            <th style="width: 350px;" class="p-2">Total</th>
        </tr>
    </thead>

    <tbody>

        {% if borrarAux %}

            {% for tab in borrarAux %}
            <tr>
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' tab.tabTipo|cut:'/' tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>{{tab.tabTipo}}</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
            </tr>
            {% endfor %}
            <tr style="background-color: #E77C7C;" class="">
                <td colspan="2" class="p-2">TOTAL: ${{sumaRestaTotal|floatformat:2}}</td>
            </tr>
        {% endif %}

    </tbody>
</table>


</div>
{% endif %}

{% if tod %}

{% for n in cantAux %}
{% if n.principal == False %}
<div class="mb-3" id="invoice2">
<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{n.tabNombre}}  |  Día: {{tod}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>

        <tbody>

            {% if tableAux %}

                {% for tab in tableAux %}
                {% if tab.tabNombre == n.tabNombre %}
                <tr>
                    <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeTarjeta' tab.tabTipo|cut:'/' tod %}" {% else %} href="{% url 'contType' tab.tabTipo|cut:'/' tod %}" {% endif %}>{{tab.tabTipo}}</a></td>
                    <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if cantAuxEmpty %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: $0.00</td>
                </tr>
                {% else %}
                {% for key,value in totalParcial.items %}
                {% if key == n.tabNombre %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: ${{value|floatformat:2}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}

        </tbody>
    </table>
</div>

</div>

{% endif %}
{% endfor %}

{% else %}

{% for n in cantAux %}
{% if n.principal == False %}

<div class="mb-3" id="invoice2">
<div class="container mt-2">
    <table style="font-size: small;" class="table-bordered invoice">
        <thead>
            <tr style="background-color: #F5F087" class="">
                <th colspan="2" class="p-2">{{n.tabNombre}}  |  Desde: {{dateFrom}}, hasta: {{dateTo}}</th>
            </tr>
            <tr style="background-color: #7C8FEC;">
                <th class="p-2">Tipo de pago</th>
                <th style="width: 350px;" class="p-2">Total</th>
            </tr>
        </thead>

        <tbody>

            {% if tableAux %}

                {% for tab in tableAux %}
                {% if tab.tabNombre == n.tabNombre %}
                <tr>
                <td class="p-2"><a {% if tab.tabTipo.visa == True or tab.tabTipo.clave == True %} href="{% url 'contTypeRangeTarjeta' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% else %} href="{% url 'contTypeRange' tab.tabTipo|cut:'/' dateFrom dateTo %}" {% endif %}>( {{tab.tabTipo}} )</a></td>
                <td class="p-2">${{tab.tabTotal|floatformat:2}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if cantAuxEmpty %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: $0.00</td>
                </tr>
                {% else %}
                {% for key,value in totalParcial.items %}
                {% if key == n.tabNombre %}
                <tr style="background-color: #E77C7C;" class="">
                    <td colspan="2" class="p-2">TOTAL: ${{value|floatformat:2}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %}

        </tbody>
    </table>
</div>
</div>

{% endif %}
{% endfor %}

{% endif %}

<script>
function generatePDF2(){
    
    $('#invoice2 tr:first th').each(function() {
        var value = $(this).css("position", "static");
      });
    const element = document.getElementById("invoice2");
    $("#check").hide();
    $("table td:nth-child("+($("#check").index() + 1)+")").hide();
    
    var opt = {
        margin:       0.5,
        filename:     'report.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { scale: 2 },
        enableLinks:  false,
        pagebreak:    {mode: "avoid-all"},
        jsPDF:        { unit: 'in', format: 'letter' }
      };
    html2pdf()
    .set(opt)
    .from(element)
    .save();
    html2pdf().set(opt).from(element).toPdf().get('pdf').then(function (pdf) {
        $('#invoice2 tr:first th').each(function() {
            var value = $(this).css("position", "sticky");
            $("#check").show();
            $("table td:nth-child("+($("#check").index() + 1)+")").show();
            $("input:checkbox[name=check]").prop("checked",true);
          });
      });
}
</script>
{% endblock %}