{% extends "spareapp/fillbase.html" %}

{% block title %} Engine {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container mt-5 col-lg-7">

    <form id="firstForm" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Make</label>
                    <select name="manufactur" id="manufactur" class="form-select form-select-md" aria-label=".form-select-sm example" required>
                        <option value="" selected>Select car</option>
                        {% for sp in allManu %}
                        {% if sp.manufacturer == sparefind.0.engine_manufacturer.manufacturer %}
                        <option value="{{sp.manufacturer}}" selected>{{sp.manufacturer}}</option>
                        {% else %}
                        <option value="{{sp.manufacturer}}">{{sp.manufacturer}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
    
                <div class="col-lg-1 d-flex align-items-end">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal3" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory1" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal ------------------------- -->
            <div tabindex="-1" id="categoryModal3" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryModalLabel">Add a maker</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container col-lg-12">
                                <div id="firstCategory" action="" method="POST">
                                    <div class="mb-3">
                                        <label for="categor" class="form-label">Maker name</label>
                                        <input type="text" class="form-control" name="categor" id="categor" aria-describedby="categorHelp">
                                    </div>
                                    <button id="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="submitButton" type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="engcarinf" class="form-label">Car info</label>
            <input placeholder="Search by manufacturer or model" type="text" class="form-control" name="engcarinf" id="engcarinf" aria-describedby="engcarinfHelp">
            <div class="row">
                <div class="col-lg-5">
                    <div class="color text-white p-2 m-2">Available Cars</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="engcartoPass" id="engcarcodPasar" size="5">
                            {% for spr in allCars|dictsort:"car_manufacturer" %}
                                <option class="p-1">{{spr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="color text-white p-2 m-2">Chosen Cars</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="engcartoReg" id="engcarcodPasado" size="5">
                            {% for spr in auxCar %}
                            <option class="p-1">{{spr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 d-flex align-items-center">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                        
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="container d-flex justify-content-center">
                        <div class="m-2">
                            <a onClick="engcarpasar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                  </svg>
                            </a>
                        </div>
                        <div class="m-2">
                            <a onClick="engcarregresar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="codefill" class="form-label">Chasis</label>
            <input value="{{sparefind.0.engine_ide}}" type="text" class="form-control" name="codefill" id="codefill" aria-describedby="codefillHelp" required>
        </div>

        <div class="mb-3">
            <label for="litresfill" class="form-label">Litres</label>
            <input value="{{sparefind.0.engine_l}}" type="text" class="form-control" name="litresfill" id="litresfill" aria-describedby="litresfillHelp">
        </div>
        
        <div class="mb-3">
            <label for="valvefill" class="form-label">Valve</label>
            <input value="{{sparefind.0.engine_cylinder}}" type="number" class="form-control" name="valvefill" id="valvefill" aria-describedby="valvefillHelp">
        </div>

        <div class="mb-3">
            <label for="pistonsfill" class="form-label">Pistons</label>
            <input value="{{sparefind.0.engine_pistons}}" type="number" class="form-control" name="pistonsfill" id="pistonsfill" aria-describedby="pistonsfillHelp">
        </div>

        <div class="mb-3">
            <label for="typefill" class="form-label">Type</label>
            <select name="typefill" id="typefill" class="form-select form-select-md">
                <option value="" selected>Select type</option>
                <option value="Diesel" {% if sparefind.0.engine_type == 'Diesel' %} selected {% endif %}>Diesel</option>
                <option value="Gasoline" {% if sparefind.0.engine_type == 'Gasoline' %} selected {% endif %}>Gasoline</option>
            </select>
        </div>
        
        <button style="font-size: small;" form="firstForm" id="formPass" type="submit" class="btn btn-primary">Update</button>
        <a style="font-size: small;" data-bs-toggle="modal" data-bs-target="#exampleModal{{sparefind.0.id}}" class="btn btn-danger text-white">Delete</a>
    </form>

    <!-- Modal delete engine -->
    {% for br in allEngines %}
    <div class="modal fade" id="exampleModal{{br.id}}" tabindex="-1" aria-labelledby="exampleModal{{br.id}}Label" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModal{{br.id}}Label">Caution</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Are you sure to eliminate the spare {{br.engine_ide}} ?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a id="deleteengine" class="btn btn-primary" href="{% url 'deleteengine' br.id %}">Delete</a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal ------------------------------------------------------------------------------------->
    <div tabindex="-1" id="categoryModal" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Add a car</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <!-- Agregar carro --------------------------------------------------------------------- -->
                    
                    <div class="container mt-5 col-lg-12">

                        <form data-url="{% url 'fillcar' %}" id="secondForm" action="{% url 'fillcar' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="manufactur" class="form-label">Manufacturer</label>
                                <input type="text" class="form-control" name="manufactur" id="manufactur" aria-describedby="manufacturerHelp">
                                <!-- <div id="manufacturerHelp" class="form-text">Ingrese nombre del manufacturer.</div> -->
                            </div>
                            <div class="mb-3">
                                <label for="mode" class="form-label">Model</label>
                                <input type="text" class="form-control" name="mode" id="mode" aria-describedby="modeHelp">
                            </div>
                            <div class="mb-3">
                                <label for="yearfro" class="form-label">Year from</label>
                                <input type="number" class="form-control" name="yearfro" id="yearfro" aria-describedby="yearfroHelp">
                            </div>
                            <div class="mb-3">
                                <label for="yeart" class="form-label">Year to</label>
                                <input type="number" class="form-control" name="yeart" id="yeart" aria-describedby="yeartHelp">
                            </div>
                            <div class="mb-3">
                                <label for="chasi" class="form-label">Chasis</label>
                                <input type="text" class="form-control" name="chasi" id="chasi" aria-describedby="chasiHelp">
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button from="secondForm" id="secondFormSubmit" type="submit" class="btn btn-primary">Save</button>
                            <input type="hidden" name="id" value="secondForm">
                        </form>
                        
                    </div>

                    <!-- ----------------------------------------------------------------------------------- -->

                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin del modal -->

</div>

<script>
// Agregar modal Make
$("#submitButton").click(function(e){
    e.preventDefault()

    cat = $("#categor").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(){
            console.log("Success")

            $("#manufactur").append("<option value='"+cat+"' selected>"+cat+"</option>")
            $(".btn-close").click()
        }
    })
})

// Mostrar a ambos lados los car info que se tienen -------------------------------------
$("#carcodPasar option").each(function(){
    var aux = $(this).text()
    var band = false
    $("#carcodPasado option").each(function(){
        if($(this).text() == aux){
            band = true
        }
    })
    if (band == true){
        $(this).remove()
        // $(this).hide()
    }
})

// Mostrar a ambos lados los car info que se tienen en fillEngine -------------------------------------
$("#engcarcodPasar option").each(function(){
    var aux = $(this).text()
    var band = false
    $("#engcarcodPasado option").each(function(){
        if($(this).text() == aux){
            band = true
        }
    })
    if (band == true){
        $(this).remove()
        // $(this).hide()
    }
})

// Para filtrar por car
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#carSelect').select2();
    });
});

// Pasar de un lado a otro los car info  --------------------------------------------------
function carpasar(){
    $("#carcodPasar option:selected").each(function(){ // Recorre lista sin pasar
        band = false
        var aux = $(this).text()
        $("#carcodPasado option").each(function(){ // Recorre lista pasada
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
            
        })
        if($("#carcodPasado option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#carcodPasado").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}
function carregresar(){
    $("#carcodPasado option:selected").each(function(){ // Recorre lista pasada
        band = false
        var aux = $(this).text()
        $("#carcodPasar option").each(function(){ // Recorre lista sin pasar
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
        })
        if($("#carcodPasar option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#carcodPasar").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}

// Pasar de un lado a otro los car info en FillSpare --------------------------------------
function engcarpasar(){
    $("#engcarcodPasar option:selected").each(function(){ // Recorre lista sin pasar
        band = false
        var aux = $(this).text()
        $("#engcarcodPasado option").each(function(){ // Recorre lista pasada
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
            
        })
        if($("#engcarcodPasado option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#engcarcodPasado").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}
function engcarregresar(){
    $("#engcarcodPasado option:selected").each(function(){ // Recorre lista pasada
        band = false
        var aux = $(this).text()
        $("#engcarcodPasar option").each(function(){ // Recorre lista sin pasar
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
        })
        if($("#engcarcodPasar option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#engcarcodPasar").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}

$("#secondForm").submit(function(e){
    e.preventDefault()

    manuf = $("#manufactur").val()
    model = $("#mode").val()
    from = $("#yearfro").val()
    to = $("#yeart").val()
    valor = manuf+" "+model+",("+from+" / "+to+")"

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),

        success: function(){
            console.log("Success")
            $("#engcarcodPasado").prepend("<option class='p-1'>"+valor+"</option>")
            $(".btn-close").click()
        }
    })
})

// Arreglar los valores que se pasarán ------------------------------------------------
$("#formPass").on("click",function(){
    $("#codPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#codPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
})
    
</script>

{% endblock %}