{% extends "spareapp/contBase.html" %}

{% block title %} Entry {% endblock %}

{% block content %}

<div class="container mt-5 col-lg-12 d-flex justify-content-center">
    <label for=""><span style="font-weight: bold;color: rgb(136,12,12);">Editar factura</span></label>
</div>
<div class="d-flex justify-content-center">
    <div class="container mt-3 col-lg-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="contFacType">Tipo de factura</label>
                <select name="contFacType" id="contFacType" class="form-select form-select-md" aria-label=".form-select-md example">
                    <option value="">Seleccione tipo de factura</option>
                    {% if facAux.0.refCategory.ingreso == True %}
                    <option value="entry" selected>Ingreso</option>
                    {% else %}
                    <option value="entry">Ingreso</option>
                    {% endif %}
                    {% if facAux.0.refCategory.egreso == True %}
                    <option value="spending" selected>Gasto</option>
                    {% else %}
                    <option value="spending">Gasto</option>
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="searchDateFrom">Cambiar fecha</label>
                <input value="{{actual}}" name="searchDateFrom" id="searchDateFrom" class="form-control" type="date">
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-lg-11">
                        <label class="form-label" for="contNombre">Cliente</label>
                        <select name="contNombre" id="contNombre" class="form-select form-select-md" aria-label=".form-select-md example" required>
                            <option value="">Seleccione cliente</option>
                            {% for cust in allCustomers %}
                            {% if cust.nombre == facAux.0.refPersona.nombre %} 
                            <option value="{{cust.id}}" selected>{{cust.nombre}} - {{cust.documento}}</option>
                            {% else %} 
                            <option value="{{cust.id}}" >{{cust.nombre}} - {{cust.documento}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-1 d-flex align-items-end">
                        <div>
                            <a data-bs-toggle="modal" data-bs-target="#contNombreModal" style="text-decoration: none;color: rgb(136,12,12);" id="contNombreModalId" class="" href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="contNumFac">Número de factura</label>
                <input value="{{facAux.0.num}}" class="form-control" id="contNumFac" type="text" name="contNumFac" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contCatIng">Categoría</label>
                <select name="contCatIng" id="contCatIng" class="form-select form-select-md" required>
                    <option value="">Seleccione categoría</option>
                    {% for category in allCategories %}
                    {% if category.nombre == facAux.0.refCategory.nombre or facAux.0.refCategory.nombre == "Factura cobrada" or facAux.0.refCategory.nombre == "Mercancia credito pagada" %}
                    <option limit="{{facAux.0.refCategory.limite}}" value="{{facAux.0.refCategory.nombre}}" selected>{{facAux.0.refCategory.nombre}}</option>
                    {% else %}
                    <option limit="{{facAux.0.refCategory.limite}}" value="{{facAux.0.refCategory.nombre}}">{{facAux.0.refCategory.nombre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contTypeIng">Tipo de pago</label>
                <select name="contTypeIng" id="contTypeIng" class="form-select form-select-md" required>
                    <option value="">Seleccione tipo de pago</option>
                    {% for type in allTypes %}
                    {% if type.nombre == facAux.0.refType.nombre %}
                    <option value="{{type.nombre}}" selected>{{type.nombre}}</option>
                    {% else %}
                    <option value="{{type.nombre}}">{{type.nombre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id="divFechaTope" class="mb-3" style="display: none;">
                <label class="form-label" for="contFechaTope">Fecha límite</label>
                <input value="{{tope}}" class="form-control" id="contFechaTope" type="date" name="contFechaTope">
            </div>
            <div class="mb-3">
                <label class="form-label" for="contMonto">Sub total</label>
                <input value="{{facAux.0.monto|stringformat:'.2f'}}" class="form-control" id="contMonto" name="contMonto" step="0.001" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contItbm">ITBM</label>
                <input value="{{facAux.0.iva|stringformat:'.2f'}}" class="form-control" id="contItbm" name="contItbm" step="0.001">
            </div>
            <div class="mb-3">
                <label class="form-label" for="contTotal">Total</label>
                <input value="{{facAux.0.total|stringformat:'.2f'}}" class="form-control" id="contTotal" name="contTotal" step="0.001" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contNota">Nota</label>
                <textarea value="{{facAux.0.note}}" class="form-control" id="contNota" type="textarea" name="contNota">{% if facAux.0.note != none %}{{facAux.0.note}}{% endif %}</textarea>
            </div>
            <input id="facId" name="facId" value="{{facAux.0.id}}" type="text" style="display: none;">
            <button style="font-size: small;" id="editButton" class="btn btn-primary" type="submit">Aceptar</button>
            <a style="font-size: small;" href="{% url 'contDay' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

<div tabindex="-1" id="contNombreModal" class="modal fade modal-dialog-scrollable" aria-labelledby="contNombreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contNombreModallLabel">Agrega un cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                <form id="formCust" method="POST" action="{% url 'contAddPerson' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="custName">Nombre</label>
                        <input class="form-control" id="custName" type="text" name="custName" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="custId">Identificación</label>
                        <input class="form-control" id="custId" type="text" name="custId" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                
            </div>   
        </div>
    </div>
</div>  
<script>

$("#searchDateFrom").change(function(){
    $.ajax({
        method: 'GET',
        url: '/factTypeES',
        data: {'fecha': 'change','creado':$("#searchDateFrom").val()},
        success:function(data){

            $("#contFechaTope").val(data.actual)

        }
    });
})


if($("#contCatIng").find("option:selected").attr("limit").toLowerCase() == "true"){
    $("#divFechaTope").show()
    // select2.empty()
    // select2.append("<option value="+data.cobrarPagar[0].id+">"+data.cobrarPagar[0].nombre.toUpperCase()+"</option>")
}

CatSelected = ""
typeSelected = ""

$("#contTypeIng option").each(function(){
    // alert($(this).text())
    if ($(this).attr("selected")){
        // alert($(this).text())
        typeSelected=$(this).text()
    }
})

$("#contCatIng option").each(function(){
    if ($(this).attr("selected")){
        // alert($(this).text())
        CatSelected=$(this).text()
    }
})

// Agregar modal Customer
$("#formCust").submit(function(e){
    e.preventDefault()

    cat = $("#custName").val()
    doc = $("#custId").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(data){
            console.log("Success")
            $("#contNombre").append("<option value="+data.lastPerson[0].id+" selected>"+cat+" - "+doc+"</option>")
            $(".btn-close").click()
        }
    })
})
auxType=$("#contFacType").val()
auxCat=$("#contCatIng").val()
$.ajax({
    method: 'GET',
    url: '/factTypeES',
    data: {'val': auxType,'cat': auxCat},
    success:function(data){

        select = $("#contCatIng")
        select2 = $("#contTypeIng")
        select.empty()
        select2.empty()
        select.append("<option limit='false' value=''>Seleccione categoría</option>")
        select2.append("<option value='' selected>Seleccione tipo de pago</option>")

        for(var i = 0; i<data.allTypes.length;i++){
            if(data.allTypes[i].nombre==typeSelected){
                select2.append("<option value="+data.allTypes[i].id+" selected>"+data.allTypes[i].nombre.toUpperCase()+"</option>")
            }else{
                select2.append("<option value="+data.allTypes[i].id+">"+data.allTypes[i].nombre.toUpperCase()+"</option>")
            }
        }

        for(var i = 0; i<data.allCategories.length;i++){
            if(data.allCategories[i].nombre==CatSelected){
                select.append("<option limit="+data.allCategories[i].limite+" value="+data.allCategories[i].id+" selected>"+data.allCategories[i].nombre.toUpperCase()+"</option>")
            }else{
                select.append("<option limit="+data.allCategories[i].limite+" value="+data.allCategories[i].id+">"+data.allCategories[i].nombre.toUpperCase()+"</option>")
            }
        }

        $("#contCatIng").change(function(){
            if($(this).find("option:selected").attr("limit").toLowerCase() == "true"){
                $("#divFechaTope").show()
                select2.empty()
                select2.append("<option value="+data.cobrarPagar[0].id+">"+data.cobrarPagar[0].nombre.toUpperCase()+"</option>")
            }
            else{
                $("#divFechaTope").hide()
                $("#contTypeIng option").each(function(){
                    $(this).show()
                    select2.empty()
                    select2.append("<option value='' selected>Seleccione tipo de pago</option>")
                    for(var i = 0; i<data.allTypes.length;i++){
                        select2.append("<option value="+data.allTypes[i].id+">"+data.allTypes[i].nombre.toUpperCase()+"</option>")
                    }
                })
            }
        })
    }
});

$("#contFacType").change(function(){
    if($(this).val()=="entry"){
        type="entry"
    }
    if($(this).val()=="spending"){
        type="spending"
    }
    $.ajax({
        method: 'GET',
        url: '/factTypeES',
        data: {'val': type},
        success:function(data){

            select = $("#contCatIng")
            select2 = $("#contTypeIng")
            select.empty()
            select2.empty()
            select.append("<option limit='false' value='' selected>Seleccione categoría</option>")
            select2.append("<option value='' selected>Seleccione tipo de pago</option>")

            for(var i = 0; i<data.allTypes.length;i++){
                select2.append("<option value="+data.allTypes[i].id+">"+data.allTypes[i].nombre.toUpperCase()+"</option>")
            }

            for(var i = 0; i<data.allCategories.length;i++){
                select.append("<option limit="+data.allCategories[i].limite+" value="+data.allCategories[i].id+">"+data.allCategories[i].nombre.toUpperCase()+"</option>")
            }

            $("#contCatIng").change(function(){
                if($(this).find("option:selected").attr("limit").toLowerCase() == "true"){
                    $("#divFechaTope").show()
                    select2.empty()
                    for(var i = 0;i<data.cobrarPagar.length;i++){
                        select2.append("<option value="+data.cobrarPagar[i].id+">"+data.cobrarPagar[i].nombre.toUpperCase()+"</option>")
                    }
                }
                else{
                    $("#divFechaTope").hide()
                    $("#contTypeIng option").each(function(){
                        $(this).show()
                        select2.empty()
                        select2.append("<option value='' selected>Seleccione tipo de pago</option>")
                        for(var i = 0; i<data.allTypes.length;i++){
                            select2.append("<option value="+data.allTypes[i].id+">"+data.allTypes[i].nombre.toUpperCase()+"</option>")
                        }
                    })
                }
            })
        }
    });
})

document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('input[type=number]').forEach( node => node.addEventListener('keypress', e => {
        if(e.keyCode == 13) {
            e.preventDefault();
        }
    }))

    document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
        if(e.keyCode == 13) {
            e.preventDefault();
        }
    }))
});
</script>
{% endblock %}