{% extends "spareapp/fillbase.html" %}

{% block title %} Car {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container mt-5 col-lg-4">

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="manufactur" class="form-label">Manufacturer</label>
            <input value="{{sparefind.0.car_manufacturer}}" type="text" class="form-control" name="manufactur" id="manufactur" aria-describedby="manufacturerHelp">
            <!-- <div id="manufacturerHelp" class="form-text">Ingrese nombre del manufacturer.</div> -->
        </div>
        <div class="mb-3">
            <label for="mode" class="form-label">Model</label>
            <input value="{{sparefind.0.car_model}}" type="text" class="form-control" name="mode" id="mode" aria-describedby="modeHelp">
        </div>
        <div class="mb-3">
            <label for="yearfro" class="form-label">Year from</label>
            <input value="{{sparefind.0.carfrom}}" type="number" class="form-control" name="yearfro" id="yearfro" aria-describedby="yearfroHelp">
        </div>
        <div class="mb-3">
            <label for="yeart" class="form-label">Year to</label>
            <input value="{{sparefind.0.carto}}" type="number" class="form-control" name="yeart" id="yeart" aria-describedby="yeartHelp">
        </div>
        <div class="mb-3">
            <label for="chasi" class="form-label">Chasis</label>
            <input value="{{sparefind.0.transmission}}" type="text" class="form-control" name="chasi" id="chasi" aria-describedby="chasiHelp">
        </div>
        <button id="formPass" type="submit" class="btn btn-primary">Save</button>
    </form>

</div>

{% endblock %}