{% extends "spareapp/fillbase.html" %}

{% block title %} Spare {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container mt-5 col-lg-7 d-flex justify-content-center">

    <form id="formMain" method="POST" class="needs-validation" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cod" class="form-label">Code</label>
            <input value="" type="text" class="form-control" name="cod" id="cod" aria-describedby="codeHelp" maxlength="15" required>
        </div>
        
        <!------------------------------------ Category ------------------------------------------>

        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Category</label>
                    <select name="catSelect" id="catSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="" selected>Select category</option>
                        {% for sp in allCategories %}
                        <option value="{{sp}}">{{sp}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="col-lg-1 d-flex align-items-end">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal3" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory1" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

        <!--------------------------------- Car Engine -------------------------------------->

        <div class="mb-3" id="carEngineTittle">
            <!-- <label for="atribut" class="form-label">Atributes</label> -->
            <div id="carEngine-content" class="row">
                <div id="ref-val" class="ref-val row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="carSelect" class="form-label">Car info</label>
                                <select name="carSelect" id="carSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                                    <option value="" selected>Select car</option>
                                    {% for sp in allCars %}
                                    <option value="{{sp.id}}">{{sp.car_manufacturer}} {{sp.car_model}} {% if sp.carfrom %} {{sp.carfrom}} {% endif %} {% if sp.chasis %} {{sp.chasis}} {% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="engSelect" class="form-label">Engine info</label>
                                <select name="engSelect" id="engSelect" class="form-select form-select-md" aria-label=".form-select-sm example1">
                                    <option value="" selected>Select engine</option>
                                    {% for sp in allEngines %}
                                    <option value="{{sp.id}}">{{sp.engine_ide}} {% if sp.engine_l %} {{sp.engine_l}} {% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center align-items-end">
                        <div>
                            <a style="text-decoration: none;color: rgb(136,12,12);" id="carEngineaddRef" class="p-2" href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------ Make group ------------------------------------------>

        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Make group</label>
                    <select name="makeGroupSelect" id="makeGroupSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="" selected>Select make group</option>
                        {% for sp in allMakes %}
                        <option value="{{sp.id}}">{{sp}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!------------------------------------ Model group ------------------------------------------>

        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Model group</label>
                    <select name="modelGroupSelect" id="modelGroupSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="" selected>Select model group</option>
                        {% for sp in allModels %}
                        <option value="{{sp.car_model}}">{{sp.car_model}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!--------------------------------- Reference Codes -------------------------------------->

        <div class="mb-3" id="refCodesTittle">
            <label for="refcodes" class="form-label">Reference Codes</label>
            <div id="reference-content" class="row">
                <div id="ref-val" class="ref-val row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-6">
                                <input placeholder="Add the reference code" value="" type="text" class="form-control" name="refcodes" id="refcodes" aria-describedby="refcodesHelp" maxlength="80">
                            </div>
                            <div class="col-lg-5">
                                <input placeholder="Add a note" value="" type="text" class="form-control" name="refcodesnote" id="refcodesnote" aria-describedby="refcodesnoteHelp" maxlength="80">
                            </div>
                            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center align-items-center">
                        
                        <div>
                            <a style="text-decoration: none;color: rgb(136,12,12);" id="addRef" class="p-2" href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!--------------------------------- Spare Targets -------------------------------------->

        <div class="mb-3">
            <label for="referenc" class="form-label">Spare targets</label>
            <input placeholder="Search by code or description" type="text" class="form-control" name="referenc" id="referenc" aria-describedby="referencHelp">
            <div class="row">
                <div class="col-lg-6">
                    <div class="color text-white p-2 m-2">Available Spare target</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="toPass" id="codPasar" size="5">
                            {% for spr in allSparesall %}
                                <option class="p-1">{{spr.spare_code}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="color text-white p-2 m-2">Chosen Spare target</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="toReg" id="codPasado" size="5">
                            {% for spr in allSparesall %}
                                {% if spr.spare_code == val %}
                                    {% for sp in spr.spare_spare.all %}
                                    <option value="{{sp.spare_code}}" class="p-1">{{sp.spare_code}}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="container d-flex justify-content-center">
                        <div class="m-2">
                            <a onClick="pasar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                  </svg>
                            </a>
                        </div>
                        <div class="m-2">
                            <a onClick="regresar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------- Atributes -------------------------------------->

        <div class="mb-3" id="refCodesTittle">
            <label for="atribut" class="form-label">Atributes</label>
            <div id="atribute-content" class="row">
                <div id="ref-val" class="ref-val row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-6">
                                <input placeholder="Add the atribute name" value="" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80">
                            </div>
                            <div class="col-lg-6">
                                <input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center align-items-center">
                        <div>
                            <a style="text-decoration: none;color: rgb(136,12,12);" id="atributaddRef" class="p-2" href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------- Dimensions -------------------------------------->

        <div class="mb-3" id="refCodesTittle">
            <label for="dimnens" class="form-label">Dimensions</label>
            <div id="dimension-content" class="row">
                <div id="ref-val" class="ref-val row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-6">
                                <input placeholder="Add the dimension name" value="" type="text" class="form-control" name="dimensName" id="dimensName" aria-describedby="dimensNameHelp" maxlength="80">
                            </div>
                            <div class="col-lg-6">
                                <input placeholder="Add the dimension value" value="" type="number" class="form-control" name="dimensVal" id="dimensVal" aria-describedby="dimensValHelp" maxlength="80">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center align-items-center">
                        <div>
                            <a style="text-decoration: none;color: rgb(136,12,12);" id="dimensaddRef" class="p-2" href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------- Brand -------------------------------------->

        <div class="mb-3" id="brandTittle">
            <div class="row">
                <div class="col-lg-4">
                    <label for="brandSelect" class="form-label">Brand</label>
                </div>
                <div class="col-lg-3">
                    <label for="vendorSelect" class="form-label">Vendor</label>
                </div>
                <div class="col-lg-2">
                    <label for="priceSelect" class="form-label">Price</label>
                </div>
                <div class="col-lg-2">
                    <label for="selectQuantity" class="form-label">Quantity</label>
                </div>
            </div>
            <div id="brandInt" class="ref-val row">
                <div class="col-lg-4">
                    <select name="brandSelect" id="brandSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="" selected>Select brand</option>
                        {% for sp in allBrands %}
                        <option value="{{sp.id}}">{{sp}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <select name="vendorSelect" id="vendorSelect" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="" selected>Select vendor</option>
                        {% for sp in allVendors %}
                        <option value="{{sp.id}}">{{sp}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2">
                    <input min="0" step="0.01" class="form-control" name="priceSelect" id="priceSelect" type="number">
                </div>
                <div class="col-lg-2">
                    <input name="cantidadSelect" min="0" step="1" class="form-control" type="number">
                </div>
                <div class="col-lg-1" style="cursor: pointer;color: rgb(136,12,12);" onclick="selectBrand('plus')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="vin" class="form-label">VIN</label>
            <textarea value="" type="textarea" class="form-control" name="vin" id="vin" aria-describedby="vinHelp"></textarea>
        </div>

        <div class="mb-3">
            <label for="descriptio" class="form-label">Description</label>
            <input value="" type="text" class="form-control" name="descriptio" id="descriptio" aria-describedby="descriptionHelp" maxlength="80">
        </div>
        
        <button id="formPass" type="submit" class="btn btn-primary">Save</button>
    </form>

    <!-- Modal ------------------------------------------------------------------------------------>
    <div tabindex="-1" id="categoryModal3" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Add a category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <!-- Agregar category --------------------------------------------------------------------- -->
                    
                    <div class="container col-lg-12">
                    
                        <form id="firstCategory" action="{% url 'fillcategory' %}" method="POST">
                        <!-- <form onsubmit="return enviar();" data-url="{% url 'fillcar' %}" id="secondForm" action="" method="POST"> -->
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="categor" class="form-label">Category name</label>
                                <input type="text" class="form-control" name="categor" id="categor" aria-describedby="categorHelp">
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <input type="hidden" name="id" value="secondForm">
                        </form>
                    </div>

                    <!-- ----------------------------------------------------------------------------------- -->

                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin del modal -->
    
</div>

<script>

$("#formMain").on("submit",function(a){

    if($('#refCodesTittle input[type="checkbox"]:checked').length > 0 && $("#cod").val() != ""){
        console.log("Pasa")
    }else{
        a.preventDefault()
    }

})

$(document).ready(function(){
    $("#refCodesTittle").on("change", "input[type='checkbox']",function(){
        // console.log($(this).prev())

        $('#refCodesTittle input:checkbox').not(this).prop('checked', false);

        if ($(this).is(':checked')){
            console.log($(this).parent().parent().find("#refcodes").val())
            $("#cod").val($(this).parent().parent().find("#refcodes").val())
            // alert($(this).prev())
        }else{
            $("#cod").val("")
        }
    })
})

// $(document).ready(function(){
//     $("#refCodesTittle input:checkbox").each(function(){
//         $(this).change(function(){
//             alert("Cambia")
//         })
//     })
// })


// $("#refCodesTittle input:checkbox").each(function(){
//     $(this).change(function(){
//         alert("Cambia")
//     })
// })

function selectBrand(a){

    principal = $("#brandTittle")
    
    var val = a

    $.ajax({
        method: 'GET',
        url: '/vendorSpareAjax',
        data: {'val': val},
        success:function(data){

            // alert(a)

            if(a == "plus"){

                tittle = $('<div id="brandInt" class="ref-val row"></div>')
                div1 = $('<div class="col-lg-4"><div>')
                div2 = $('<div class="col-lg-3"><div>')
                div3 = $('<div class="col-lg-2"><input min="0" step="0.01" class="form-control" name="priceSelect" id="priceSelect" type="number"></div>')
                div4 = $('<div class="col-lg-2"><input name="cantidadSelect" min="0" step="1" class="form-control" type="number"></div>')
                div5 = $('<div id="deleteBrandVendor" class="col-lg-1" style="cursor: pointer;color: rgb(136,12,12);"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg></div>')
                select1 = $('<select name="brandSelect" id="brandSelect" class="form-select form-select-md" aria-label=".form-select-sm example"></select>')
                select1.append('<option value="" selected>Select brand</option>')
                for(var i = 0;i < data.allBrands.length;i++){
                    select1.append('<option value="'+data.allBrands[i].id+'">'+data.allBrands[i].brand+'</option>')
                }
                div1.append(select1)

                select2 = $('<select name="vendorSelect" id="vendorSelect" class="form-select form-select-md" aria-label=".form-select-sm example"></select>')
                select2.append('<option value="" selected>Select vendor</option>')
                for(var i = 0;i < data.allVendors.length;i++){
                    select2.append('<option value="'+data.allVendors[i].id+'">'+data.allVendors[i].vendorName+'</option>')
                }
                div2.append(select2)
                tittle.append(div1)
                tittle.append(div2)
                tittle.append(div3)
                tittle.append(div4)
                tittle.append(div5)
                principal.append(tittle)

            }
        }
    })
}

// Eliminar deleteBrandVendor
$(document).on("click","#deleteBrandVendor",function(a){
    // alert("ENtra")
    a.preventDefault()
    $(this).parent().remove()
    // atrtam--
})

// Agregar Car Engine
// $("#carEngineaddRef").on('click', function() {
$(document).on("click","#carEngineaddRef",function(){

    var val = "carEngine"

    $.ajax({
        method: 'GET',
        url: '/carEnginePlus',
        data: {'val': val},
        success:function(data){

            var divSup = $('<div class="ref-val row"></div>')
            var divMed = $('<div class="col-lg-11"></div>')
            var row = $('<div class="row"></div>')
            var col1 = $('<div class="col-lg-6"></div>')
            var col2 = $('<div class="col-lg-6"></div>')
            var select1 = $('<select name="carSelect" id="carSelect" class="form-select form-select-md"></select>')
            var select2 = $('<select name="engSelect" id="engSelect" class="form-select form-select-md"></select>')
            var option1 = $('<option value="">Select car</option>')
            
            var option3 = $('<option value="">Select engine</option>')
            var minus = $('<div class="col-lg-1 d-flex justify-content-center align-items-center"><div><a style="text-decoration: none;color: rgb(136,12,12);" id="carEngineDeleteRef" class="p-2" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg></a></div></div>')
        
            $("#carEngine-content").append(divSup)
            divSup.append(divMed)
            divSup.append(minus)
            divMed.append(row)
            row.append(col1)
            row.append(col2)
            col1.append(select1)
            
            select1.append(option1)
            for(var i=0;i<data.allCars.length;i++){
                var anio = (data.allCars[i].carfrom) ? (data.allCars[i].carfrom) : ""
                var chas = (data.allCars[i].chasis) ? (data.allCars[i].chasis) : ""
                var option2 = $('<option value="'+data.allCars[i].id+'">'+data.allCars[i].car_manufacturer__manufacturer+' '+data.allCars[i].car_model+' '+anio+' '+chas+'</option>')
                select1.append(option2)
            }
            col2.append(select2)
            select2.append(option3)
            for(var i=0;i<data.allEngines.length;i++){
                var litres = (data.allEngines[i].engine_l) ? (data.allEngines[i].engine_l) : ""
                var option4 = $('<option value="'+data.allEngines[i].id+'">'+data.allEngines[i].engine_ide+' '+litres+'</option>')
                select2.append(option4)
            }
            // select1.select2();
            // select2.select2();
        }
    })

})

// Eliminar dimensiones
$("#carEngine-content").on("click","#carEngineDeleteRef",function(a){
    a.preventDefault()
    $(this).parent().parent().parent().remove()
})

// Agregar Brands
$("#brandaddRef").click(function(){
    $("#brands-content")
    .append(
        '<div id="ref-val" class="ref-val row"><div class="col-lg-11"><div class="row"><div class="col-lg-6"><input placeholder="Add the atribute name" value="" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80"></div><div class="col-lg-6"><input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80"></div></div></div><div class="col-lg-1 d-flex justify-content-center align-items-center"><div><a style="text-decoration: none;color: rgb(136,12,12);" id="atributdeleteRef" class="p-2" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg></a></div></div></div>'
        )
})

// Agregar modal Brand
$("#submitButton").click(function(e){
    e.preventDefault()

    cat = $("#brandm").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(){
            console.log("Success")

            $("#brand").append("<option value='"+cat+"' selected>"+cat+"</option>")
            $(".btn-close").click()
        }
    })
})
// Valores de atributos por default dependiendo de la categoría
$("#catSelect").change(function(){
    val = $(this).find("option:selected").text()
    $.ajax({
        method: 'GET',
        url: '/spareCat',
        data: {'val': val},
        success:function(data){

            $("#atribute-content").empty()
            $("#atribute-content").append('\
            <div class="" id="refCodesTittle">\
                <div id="atribute-content" class="row">\
                    <div id="ref-val" class="ref-val row">\
                        <div class="col-lg-11">\
                            <div class="row">\
                                <div class="col-lg-6">\
                                    <input placeholder="Add the atribute name" value="" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80">\
                                </div>\
                                <div class="col-lg-6">\
                                    <input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80">\
                                </div>\
                            </div>\
                        </div>\
                        <div class="col-lg-1 d-flex justify-content-center align-items-center">\
                            <div>\
                                <a style="text-decoration: none;color: rgb(136,12,12);" id="atributaddRef" class="p-2" href="javascript:void(0);">\
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">\
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>\
                                    </svg>\
                                </a>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            </div>\
            ')
            if(data.atributesSpare){
                $("#atribute-content").empty()
                for(let i = 0; i < data.atributesSpare.length; i++){
                    if(i==0){
                    
                        $("#atribute-content").append('\
                        <div id="ref-val" class="ref-val row">\
                            <div class="col-lg-11">\
                                <div class="row">\
                                    <div class="col-lg-6">\
                                        <input placeholder="Add the atribute name" value="'+data.atributesSpare[i].atribute+'" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80">\
                                    </div>\
                                    <div class="col-lg-6">\
                                        <input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80">\
                                    </div>\
                                </div>\
                            </div>\
                            <div class="col-lg-1 d-flex justify-content-center align-items-center">\
                                <div>\
                                    <a style="text-decoration: none;color: rgb(136,12,12);" id="atributaddRef" class="p-2" href="javascript:void(0);">\
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">\
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>\
                                        </svg>\
                                    </a>\
                                </div>\
                            </div>\
                        </div>\
                        ')

                    }else{

                        $("#atribute-content").append('\
                        <div id="ref-val" class="ref-val row">\
                            <div class="col-lg-11">\
                                <div class="row">\
                                    <div class="col-lg-6">\
                                        <input placeholder="Add the atribute name" value="'+data.atributesSpare[i].atribute+'" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80">\
                                    </div>\
                                    <div class="col-lg-6">\
                                        <input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80">\
                                    </div>\
                                </div>\
                            </div>\
                            <div class="col-lg-1 d-flex justify-content-center align-items-center">\
                                <div>\
                                    <a style="text-decoration: none;color: rgb(136,12,12);" id="atributdeleteRef" class="p-2" href="javascript:void(0);">\
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">\
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>\
                                </svg>\
                            </a>\
                                </div>\
                            </div>\
                        </div>\
                        ')

                    }
                }
            }else{
                console.log("No tiene atributos")
            }

        }
    })
})

// Para filtrar por categoria
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#catSelect').select2();
    });
});

// Para filtrar por make group
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#makeGroupSelect').select2();
    });
});

// Para filtrar por model group
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#modelGroupSelect').select2();
    });
});


// Para filtrar por brand
// jQuery(document).ready(function($){
//     $(document).ready(function() {
//         $('#brandSelect').select2();
//     });
// });

// Para filtrar por vendor
// jQuery(document).ready(function($){
//     $(document).ready(function() {
//         $('#vendorSelect').select2();
//     });
// });

// // Para filtrar por car
// jQuery(document).ready(function($){
//     $(document).ready(function() {
//         $('#carSelect').select2();
//     });
// });

// // Para filtrar por engine
// jQuery(document).ready(function($){
//     $(document).ready(function() {
//         $('#engSelect').select2();
//     });
// });

// Para filtrar por car o engine
// jQuery(document).ready(function($){
//     $(document).ready(function() {
//         $('#carEngineTittle select').each(function(){
//             $(this).select2();
//         })
//     });
// });

// Pasar de un lado a otro los spares references ---------------------------------------------
function pasar(){
    $("#codPasar option:selected").each(function(){ // Recorre lista sin pasar
        band = false
        var aux = $(this).text()
        $("#codPasado option").each(function(){ // Recorre lista pasada
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
            
        })
        if($("#codPasado option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#codPasado").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}
function regresar(){
    $("#codPasado option:selected").each(function(){ // Recorre lista pasada
        band = false
        var aux = $(this).text()
        $("#codPasar option").each(function(){ // Recorre lista sin pasar
            if(aux == $(this).text()){
            }
            else{
                band = true
                aux2 = aux
            }
        })
        if($("#codPasar option:selected").length<1){
            band = true
            aux2 = aux
        }
        $(this).remove()
        if(band == true){
            $("#codPasar").prepend("<option class='p-1'>"+aux2+"</option>")
        }
    })
}

// Arreglar los valores que se pasarán ------------------------------------------------
$("#formPass").on("click",function(){
    $("#codPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#codPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
})

$("#formPass2").on("click",function(){
    $("#codPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#codPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#carcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#enginecodPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#vendorPasar option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
})

// Eliminar ref codes
$("#reference-content").on("click","#deleteRef",function(a){
    a.preventDefault()
    $(this).parent().parent().parent().remove()
    // reftam--
})


// Agregar Atributos
// $("#atributaddRef").click(function(){
$("#atribute-content").on("click","#atributaddRef",function(a){
    $("#atribute-content")
    .append(
        '<div class="ref-val row"><div class="col-lg-11"><div class="row"><div class="col-lg-6"><input placeholder="Add the atribute name" value="" type="text" class="form-control" name="atributName" id="atributName" aria-describedby="atributNameHelp" maxlength="80"></div><div class="col-lg-6"><input placeholder="Add the atribute value" value="" type="text" class="form-control" name="atributVal" id="atributVal" aria-describedby="atributValHelp" maxlength="80"></div></div></div><div class="col-lg-1 d-flex justify-content-center align-items-center"><div><a style="text-decoration: none;color: rgb(136,12,12);" id="atributdeleteRef" class="p-2" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg></a></div></div></div>'
        )
})
// Eliminar Atributes
$("#atribute-content").on("click","#atributdeleteRef",function(a){
    a.preventDefault()
    $(this).parent().parent().parent().remove()
    // atrtam--
})

// Eliminar dimensiones
$("#dimension-content").on("click","#dimesdeleteRef",function(a){
    a.preventDefault()
    $(this).parent().parent().parent().remove()
})

// Agregar modal Category
$("#firstCategory").submit(function(e){
    e.preventDefault()

    cat = $("#categor").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(){
            console.log("Success")

            $("#catSelect").append("<option value='"+cat+"' selected>"+cat+"</option>")
            $(".btn-close").click()
        }
    })
})

document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('input[type=number]').forEach( node => node.addEventListener('keypress', e => {
        if(e.keyCode == 13) {
            e.preventDefault();
        }
    }))

    document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
        if(e.keyCode == 13) {
            e.preventDefault();
        }
    }))
});
</script>
{% endblock %}