{% extends "spareapp/fillbase.html" %}

{% block title %} DataBase {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container mt-5 col-lg-4">

    

    <!-- <form action="">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2">
                <div><label for="manufact">Manufacturer</label></div>
                <div><label for="mode">Model</label></div>
                <div><label for="yfrom">Year From</label></div>
                <div><label for="yto">Year To</label></div>
                <div><label for="chasi">Chasis</label></div>
            </div>
            <div class="col-lg-4">
                <div><input style="width: 100%;" id="manufact" type="text"></div>
                <div><input style="width: 100%;" id="mode" type="text"></div>
                <div><input style="width: 100%;" id="yfrom" type="number"></div>
                <div><input style="width: 100%;" id="yto" type="number"></div>
                <div><input style="width: 100%;" id="chasi" type="text"></div>
            </div>
        </div>
        
        
    </form> -->
</div>

{% endblock %}