{% extends "spareapp/fillbase.html" %}

{% block title %} Car {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container mt-5 col-lg-7">

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Make</label>
                    <select name="manufactur" id="manufactur" class="form-select form-select-md" aria-label=".form-select-sm example" required>
                        <option value="" selected>Select car</option>
                        {% for sp in allCarsDistinct %}
                        <option value="{{sp.car_manufacturer}}">{{sp.car_manufacturer}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="col-lg-1 d-flex align-items-end">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal3" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory1" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal ------------------------- -->
            <div tabindex="-1" id="categoryModal3" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryModalLabel">Add a maker</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container col-lg-12">
                                <div id="firstCategory" action="" method="POST">
                                    <div class="mb-3">
                                        <label for="categor" class="form-label">Maker name</label>
                                        <input type="text" class="form-control" name="categor" id="categor" aria-describedby="categorHelp">
                                    </div>
                                    <button id="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="submitButton" type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-lg-11">
                    <label for="" class="form-label">Model</label>
                    <select name="model" id="model" class="form-select form-select-md" aria-label=".form-select-sm example" required>
                        <option value="" selected>Select model</option>
                        {% for sp in allModelsDistinct %}
                        <option value="{{sp.car_model}}">{{sp.car_model}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="col-lg-1 d-flex align-items-end">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal4" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory4" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal ------------------------- -->
            <div tabindex="-1" id="categoryModal4" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModal4Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryModal4Label">Add a model</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container col-lg-12">
                                <div id="firstCategory4">
                                    <div class="mb-3">
                                        <label for="mode" class="form-label">Model name</label>
                                        <input type="text" class="form-control" name="mode" id="mode" aria-describedby="modeHelp">
                                    </div>
                                    <button id="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="submitButton4" type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="yearfro" class="form-label">Year from</label>
            <input type="number" class="form-control" name="yearfro" id="yearfro" aria-describedby="yearfroHelp">
        </div>
        <!-- <div class="mb-3">
            <label for="yeart" class="form-label">Year to</label>
            <input type="number" class="form-control" name="yeart" id="yeart" aria-describedby="yeartHelp">
        </div> -->

        <!-- Transmision ------------------------- -->
        <!-- <div class="mb-3">
            <label for="trans" class="form-label">Transmission</label>
            <input placeholder="Search by transmission" type="text" class="form-control" name="trans" id="trans" aria-describedby="transHelp">
            <div class="row">
                <div class="col-lg-5">
                    <div class="color text-white p-2 m-2">Available Transmissions</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="engcartoPass" id="engcarcodPasar" size="5">
                            {% for spr in allTrans|dictsort:"trans" %}
                                <option class="p-1">{{spr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="color text-white p-2 m-2">Chosen Transmisisons</div>
                    <div class="container">
                        <select class="form-select" multiple aria-label="multiple select example" name="engcartoReg" id="engcarcodPasado" size="5">
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 d-flex align-items-center">
                    <div>
                        <a data-bs-toggle="modal" data-bs-target="#categoryModal" style="text-decoration: none;color: rgb(136,12,12);" id="addCategory" class="p-2" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="container d-flex justify-content-center">
                    <div class="m-2">
                        <a onClick="engcarpasar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                </svg>
                        </a>
                    </div>
                    <div class="m-2">
                        <a onClick="engcarregresar()" href="javascript:void(0);" class="text-red" style="text-decoration: none;color: rgb(136,12,12);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="mb-3">
            <label for="trans" class="form-label">Transmission</label>
            <input type="text" class="form-control" name="trans" id="trans" aria-describedby="transHelp">
        </div> -->

        <div class="mb-3">
            <label for="chasi" class="form-label">Chasis</label>
            <input type="text" class="form-control" name="chasi" id="chasi" aria-describedby="chasiHelp">
        </div>
        <button type="submit" id="formPass" class="btn btn-primary">Save</button>
    </form>
    <!-- Modal ------------------------------------------------------------------------------------->
    <div tabindex="-1" id="categoryModal" class="modal fade modal-dialog-scrollable" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Add a transmission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <!-- Agregar transmision --------------------------------------------------------------------- -->
                    
                    <div class="container mt-3 col-lg-12">

                        <form action="{% url 'filltrans' %}" data-url="{% url 'filltrans' %}" id="secondForm" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="transmission" class="form-label">Transmision</label>
                                <input type="text" class="form-control" name="transmission" id="transmission" aria-describedby="transmissionHelp" required>
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button from="secondForm" id="secondFormSubmit" type="submit" class="btn btn-primary">Save</button>
                            <input type="hidden" name="id" value="secondForm">
                        </form>
                    </div>
                    <!-- ----------------------------------------------------------------------------------- -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin del modal -->
</div>

<script>
// Para filtrar por sub categoria
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#manufactur').select2();
    });
});

// Para filtrar por model
jQuery(document).ready(function($){
    $(document).ready(function() {
        $('#model').select2();
    });
});

// Agregar modal Make
$("#submitButton").click(function(e){
    e.preventDefault()

    cat = $("#categor").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(){
            console.log("Success")

            $("#manufactur").append("<option value='"+cat+"' selected>"+cat+"</option>")
            $(".btn-close").click()
        }
    })
})

// Agregar modal model
$("#submitButton4").click(function(e){
    e.preventDefault()

    cat = $("#mode").val()

    $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: $(this).serialize(),
        
        success: function(){
            console.log("Success")

            $("#model").append("<option value='"+cat+"' selected>"+cat+"</option>")
            $(".btn-close").click()
        }
    })
})

// Arreglar los valores que se pasarán ------------------------------------------------
$("#formPass").on("click",function(){
    $("#engcarcodPasado option").each(function(){
        $(this).attr("selected",true)
    })
    $("#engcarcodPasar option").each(function(){
        $(this).attr("selected",true)
    })
})
</script>

{% endblock %}