<html>
    <div class="container d-flex justify-content-center mt-4">
        <div>
            <a href="{% url 'fillcar' %}" class="btn btn-success">Register car</a>
            <a href="{% url 'fillengine' %}" class="btn btn-success">Register engine</a>
            <a href="{% url 'fillspare' 'empty' %}" class="btn btn-success">Register spare</a>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-1">
        <div>
            <button onclick="window.location.href='/editcar'" class="btn btn-secondary">Edit car</button>
            <button onclick="window.location.href='/fillengine'" class="btn btn-secondary">Edit engine</button>
            <a href="{% url 'listspare' %}" class="btn btn-secondary">Edit spare</a>
        </div>
    </div>
</html>


