<html>
    <div class="container d-flex justify-content-center mt-4">
        <div>
            <a href="{% url 'fillcar' %}" class="btn btn-success">Register car</a>
            <a href="{% url 'fillengine' %}" class="btn btn-success">Register engine</a>
            <a href="{% url 'fillspare' 'empty' %}" class="btn btn-success">Register spare</a>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-1">
        <div>
            <a href="{% url 'listcar' %}" class="btn btn-secondary">Edit Car</a>
            <a href="{% url 'listengine' %}" class="btn btn-secondary">Edit engine</a>
            <a href="{% url 'listspare' %}" class="btn btn-secondary">Edit spare</a>
        </div>
    </div>
</html>


