{% extends "spareapp/base.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<div class="resultadoBusqueda">
<div class="migajas color-soft color-hard p-2">{{parameter}}: {{mig}} </div>

{% include "spareapp/superior.html" %}
<form class="" method="POST" action="">
    {% include "spareapp/add.html" %}
    {% csrf_token %}
<table style="font-size: small;" id="invoice" class="invoice table-sortable draggable table-bordered">
    {% include "spareapp/tablesup.html" %}
    {% include "spareapp/tableinf.html" %}
</table>
{% include "spareapp/numPagesDown.html" %}
</form>
</div>

{% endblock %}