{% extends "spareapp/base.html" %}

{% block title %} Auto Repuestos Interamericana {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="notification alert alert-primary">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="resultadoBusqueda">

    {% include "spareapp/superior.html" %}

<form class="" method="POST" action="">
    {% include "spareapp/add.html" %}
    {% csrf_token %}
<table style="font-size: small;" id="invoice" class="invoice table-sortable draggable table-bordered">
<!-- Si quiere que no se guarde la posicion de las columnas, incluir clase forget-ordering -->
    {% include "spareapp/tablesup.html" %}
    {% include "spareapp/tableinf.html" %}
</table>
{% include "spareapp/numPagesDown.html" %}
</form>
</div>

{% endblock %}


