{% extends "spareapp/base.html" %}

{% block title %} Kmotorshop.com {% endblock %}

{% block content %}

<div class="resultadoBusqueda">

    {% include "spareapp/superior.html" %}

<form class="" method="POST" action="">
    {% include "spareapp/add.html" %}
    {% csrf_token %}
<table id="invoice" class="invoice table-striped table-sortable draggable forget-ordering">
    {% include "spareapp/tablesup.html" %}
    {% include "spareapp/tableinf.html" %}
</table>
{% include "spareapp/numPagesDown.html" %}
</form>
</div>

{% endblock %}


