{% extends "spareapp/fillbase.html" %}

{% block title %} List {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container invoicecont mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
            <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Search by code, description, category or vendor">
        </div>
    </div>

    <div style="font-size: small;" class="col-12">

        <div style="font-weight: bold;" class="col-12">
            <div class="row mt-3 ">
                <div class="d-flex justify-content-center col trsup color text-white p-2">Code</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">Brand</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">Description</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">Category</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">SubCategory</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">Ref. Codes</div>
                <div class="d-flex justify-content-center col trsup color text-white p-2">Quantity</div>
            </div>
        </div>

        {% for br in allSparesall %}

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div style="background-color: rgb(170, 170, 170);" class="row py-1 accordion-item text-dark">
                <div class="accordion-header" id="flush-heading{{br.id}}">
                    <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{br.id}}" aria-expanded="false" aria-controls="flush-collapse{{br.id}}">
                        <div class="row">
                            <div class="col d-flex justify-content-center">{{br.spare_code}}</div>
                            <div class="col d-flex justify-content-center">{% if br.spare_brand %}{{br.spare_brand}}{% else %}{% endif %}</div>
                            <div class="col d-flex justify-content-center">{% if br.spare_name %}{{br.spare_name}}{% endif %}</div>
                            <div class="col d-flex justify-content-center">{% if br.spare_category %}{{br.spare_category}}{% endif %}</div>
                            <div class="col d-flex justify-content-center">{% if br.spare_subcategory %}{{br.spare_subcategory}}{% endif %}</div>
                            <div class="col d-flex justify-content-center"></div>
                            {% for key,value in cantidad.items %}
                            {% if key == br.id %}
                            <div class="col d-flex justify-content-center">{{value.0}}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                
                <div id="flush-collapse{{br.id}}" class="accordion-collapse collapse color px-0 mx-0" aria-labelledby="flush-heading{{br.id}}" data-bs-parent="#accordionFlushExample">
                {% for c in allReferences %}
                {% if c.referenceSpare == br %}
                    <div class="accordion-body bg-light px-2">
                        
                        <div class="col-12">
                        
                            <div class="row">
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{br.spare_code}}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{% if br.spare_brand %}{{br.spare_brand}}{% endif %}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{% if br.spare_name %}{{br.spare_name}}{% endif %}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{% if br.spare_category %}{{br.spare_category}}{% endif %}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{% if br.spare_subcategory %}{{br.spare_subcategory}}{% endif %}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{c.referenceCode}}</a></div>
                                <div class="col d-flex justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{% if c.cantidad %}{{c.cantidad}}{% else %}0{% endif %}</a></div>
                            </div>
                        
                        </div>
                        
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<script>

$("#cod").on("keyup",function(){                                // Cuando se teclea algo
    var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
    $(".accordion-item").filter(function(){                             // 
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    })
})
</script>
{% endblock %}