{% extends "spareapp/fillbase.html" %}

{% block title %} List Cars {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container invoicecont mt-5 mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
            <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Search by make, model, year, chasis or transmission">
        </div>
    </div>
    
    <button onclick="defecto();" id="default" class="btn btn-secondary" style="font-size: small;">Default</button>

    <div id="cabeza" class="row text-white invoice mt-2 p-0 m-0">
        
        <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="Make"  class="trsup color col py-2 th"><div onclick="sort(0,'asc')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar('Make')">Make</div></div>
        <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="Model" class="trsup color col py-2 th"><div onclick="sort(1,'asc')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar('Model')">Model</div></div>
        <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="Year" class="trsup color col py-2 th"><div onclick="sort(2,'asc')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar('Year')">Year</div></div>
        <div style="font-size: small; font-weight: bold;position: sticky;top: 70;" id="Chasis" class="trsup color col py-2 th"><div onclick="sort(3,'asc')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar('Chasis')">Chasis</div></div>

    </div>
    <div id="cuerpo" style="font-size: small;background-color: rgb(180, 180, 180)" class="invoice p-0 m-0">
        {% for br in allCars %}
        <div class="unique">
        <div id="fila{{br.id}}" style="font-size: small;" class="row p-0 m-0 headEngine td">
            {% if br.car_manufacturer %}
                <div class="col d-flex align-items-center justify-content-center py-2">
                    <a class="text-dark" style="text-decoration: none;" href="{% url 'editcar' br.id %}">{{br.car_manufacturer}}</a>
                </div>
            {% else %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="#"></a></div>
            {% endif %}

            {% if br.car_model %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="{% url 'editcar' br.id %}">{{br.car_model}}</a></div>
            {% else %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="#"></a></div>
            {% endif %}

            {% if br.carfrom %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="{% url 'editcar' br.id %}">{{br.carfrom}}</a></div>
            {% else %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="#"></a></div>
            {% endif %}

            {% if br.chasis %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="{% url 'editcar' br.id %}">{{br.chasis}}</a></div>
            {% else %}
                <div class="col d-flex align-items-center justify-content-center py-2"><a class="text-dark" style="text-decoration: none;" href="#"></a></div>
            {% endif %}

        </div>
        {% for a in allEnginesCars %}
        {% if br.id == a.car_engine_info__id %}
        <div id="fila2{{br.id}}" style="font-size: small;display: none;" class="row p-0 m-0 bg-white carEngine" data-bs-toggle="fila{{br.id}}">
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href=""></a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{a.engine_ide}}</a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{a.engine_l}}</a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{a.engine_type}}</a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href="#">{{engine_pistons}}</a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href=""></a></div>
            <div class="col py-2 d-flex align-items-center justify-content-center"><a class="text-dark" style="text-decoration: none;" href=""></a></div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script>

$(".headEngine").each(function(){
    var prueba = $(this).attr("id").split("fila")[1]
    var band = false
    $(".carEngine").each(function(){
        if(prueba == $(this).attr("id").split("fila2")[1]){
            band = true
        }
    })
    if(band){
        $(this).find("div:first").prepend("<span class=''><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-short' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z'/></svg></span>")
    }
    band = false
})

$("#cod").on("keyup",function(){                                // Cuando se teclea algo
    var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
    $(".unique").filter(function(){                             // 
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    })
})

function sort(a,b){

    var table, rows, switching, i, x, y, shouldSwitch, change;
    table = document.getElementsByClassName("unique");
    // tEngine = document.getElementsByClassName("tdEngine");
    switching = true;
    // alert($("#cabeza .th")[0].getElementsByTagName("div")[1].innerHTML);
    // alert($("#cabeza .th")[a].getElementsByTagName("div")[1].innerHTML+"")
    var name = $("#cabeza .th")[a].getElementsByTagName("div")[1].innerHTML+""
    $("#cabeza .th")[a].innerHTML = "";
    if (b == 'desc'){
        $("#cabeza .th")[a].innerHTML = '<div onclick="sort('+a+',\'asc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\''+$("#cabeza .th")[a].getAttribute("id")+'\')">'+name+'</div>'
    }else{
        $("#cabeza .th")[a].innerHTML = '<div onclick="sort('+a+',\'desc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\''+$("#cabeza .th")[a].getAttribute("id")+'\')">'+name+'</div>'
    }
    while (switching) {
        switching = false;
        rows = table.length;
        for (i = 0; i < rows -1; i++) {
            shouldSwitch = false;
            x = table[i].getElementsByTagName("a")[a].innerHTML.toLowerCase()
            y = table[i + 1].getElementsByTagName("a")[a].innerHTML.toLowerCase()
            if(b == 'desc'){
                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
            }else{
                if (x < y) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            table[i].parentNode.insertBefore(table[i + 1], table[i]);
            // tEngine[i].parentNode.insertAfter(tEngine[i + 1], tEngine[i]);
            switching = true;
        }
    }
}

function filtrar(a){

    $("#cabeza div").each(function(f){
        
        if(a==$(this).html()){
            $(this).html("<input name='input"+$(this).parent().attr('id')+"' id='input"+$(this).parent().attr('id')+"' style='max-width: 100px;' type='text'>")
        }
        
    })
    $("#input"+a).select();

    $("#cabeza div").each(function(f){
        var bandMake = false
        var bandModel = false
        var bandYear = false
        var bandChasis = false
        var bandTotal = false

        $("#cabeza div input").on("keyup",function(){
            var valueMake = false
            var valueModel = false
            var valueYear = false
            var valueChasis = false
            $("#cabeza div input").each(function(){
                if($(this).attr("id")=="inputMake"){
                    valueMake = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputModel"){
                    valueModel = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputYear"){
                    valueYear = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputChasis"){
                    valueChasis = $(this).val().toLowerCase()
                }
            })
            $(".td").each(function(){
                bandMake = false
                bandModel = false
                bandYear = false
                bandChasis = false
                bandTotal = false
                $(this).find("div").each(function(){
                    if($(this).index()==0 && $(this).text().toLowerCase().indexOf(valueMake) > -1 || valueMake == false){
                        bandMake = true
                    }
                    if($(this).index()==1 && $(this).text().toLowerCase().indexOf(valueModel) > -1 || valueModel == false){
                        bandModel = true
                    }
                    if($(this).index()==2 && $(this).text().toLowerCase().indexOf(valueYear) > -1 || valueYear == false){
                        bandYear = true
                    }
                    if($(this).index()==3 && $(this).text().toLowerCase().indexOf(valueChasis) > -1 || valueChasis == false){
                        bandChasis = true
                    }
                })
                $(this).parent().toggle(bandMake && bandModel && bandYear && bandChasis)
            })
        })
    })
}

function defecto(){

    $("#cabeza div").each(function(f){
        if($(this).attr("id")=="Make"){
            $(this).html('<div onclick="sort(0,\'desc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\'Make\')">Make</div>')
        }
        if($(this).attr("id")=="Model"){
            $(this).html('<div onclick="sort(1,\'desc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\'Model\')">Model</div>')
        }
        if($(this).attr("id")=="Year"){
            $(this).html('<div onclick="sort(2,\'desc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\'Year\')">Year</div>')
        }
        if($(this).attr("id")=="to"){
            $(this).html("Year to")
        }
        if($(this).attr("id")=="Chasis"){
            $(this).html('<div onclick="sort(3,\'desc\')" style="display: inline-block;" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/></svg></div><div style="display: inline-block" class="" onclick="filtrar(\'Chasis\')">Chasis</div>')
        }
        if($(this).attr("id")=="Trans"){
            $(this).html("Trans")
        }
        $("#cuerpo div").each(function(){
            $(this).show()
        })
    })
    $(".carEngine").each(function(){
        $(this).hide()
    })
    sort(0,'desc')
}

$("#cuerpo").find("div").each(function(){
    $(this).click(function(){
        $("div[data-bs-toggle='"+$(this).attr('id')+"']").toggle(500)
    });
})

</script>
{% endblock %}