{% extends "spareapp/fillbase.html" %}

{% block title %} Edit Car {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container invoicecont mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
            <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Search by code, description, category or vendor">
        </div>
    </div>

    <table class="invoice invoicefill table-striped mt-3">
        <thead>
            <tr class="text-white">
                <th class="trsup color">Manufacturer</th>
                <th class="trsup color">Model</th>
                <th class="trsup color">Year from</th>
                <th class="trsup color">Year to</th>
                <th class="trsup color">Chasis</th>
                <th class="trsup color">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for br in allCars %}
            <tr>
                {% if br.car_manufacturer %}
                    <td class="pr-0"><a href="{% url 'editcar' br.id %}">{{br.car_manufacturer}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.car_model %}
                    <td class="pr-0"><a href="{% url 'editcar' br.id %}">{{br.car_model}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.carfrom %}
                    <td class="pr-0"><a href="{% url 'editcar' br.id %}">{{br.carfrom}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.carto %}
                    <td class="pr-0"><a href="{% url 'editcar' br.id %}">{{br.carto}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.transmission %}
                    <td class="pr-0"><a href="{% url 'editcar' br.id %}">{{br.transmission}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}
                
                <td class="pr-0"><a data-bs-toggle="modal" data-bs-target="#exampleModal{{br.car_manufacturer|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}{{br.car_model|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}" class="btn btn-danger text-white">Delete</a></td>

                <div class="modal fade" id="exampleModal{{br.car_manufacturer|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}{{br.car_model|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}" tabindex="-1" aria-labelledby="exampleModal{{br.car_manufacturer|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}{{br.car_model|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal{{br.car_manufacturer|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}{{br.car_model|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}Label">Caution</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Are you sure to eliminate the car {{br.car_manufacturer}} {{br.car_model}} ?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteengine" class="btn btn-primary" href="{% url 'deletecar' br.id %}">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>

$("#cod").on("keyup",function(){                                // Cuando se teclea algo
    var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
    $(".invoicefill tbody tr").filter(function(){                             // 
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    })
})
</script>
{% endblock %}