{% extends "spareapp/fillbase.html" %}

{% block title %} List Spares {% endblock %}

{% block content %}

{% include "spareapp/fillsup.html" %}

<div class="container invoicecont mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
            <input type="text" class="form-control" name="cod" id="cod" aria-describedby="codHelp" placeholder="Search by code, description, category or vendor">
        </div>
        <!-- <div class="col-lg-3">
            <input type="text" class="form-control" name="descriptio" id="descriptio" aria-describedby="descriptioHelp" placeholder="Search by description">
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="categor" id="categor" aria-describedby="categorHelp" placeholder="Search by category">
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="vendo" id="vendo" aria-describedby="vendoHelp" placeholder="Search by vendor">
        </div> -->
    </div>

    <button onclick="defecto();" id="default" class="btn btn-secondary" style="font-size: small;">Default</button>

    <table class="invoice invoicefill table-striped mt-2 mb-3">
        <thead>
            <tr class="text-white">
                <th id="Code" onclick="filtrar('Code')" style="max-width: 80;" class="trsup color">Code</th>
                <th id="Description" onclick="filtrar('Description')" style="max-width: 150px;" class="trsup color">Description</th>
                <th id="Category" onclick="filtrar('Category')" class="trsup color">Category</th>
                <th id="SubCategory" onclick="filtrar('SubCategory')" class="trsup color">SubCategory</th>
                <th id="Vendor" onclick="filtrar('Vendor')" class="trsup color">Vendor</th>
                <th class="trsup color">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for br in allSparesall %}
            <tr>
                {% if br.spare_code %}
                    <td style="max-width: 80;" class="pr-0"><a href="{% url 'editspare' br.id %}">{{br.spare_code}}</a></td>
                {% else %}
                    <td style="max-width: 80;" class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.spare_name %}
                    <td style="max-width: 150px;" class="pr-0"><a href="{% url 'editspare' br.id %}">{{br.spare_name}}</a></td>
                {% else %}
                    <td style="max-width: 150px;" class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.spare_category %}
                    <td class="pr-0"><a href="{% url 'editspare' br.id %}">{{br.spare_category}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.spare_subcategory %}
                    <td class="pr-0"><a href="{% url 'editspare' br.id %}">{{br.spare_subcategory}}</a></td>
                {% else %}
                    <td class="pr-0"><a href="#"></a></td>
                {% endif %}

                {% if br.spare_vendor.all %}
                    <td class="pr-0">
                {% for dim in allVendors %}
                    {% for sp in br.spare_vendor.all %}

                        {% if sp.vendorName == dim.vendorName %}
                            <div><a href="{% url 'editspare' br.id %}">{{sp.vendorName}}</a></div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </td>
                {% else %}
                <td class="pr-0"><div><a id="vendorInfo" href=""></a></div></td>
                {% endif %}
                <td class="pr-0"><a style="font-size: small;" data-bs-toggle="modal" data-bs-target="#exampleModal{{br.spare_code|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}" class="btn btn-danger text-white">Delete</a></td>

                <div class="modal fade" id="exampleModal{{br.spare_code|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}" tabindex="-1" aria-labelledby="exampleModal{{br.spare_code|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal{{br.spare_code|cut:'.'|cut:','|cut:' '|cut:'('|cut:')'}}Label">Caution</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Are you sure to eliminate the spare {{br.spare_code}} ?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="deleteSpare" class="btn btn-primary" href="{% url 'deletespare' br.spare_code %}">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -------------------------------------------------------------------------- -->
      
      <!-- Modal -->
      

    <!-- -------------------------------------------------------------------------------- -->
    
</div>

<script>

$("#cod").on("keyup",function(){                                // Cuando se teclea algo
    var value = $(this).val().toLowerCase();                        // Toma el valor del input en minuscula
    $(".invoicefill tbody tr").filter(function(){                             // 
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    })
})

function filtrar(a){

    $("table th").each(function(f){

        $(this).html($(this).attr("id"))

        if(a==$(this).html()){
            $(this).html("<input name='input"+$(this).attr('id')+"' id='input"+$(this).attr('id')+"' style='max-width: 100px;' type='text'>")
        }
    })
    $("table th input").each(function(){
        $(this).select();
    })

    $("table th").each(function(f){
        if($(this).find("input").attr("id")=="inputCode"){
            $("#inputCode").on("keyup",function(){
                var value = $(this).val().toLowerCase()
                $(".invoicefill tbody tr").filter(function(){
                    $(this).find("td").each(function(){
                        if($(this).index()==0){
                            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        }
                    })
                })
            })
        }
        if($(this).find("input").attr("id")=="inputDescription"){
            $("#inputDescription").on("keyup",function(){
                var value = $(this).val().toLowerCase()
                $(".invoicefill tbody tr").filter(function(){
                    $(this).find("td").each(function(){
                        if($(this).index()==1){
                            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        }
                    })
                })
            })
        }
        if($(this).find("input").attr("id")=="inputCategory"){
            $("#inputCategory").on("keyup",function(){
                var value = $(this).val().toLowerCase()
                $(".invoicefill tbody tr").filter(function(){
                    $(this).find("td").each(function(){
                        if($(this).index()==2){
                            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        }
                    })
                })
            })
        }
        if($(this).find("input").attr("id")=="inputSubCategory"){
            $("#inputSubCategory").on("keyup",function(){
                var value = $(this).val().toLowerCase()
                $(".invoicefill tbody tr").filter(function(){
                    $(this).find("td").each(function(){
                        if($(this).index()==3){
                            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        }
                    })
                })
            })
        }
        if($(this).find("input").attr("id")=="inputVendor"){
            $("#inputVendor").on("keyup",function(){
                var value = $(this).val().toLowerCase()
                $(".invoicefill tbody tr").filter(function(){
                    $(this).find("td").each(function(){
                        if($(this).index()==3){
                            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        }
                    })
                })
            })
        }
    })
}

function defecto(){
    $("table th").each(function(f){
        if($(this).attr("id")=="Code"){
            $(this).html("Code")
        }
        if($(this).attr("id")=="Description"){
            $(this).html("Description")
        }
        if($(this).attr("id")=="Category"){
            $(this).html("Category")
        }
        if($(this).attr("id")=="SubCategory"){
            $(this).html("SubCategory")
        }
        if($(this).attr("id")=="Vendor"){
            $(this).html("Vendor")
        }  
    })
    $(".invoicefill tbody tr").each(function(){
        $(this).show()
    })
}
</script>
{% endblock %}