{% extends "spareapp/base.html" %}

{% block title %} Kmotorshop.com{% endblock %}

{% block content %}

<div class="resultadoBusqueda">
<div class="migajas color-soft color-hard p-2">Car model: {{mig}} </div>
<form method="POST" action="">
    {% csrf_token %}
<div class="conteni p-2 my-2">
    <li class="hover"><a href="{% url 'allmodel' mig %}">All spares for {{mig}}</a></li>
</div>
<table id="invoice" class="invoice ">
    <thead>
        <tr class="trsup color text-white">
            <th class="trsup color">Litres</th>
            <th class="trsup color">Engine model</th>
            <th class="trsup color">Type</th>
            <th class="trsup color">Cylinder</th>
            <th class="trsup color">Pistons</th>
            <th class="trsup color">Power</th>
        </tr>
    </thead>
    <tbody id="myTable table-list">
        {% for br in engine %}
        <tr class="">
            <td>{{br.engine_l}}</td>
            <td><a href="{% url 'engine' br.engine_ide %}">{{br.engine_ide}}</a></td>
            <td>{{br.engine_type}}</td>
            <td>{{br.engine_cylinder}} ccm</td>
            <td>{{br.engine_pistons}}</td>
            <td>{{br.engine_power_kw}}Kw / {{br.engine_power_hp}}hp</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
</div>
{% endblock %}


