<html>
    <header>

    </header>
    <body>
        <div class="row">
            <div class="col-lg-2">
                <!-- <div>Number of rows</div> -->
                <div class="form-group">
                    <select name="state" id="maxRows" class="form-control">
                        <option value="5000">Show all rows</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>