<html>
    <header>

    </header>
    <body>
        <div class="row justify-content-center mt-2">
            <div class="col-auto text-center">  
                <div class="pagination-container">
                    <nav>
                        <ul class="pagination">
                            {% for n in numeros %}
                            {% if n == actual %}
                            <li class="page-a active"><span class="sr-only">{{n}}</span></li>
                            {% else %}
                            <li class="page-a"><span class="sr-only">{{n}}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>