{% extends "spareapp/base.html" %}

{% block title %} Spare detail {% endblock %}

{% block content %}

<div id="invoice" class="resultadoBusqueda">
    <div class="row">
        <div class="col-lg-9 color p-2 text-white d-flex justify-content-center">
            {{spare.0.spare_code}} - {{spare.0.spare_name}}
        </div>
        <div class="col-lg-1 color-soft text-white d-flex justify-content-center">
            <div class="p-2">
                {{dbActual}} / {{dbTotal}} 
            </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-lg-start">
                        <a href="{% url 'prev' spare.0.spare_code spareAux %}" class="btn btn-primary pl-4 pr-4">Prev</a>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end">
                        <a href="{% url 'next' spare.0.spare_code spareAux %}" class="btn btn-primary pl-4 pr-4">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2">
            <div class="imagecont d-flex justify-content-center">
                <div style="background-image: url('/media/{{spare.0.spare_photo}}');"" class="mimage"></div>
            </div>
        </div>
        
        <div class="conteni col-9">
            <!-- Especificaciones -->
            <div class="color p-1 text-white mt-2 radius mb-2" for="">Especification</div>
            <div class="row">
                <div class="col-5">
                    {% if spare.0.spare_code %}
                    <div>Code</div>
                    {% endif %}
                    {% if spare.0.spare_brand %}
                    <div>Brand</div>
                    {% endif %}
                    {% if spare.0.spare_category %}
                    <div>Category</div>
                    {% endif %}
                    {% if spare.0.spare_subcategory %}
                    <div>SubCategory</div>
                    {% endif %}
                    {% if spare.0.spare_name %}
                    <div>Description</div>
                    {% endif %}
                    {% if spare.0.note %}
                    <div>Note</div>
                    {% endif %}
                    
                </div>
                <div class="col-6">
                    {% if spare.0.spare_code %}
                    <div class="hover"><a href="">{{spare.0.spare_code}}</a></div>
                    {% endif %}
                    {% if spare.0.spare_brand %}
                    <div class="hover"><a href="{% url 'brand' spare.0.spare_brand %}">{{spare.0.spare_brand}}</a></div>
                    {% endif %}
                    {% if spare.0.spare_name %}
                    <div class="hover"><a href="{% url 'categoryi' spare.0.spare_category %}">{{spare.0.spare_category}}</a></div>
                    {% endif %}
                    {% if spare.0.spare_subcategory %}
                    <div class="hover"><a href="{% url 'categoryi' spare.0.spare_category %}">{{spare.0.spare_subcategory}}</a></div>
                    {% endif %}
                    {% if spare.0.spare_name %}
                    <div class="hover"><a href="{% url 'name' spare.0.spare_name %}">{{spare.0.spare_name}}</a></div>
                    {% endif %}
                    {% if spare.0.note %}
                    <!-- <div class="hover"><a href="#">{{spare.0.note}}</a></div> -->
                    <div class="hover">{{spare.0.note}}</div>
                    {% endif %}
                    <!-- {% if spare.0.shape %}
                    <div class="hover"><a href="{% url 'shape' spare.0.shape %}">{{spare.0.shape}}</a></div>
                    {% endif %} -->
                    
                </div>
            </div>

            {% for ref in refSpare %}
                {% if ref.referenceSpare == spare.0.id %}
                <div class="color p-1 text-white mt-2 radius mb-2" for="">Reference Codes</div>
                    <div class="row">

                        

                        <div class="col-5">
                            {% for rf in reference|dictsort:"referenceCode" %}
                                {% if spare.0.spare_code == rf.referenceSpare.spare_code %}
                                    <div class="hover"><a href="#">{{rf.referenceCode}}</a></div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="col-6">
                            {% for rf in reference|dictsort:"referenceCode" %}
                                {% if spare.0.spare_code == rf.referenceSpare.spare_code %}
                                    <div class="hover"><a href="#">{{rf.referenceNote}}</a></div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        



                    </div>
                {% endif %}
            {% endfor %}

             <!-- Si el repuesto le sirve a otros repuestos -->
             {% if spare.0.spare_spare.all %}
             <div class="color p-1 text-white mt-2 radius mb-2" for="">Spare targets</div>
                 <div class="row">
                    <div class="col-5">
                            {% for sp in spare.0.spare_spare.all %}
                            <div class="hover"><a href="{% url 'sparedetails' sp.spare_code spareAux %}">{{sp.spare_code}}</a></div>
                            {% endfor %}
                    </div>
                    <div class="col-6">
                        {% for sp in spare.0.spare_spare.all %}
                        <div class="hover"><a href="{% url 'name' sp.spare_name %}">{{sp.spare_name}}</a></div>
                        {% endfor %}
                    </div>
                     
                 </div>
             {% endif %}
        </div>

        <div class="col-12">
        
            <div class="col-12">
                <div class="row mt-2">
                    <div class="col-2 color text-white p-2" class="col">Year</div>
                    <div class="col-2 color text-white p-2" class="col">Chasis</div>
                    <div class="col-2 color text-white p-2" class="col">Eng No</div>
                    <div class="col-2 color text-white p-2" class="col">Litres</div>
                    <div class="col-2 color text-white p-2" class="col">Pistons</div>
                    <div class="col-2 color text-white p-2" class="col">Valve</div>
                    <!-- <div class="col-2 color text-white p-2" class="col">Power</div> -->
                </div>
            </div>

            {% for sp in spare.0.car_info.all %}

            <div id="accordion">
                <div class="card mt-2">
                    <div class="p-2 card-head card-head-a">
                        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapse{{sp.id}}">
                            {{sp.car_manufacturer}} > {{sp.car_model}}
                        </a>
                    </div>
                    {% for ob in spare %}
                    <div id="collapse{{sp.id}}" class="collapse">
                        <div class="card-body">
                            {% if sp in ob.car_info.all %}
                            <div class="row mt-2">
                                <div class="col-2">{{sp.carfrom}} - {{sp.carto}}</div>
                                <div class="col-2"><a style="color: black;" class="hover" href="{% url 'chasis' sp.transmission %}">{{sp.transmission}}</a></div>
                                <div class="col-2">
                                    <div class="row">
                                        {% for en in spare.0.engine_info.all %}
                                        {% if sp in en.car_engine_info.all %}
                                        <div class="col-12 hover">
                                            <a style="color: black;" class="hover" href="{% url 'engine' en.engine_ide %}">{{en.engine_ide}}</a>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="row">
                                        {% for en in spare.0.engine_info.all %}
                                        {% if sp in en.car_engine_info.all %}
                                        <div class="col-12 hover">
                                            <a style="color: black;" class="hover" href="#">{{en.engine_l}}</a>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-2">
                                    {% for en in spare.0.engine_info.all %}
                                        {% if sp in en.car_engine_info.all %}
                                        <div class="col-12">
                                            {{en.engine_pistons}}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-2">
                                    {% for en in spare.0.engine_info.all %}
                                        {% if sp in en.car_engine_info.all %}
                                        <div class="col-12">
                                            {{en.engine_cylinder}}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                
                                <!-- <div class="col-2">
                                    {% for en in spare.0.engine_info.all %}
                                        {% if sp in en.car_engine_info.all %}
                                        <div class="col-12">
                                            {{en.engine_power_kw}} Kw / {{en.engine_power_hp}} hp
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div> -->
                                <!-- <div class="col-2">{{sp.transmission}}</div> -->
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

