{% load static %}
<html>
<body>
    <div class="options my-2">
        <div id="filterContent" class="row align-items-center">
            
            <div style="font-size: small;" class="col-lg-7 col-md-7 col-sm-12 col-12 mt-1">
                <!-- Boton default -->
                <div style="display: inline-block;" class="">
                    <div style="font-size: small;" id="default" class="btn btn-success">Default</div>
                </div>
                <!-- Boton headers -->
                <div style="display: inline-block;" class="">
                    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel" data-toggle="dropdown" href="#">Headers</a>
                    <ul style="font-size: small;" id="headerList" class="color-soft dropdown-menu checkbox-menu allow-focus px-2" role="menu" aria-labelledby="dLabel">            
                        {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                        <li style="margin:auto;" class=""><input name="atributes" class="ml-2" type="checkbox"><label class="mx-1">Atributes</label></li>
                        {% endif %}
                        {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                        <li style="margin:auto;" class=""><input name="brand" class="ml-2" type="checkbox"><label class="mx-1">Brand</label></li>
                        {% endif %}
                        <li style="margin:auto;" class=""><input name="car" class="ml-2" type="checkbox"><label class="mx-1">Car/Engine</label></li>
                        <li style="margin:auto;" class=""><input name="referenceC" class="ml-2" type="checkbox"><label class="mx-1">Code</label></li>
                        <li style="margin:auto;" class=""><input name="category" class="ml-2" type="checkbox"><label class="mx-1">Category</label></li>
                        {% if request.user.is_authenticated %}
                        <li style="margin:auto;" class=""><input name="check" class="ml-2" type="checkbox"><label class="mx-1">Check</label></li>
                        {% endif %}
                        <!-- <li style="margin:auto;" class=""><input name="code" class="ml-2" type="checkbox"><label class="mx-1">Code</label></li> -->
                        <li style="margin:auto;" class=""><input name="type" class="ml-2" type="checkbox"><label class="mx-1">Description</label></li>
                        {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                        <li style="margin:auto;" class=""><input name="dimensions" class="ml-2" type="checkbox"><label class="mx-1">Dimensions</label></li>
                        {% endif %}
                        <li style="margin:auto;" class=""><input name="editSpare" class="ml-2" type="checkbox"><label class="mx-1">Edite</label></li>
                        <!-- <li style="margin:auto;" class=""><input name="engine" class="ml-2" type="checkbox"><label class="mx-1">Engine</label></li> -->
                        {% if request.user.is_superuser %}
                        <li style="margin:auto;" class=""><input name="priceM" class="ml-2" type="checkbox"><label class="mx-1">Price Major</label></li>
                        <li style="margin:auto;" class=""><input name="priceD" class="ml-2" type="checkbox"><label class="mx-1">Price Detail</label></li>
                        {% endif %}
                        {% if parameter == 'Engine code' %}
                        <li style="margin:auto;" class=""><input name="ecode" class="ml-2" type="checkbox"><label class="mx-1">Engine code</label></li>
                        {% endif %}
                        <li style="margin:auto;" class=""><input name="photo" class="ml-2" type="checkbox"><label class="mx-1">Photo</label></li>
                        
                        <!-- <li style="margin:auto;text-align:center;" class=""><label class="">Shape<input name="shape" class="mx-2" type="checkbox"></label></li> -->
                        {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                        <li style="margin:auto;" class=""><input name="vendor" class="ml-2" type="checkbox"><label class="mx-1">Vendor</label></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Boton filter dimensiones -->
                {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <!-- <div style="display: inline-block;" class="">
                    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel2" data-toggle="dropdown" href="#">Dimensions</a>
                    <ul style="font-size: small;" id="headerList2" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel2">            
                        {% for dim in dimension|dictsort:"atributeName" %}
                            <li style="margin:auto;" class=""><input name="check{{dim.atributeName|cut:' '|cut:'/'}}" class="ml-2" type="checkbox"><label class="ml-1">{{dim.atributeName}}</label></li>
                        {% endfor %}
                    </ul>
                </div> -->
                {% endif %}
                <!-- Boton filter atribute -->
                {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <div style="display: inline-block;" class="">
                    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel3" data-toggle="dropdown" href="#">Atributes</a>
                    <ul style="font-size: small;" id="headerList3" class="color-soft dropdown-menu checkbox-menu allow-focus px-2" role="menu" aria-labelledby="dLabel3">            
                        {% for atr in atribute|dictsort:"atributeName" %}
                            <li style="margin:auto;" class=""><input name="check{{atr.atributeName|cut:' '|cut:'/'}}" class="ml-2" type="checkbox"><label class="mx-1">{{atr.atributeName}}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- Boton Categories -->
                <div style="display: inline-block;" class="">
                    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel5" data-toggle="dropdown" href="#">Categories</a>
                    <ul style="font-size: small;" id="headerList5" class="color-soft dropdown-menu checkbox-menu allow-focus px-2" role="menu" aria-labelledby="dLabel5">            
                        {% for cat in allCategories %}
                            <li style="margin:auto;" class=""><input name="check{{cat.category|cut:' '|cut:'/'}}" class="ml-2" type="checkbox"><label class="mx-1">{{cat.category}}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Boton Vendor -->
                {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
                <div style="display: inline-block;" class="">
                    <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel6" data-toggle="dropdown" href="#">Vendors</a>
                    <ul style="font-size: small;" id="headerList6" class="color-soft dropdown-menu checkbox-menu allow-focus px-2" role="menu" aria-labelledby="dLabel6">            
                        {% for cat in allVendors %}
                            <li style="margin:auto;" class=""><input name="check{{cat.vendorName|cut:' '|cut:'/'}}" class="ml-2" type="checkbox"><label class="mx-1">{{cat.vendorName}}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            
            <div class="col-lg-5 col-md-5 col-sm-6 col-6 mt-1">
                <div class="d-flex justify-content-end">

                    {% if request.user.is_superuser %}
                    <div style="display: inline-block;" class="mr-1">
                        <a style="font-size: small;" class="btn btn-success mx-1" id="adminButton" href="{% url 'filldb' %}">Admin</a>
                    </div>
                    {% endif %}

                    <div style="display: inline-block;" class="">
                        <a style="font-size: small;" class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel4" data-toggle="dropdown" href="#">Options</a>
                        <ul style="font-size: small;" id="headerList4" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel4">            
                            <li><a class="dropdown-item" href="#" onClick="viewPDF()">View</a></li>
                            <li><a class="dropdown-item" href="#" onClick="generatePDF2()">PDF</a></li>
                            <li><a class="dropdown-item" href="#" id="downloadexcel">Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% for dim in dimension %}

            <div style="display: none;" id="{{dim.atributeName|cut:' '}}Filter" class="row filterDim">
                <div class="col-lg-6 mt-2">
                    <input class="col-lg-3 dimMin" type="number" placeholder="Min {{dim.atributeName}}" id="{{dim.atributeName|cut:' '}}Min">
                    <input class="col-lg-3 dimMax" type="number" placeholder="Max {{dim.atributeName}}" id="{{dim.atributeName|cut:' '}}Max">
                </div>
            </div>

            {% endfor %}

            {% for dim in atribute %}

            <div style="display: none;" id="{{dim.atributeName|cut:' '}}Filter" class="row filterAtr">
                <div class="col-lg-6 mt-2">
                    <input style="font-size: small;" class="col-lg-3 atrUnique" type="text" placeholder="{{dim.atributeName}}" id="{{dim.atributeName}}">
                    <button style="font-size: small;" id="{{dim.atributeName}}Button" type="button" class="btn btn-sm btn-danger" data-bs-toggle="popover" data-bs-trigger="focus" title="Valid values" data-bs-content="Valores">Values</button>
                </div>
            </div>

            {% endfor %}

            <div style="display: none;" id="ButtonFilter" class="row">
                <div class="col mt-2">
                    <button style="font-size: small;" class="btn btn-success" onClick="measureFilter()" id="measureFilter">Filter</button>
                    <button style="font-size: small;" class="btn btn-danger" onClick="measureReset()" id="measureReset">Reset</button>
                </div>
            </div>
        </div>
    </div>  

</body>

<!-- Para generar PDF con js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/fonts/Roboto/Roboto-Medium.ttf"></script>
<script type="text/javascript" src="{% static 'spareapp/html2canvas.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'spareapp/dragtable.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script>

function measureFilter(){
    atributes = []
    categories = []
    inputs = []
    inputsId = []

    $(".filterAtr:visible").each(function(){
        atributes.push($(this).find(".atrUnique").attr("id")+":"+$(this).find(".atrUnique").val())
    })

    $(".filterDim:visible").each(function(){
        atributes.push($(this).find(".atrUnique").attr("id")+":"+$(this).find(".atrUnique").val())
    })

    $("#headerList5 li input:checked").each(function(){
        categories.push($(this).parent().find("label").text())
    })
    $("#hMain th input:not(.check)").each(function(){
        inputsId.push($(this).attr("id"))
        inputs.push($(this).val().toLowerCase())
    })
    var requestVentas = $("#requestVentas").val()
    var superuser = $("#superuser").val()
    var requestBodega = $("#requestBodega").val()
    var requestMayorista = $("#requestMayorista").val()
    var autenticado = $("#autenticado").val()

    var pages = $("#maxRows").val()

    $.ajax({
        method: 'GET',
        url: '/sortMain2',
        data: {'pages':pages,'atributes[]': atributes, 'categories[]':categories,"inputsId[]":inputsId,"inputs[]":inputs},
        success:function(data){
            var band = false
            $("#myTable tr").each(function(){
                band = false
                for(var i=0;i<data.spare.length;i++){
                    if($(this).find("#spareCode").text().toLowerCase()==data.spare[i].spare_code.toLowerCase()){
                        band = true
                        break;
                    }
                }
                if(band==true){
                    $(this).show()
                }else{
                    $(this).hide()
                }
            })

            // Paginacion
            $(".pagination").empty()
            for(i=1;i<=data.numeros.length;i++){
                if(data.actual == i){
                    $(".pagination").append('<li class="page-a active"><span class="sr-only">'+i+'</span></li>')
                }else{
                    $(".pagination").append('<li class="page-a"><span class="sr-only">'+i+'</span></li>')
                }
            }
        }
    });
}

$(function () {
  $('[data-bs-toggle="popover"]').popover()
})
</script>
</html>
<script>
function generatePDF2(){

    // var tableHeaderTextSup = [...document.querySelectorAll('.excludeFooter th')].map(thElement => ({ text: thElement.textContent, style: 'tableHeaderSup' }));
    var tableHeaderText = [...document.querySelectorAll('#invoice thead tr th:not([style*="display: none"]):not([id="check"])')].map(thElement => ({ text: thElement.textContent, style: 'tableHeader' }));
    var tableRowCells = [...document.querySelectorAll('#invoice tbody tr td:not([style*="display: none"]):not([class="check justify-content-center"])')].map(tdElement => ({ text: tdElement.textContent, style: 'tableData' }));
    // var tableFooterCells = [...document.querySelectorAll('.tfoot tr th:not(.exclude)')].map(thElement => ({ text: thElement.textContent, style: 'tableFooter' }));
    // alert(tableHeaderText.length)
    // alert(tableRowCells.length)
    var rows = []
    var fila = []
    var footerFooter = []
    var footerAux = []
    var cont = 0
    var linea = []

    $("#myTable tr:not([style*='display: none'])").each(function(){
        if ($(this).is(":visible")){
            $(this).find("td:not([style*='display: none']):not([class='check justify-content-center'])").each(function(){
                if($(this).index()==2){
                    fila.push($(this).find("a").text())
                }else{
                    if($(this).index()==9){
                        $(this).find(".row").each(function(){
                            linea.push($(this).find("#AtrName").text()+" "+$(this).find("#AtrVal").text())
                        })
                        fila.push(linea)
                        linea = []
                    }else{
                        if($(this).index()==3){
                            $(this).find("div").each(function(){
                                linea.push($(this).text())
                            })
                            fila.push(linea)
                            linea = []
                        }else{
                            if($(this).index()==4){
                                $(this).find(".row").each(function(){
                                    linea.push($(this).find("#spareCar").text()+" "+$(this).find("#spareEngine").text())
                                })
                                fila.push(linea)
                                linea = []
                            }else{
                                fila.push($(this).find("div").text())
                            }
                        }
                    }
                }
                cont = cont + 1
            })
            if ((cont==tableHeaderText.length)){
                rows.push(fila)
                fila = []
                cont = 0
            }
        }
    })

    // var porc = 100/(tableHeaderText.length);
    // alert(porc)

    // var colum = tableHeaderText.length;
    // var widthsArray = new
    // Array(colum).fill('auto'); 

    var colum = tableHeaderText.length; // Cantidad de columnas, puedes asignar el valor que necesites

    var widthsArray = [];

    var columnWidth = 100 / colum; // Calcula el ancho de cada columna en porcentaje

    for (var i = 0; i < colum; i++) {
        widthsArray.push(columnWidth + '%'); // Agrega el ancho de cada columna al array en porcentaje
    }

    var docDefinition = {
        content: [
            {
            layout: 'lightHorizontalLines', // optional
            style: 'tableExample',
            table: {
                widths: widthsArray,
                // widths: ['33.33%', '33.33%', '33.33%'],
                headerRows: 1,
                body: [
                tableHeaderText,
                ...rows,
                ],
            },
            layout: {

                fillColor: function(rowIndex) {
                    if (rowIndex === 0) {
                    return '#D42D0A';
                    }
                    if (rowIndex === (rows.length + 2)) {
                        return '#E77C7C';
                    }
                    return (rowIndex % 2 === 0) ? '#f2f2f2' : null;
                }
                },
            },
        ],
        styles: {
            tableExample: {
                // margin: [0, 20, 0, 80],
                margin: [0, 1, 0, 1],
                fontSize: 8,
            },
            tableHeaderSup: {
                margin: 1,
                color: 'white',
                fontSize: 8,
            },
            tableHeader: {
                margin: 1,
                color: 'white',
                fontSize: 8,
            },
            tableData: {
                margin: 1,
                // fontSize: 10,
            },
            fuente: {
                margin: 1,
                fontSize: 8,
            },
        },
    };

    var nombrePersona = "spareList"

    pdfMake.createPdf(docDefinition).download(nombrePersona);

}
</script>
