<html>
<body>

            

    <div class="options my-2">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <input class="filter form-control p-1" type="text" id="myInput" placeholder="Filter">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-1">
                <div id="default" class="btn btn-success">Default</div>
                <a class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel" data-toggle="dropdown" href="#">Headers</a>
                <ul id="headerList" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel">            
                    <li style="margin:auto;text-align:center;" class=""><label class="">Photo<input name="photo" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Code<input name="code" class="ml-2" type="checkbox"></label></li>
                    {% if parameter == 'Engine code' %}
                    <li style="margin:auto;text-align:center;" class=""><label class="">Engine code<input name="ecode" class="ml-2" type="checkbox"></label></li>
                    {% endif %}
                    <li style="margin:auto;text-align:center;" class=""><label class="">Brand<input name="brand" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Type<input name="type" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Shape<input name="shape" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Dimensions<input name="dimensions" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Reference Code<input name="reference" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Car<input name="car" class="ml-2" type="checkbox"></label></li>
                    <li style="margin:auto;text-align:center;" class=""><label class="">Check<input name="check" class="ml-2" type="checkbox"></label></li>
                </ul>
            </div>
            
            <div class="col-lg-6 col-md-5 col-sm-6 col-6 mt-1">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success ml-2" onClick="viewPDF()">View</button>
                    <button class="btn btn-success ml-2" onClick="generatePDF()">PDF</button>
                    <button class="btn btn-success ml-2" id="downloadexcel">Excel</button>
                </div>
            </div>
        </div>
    </div>  

</body>
</html>