<html>
<body>
    <div class="options my-2">
        <div id="filterContent" class="row align-items-center">
            
            <div class="col-lg-7 col-md-7 col-sm-12 col-12 mt-1">
                <!-- Boton default -->
                <div style="display: inline-block;" class="">
                    <div id="default" class="btn btn-success">Default</div>
                </div>
                <!-- Boton headers -->
                <div style="display: inline-block;" class="">
                    <a class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel" data-toggle="dropdown" href="#">Headers</a>
                    <ul id="headerList" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel">            
                        <li style="margin:auto;text-align:center;" class=""><input name="atributes" class="ml-2" type="checkbox"><label class="ml-1">Atributes</label></li>
                        <!-- <li style="margin:auto;text-align:center;" class=""><label class="">Brand<input name="brand" class="ml-2" type="checkbox"></label></li> -->
                        <li style="margin:auto;text-align:center;" class=""><input name="car" class="ml-2" type="checkbox"><label class="ml-1">Car</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="category" class="ml-2" type="checkbox"><label class="ml-1">Category</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="check" class="ml-2" type="checkbox"><label class="ml-1">Check</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="code" class="ml-2" type="checkbox"><label class="ml-1">Code</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="dimensions" class="ml-2" type="checkbox"><label class="ml-1">Dimensions</label></li>
                        {% if parameter == 'Engine code' %}
                        <li style="margin:auto;text-align:center;" class=""><input name="ecode" class="ml-2" type="checkbox"><label class="ml-1">Engine code</label></li>
                        {% endif %}
                        <li style="margin:auto;text-align:center;" class=""><input name="photo" class="ml-2" type="checkbox"><label class="ml-1">Photo</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="reference" class="ml-2" type="checkbox"><label class="ml-1">Reference Code</label></li>
                        <!-- <li style="margin:auto;text-align:center;" class=""><label class="">Shape<input name="shape" class="ml-2" type="checkbox"></label></li> -->
                        <li style="margin:auto;text-align:center;" class=""><input name="vendor" class="ml-2" type="checkbox"><label class="ml-1">Vendor</label></li>
                        <li style="margin:auto;text-align:center;" class=""><input name="type" class="ml-2" type="checkbox"><label class="ml-1">Description</label></li>
                    </ul>
                </div>
                <!-- Boton filter dimensiones -->
                <div style="display: inline-block;" class="">
                    <a class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel2" data-toggle="dropdown" href="#">Dimensions</a>
                    <ul id="headerList2" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel2">            
                        {% for dim in dimension|dictsort:"atributeName" %}
                            <li style="margin:auto;text-align:center;" class=""><input name="check{{dim.atributeName|cut:' '}}" class="ml-2" type="checkbox"><label class="ml-1">{{dim.atributeName}}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Boton filter atribute -->
                <div style="display: inline-block;" class="">
                    <a class="dropdown-toggle btn btn-secondary" aria-expanded="false" data-bs-toggle="dropdown" id="dLabel3" data-toggle="dropdown" href="#">Atributes</a>
                    <ul id="headerList3" class="color-soft dropdown-menu checkbox-menu allow-focus" role="menu" aria-labelledby="dLabel3">            
                        {% for atr in atribute|dictsort:"atributeName" %}
                            <li style="margin:auto;text-align:center;" class=""><input name="check{{atr.atributeName}}" class="ml-2" type="checkbox"><label class="ml-1">{{atr.atributeName}}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
            
            <div class="col-lg-5 col-md-5 col-sm-6 col-6 mt-1">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success ml-2" onClick="viewPDF()">View</button>
                    <button class="btn btn-success ml-2" onClick="generatePDF()">PDF</button>
                    <button class="btn btn-success ml-2" id="downloadexcel">Excel</button>
                </div>
            </div>

            {% for dim in dimension %}

            <div style="display: none;" id="{{dim.atributeName|cut:' '}}Filter" class="row filterDim">
                <div class="col-lg-6 mt-2">
                    <input class="col-lg-3 dimMin" type="number" placeholder="Min {{dim.atributeName}}" id="{{dim.atributeName|cut:' '}}Min">
                    <input class="col-lg-3 dimMax" type="number" placeholder="Max {{dim.atributeName}}" id="{{dim.atributeName|cut:' '}}Max">
                </div>
            </div>

            {% endfor %}

            {% for dim in atribute %}

            <div style="display: none;" id="{{dim.atributeName}}Filter" class="row filterDim">
                <div class="col-lg-6 mt-2">
                    <input class="col-lg-3 atrUnique" type="text" placeholder="{{dim.atributeName}}" id="{{dim.atributeName}}">
                </div>
            </div>

            {% endfor %}

            <div style="display: none;" id="ButtonFilter" class="row">
                <div class="col mt-2">
                    <button class="btn btn-success" onClick="measureFilter()" id="measureFilter">Filter</button>
                    <button class="btn btn-danger" onClick="measureReset()" id="measureReset">Reset</button>
                </div>
            </div>
        </div>
    </div>  

</body>
</html>