<html>
    <thead class="">
        <tr class="color text-white dnd-moved">
            <th id="code" class="trsup color" style="position: sticky;top: 70;">Code</th>
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega or request.user.profile.mayorista %}
            <th id="reference" class="trsup color" style="position: sticky;top: 70;">Ref. Code</th>
            {% endif %}
            <th id="car" class="trsup color" style="position: sticky;top: 70;">Car</th>
            <th id="engine" class="trsup color" style="position: sticky;top: 70;">Engine</th>
            <th id="brand" class="trsup color" style="position: sticky;top: 70;display: none;">Brand</th>
            <th id="category" class="trsup color" style="position: sticky;top: 70;">Category</th>
            <!-- <th id="subcategory" class="trsup color" style="position: sticky;top: 70;">Sub-Category</th> -->
            <th id="type" class="trsup color" style="position: sticky;top: 70;display: none;">Description</th>
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="atributes" class="trsup color" style="position: sticky;top: 70;">Atributes</th>
            {% endif %}
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="dimensions" class="trsup color" style="position: sticky;top: 70;display: none;">Dimensions</th>
            {% endif %}
            {% if request.user.is_superuser %}
            <th id="priceM" class="trsup color" style="position: sticky;top: 70;display: none;">Price Major</th>
            <th id="priceD" class="trsup color" style="position: sticky;top: 70;display: none;">Price Det.</th>
            {% endif %}
            <th id="photo" class="trsup color" style="position: sticky;top: 70;">Photo</th>
            {% if parameter == 'Engine code' %}
            <th id="ecode" class="trsup color" style="position: sticky;top: 70;">Eng. code</th>
            {% endif %}
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="vendor" class="trsup color" style="position: sticky;top: 70;display: none;">Vendor</th>
            {% endif %}
            
            <!-- <th id="shape" class="trsup color" style="position: sticky;top: 70;display: none;">Shape</th> -->
            {% if request.user.is_authenticated %}
            <th id="check" class="trsup color" style="position: sticky;top: 70;"><input class="check" type="checkbox" onClick="toggle(this,'toAdd')"/></th>
            {% endif %}
        </tr>
    </thead>
</html>