<html>
    <tbody id="myTable">
        {% for br in spare %}
        <tr class="dnd-moved">

            {% if br.spare_code %}
            <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
            {% else %}
            <td><a href="#"></a></td>
            {% endif %}

            {% if reference %}
            <td>
                {% for dim in reference|slice:":5" %}
                    {% if br.spare_code == dim.referenceSpare.spare_code %}
                    <div><a href="{% url 'sparedetails' br.spare_code %}">{{dim.referenceCode}}</a></div>
                    {% endif %}
                {% endfor %}
            </td>
            {% else %}
                <td><a href="#"></a></td>
            {% endif %}

            <!-- {% if br.car_info.all %}
            <td><a href="{% url 'manuf' br.car_info.all.0.car_manufacturer %}">{{br.car_info.all.0.car_manufacturer}}</a></td>
            {% else %}
            <td><a href="#"></a></td>
            {% endif %} -->

            {% if br.spare_category %}
            <td><a href="{% url 'categoryi' br.spare_category %}">{{br.spare_category}}</a></td>
            {% else %}
            <td><a href="#"></a></td>
            {% endif %}

            {% if br.spare_name %}
            <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
            {% else %}
            <td><a href="#"></a></td>
            {% endif %}

            {% if allDimensions %}
                <td>
                    {% for dim in allDimensions %}
                        {% if br.spare_code == dim.dimensionSpare.spare_code %}
                        <div><a id="{{dim.atributeName|cut:' '}}Value" href="{% url 'longi' dim.atributeName dim.atributeVal %}">{{dim.atributeName}}: {{dim.atributeVal}} mm</a></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td><a href="#"></a></td>
            {% endif %}

            {% if allAtributes %}
                <td>
                    {% for dim in allAtributes %}
                        {% if br.spare_code == dim.atributeSpare.spare_code %}
                        <div><a id="{{dim.atributeName|cut:' '}}Value" href="#">{{dim.atributeName}}: {{dim.atributeVal}}</a></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td><a href="#"></a></td>
            {% endif %}

            {% if br.price_m %}
            <td style="display: none;"><a href="#">{{br.price_m}}</a></td>
            {% else %}
            <td style="display: none;"><a href="#"></a></td>
            {% endif %}

            {% if br.price_d %}
            <td style="display: none;"><a href="#">{{br.price_d}}</a></td>
            {% else %}
            <td style="display: none;"><a href="#"></a></td>
            {% endif %}

            {% if br.spare_photo %}
            <td><a href="#"><div id="mainPhoto" style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
            {% else %}
            <td><a href="#"></a></td>
            {% endif %}
            
            {% if parameter == 'Engine code' %}
            <td><a href="#">{{mig}}</a></td>
            {% endif %}

            {% if br.spare_vendor.all %}
            <td style="display: none;">
                {% for dim in allVendors %}
                    {% for sp in br.spare_vendor.all %}

                        {% if sp.vendorName == dim.vendorName %}
                            <div><a href="#">{{sp.vendorName}}</a></div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            </td>
            {% else %}
            <td style="display: none;"><a href="#"></a></td>
            {% endif %}
            
            <td><input class="check" type="checkbox" name="toAdd" value="{{br.id}}"></td>
        </tr>
        {% endfor %}
    </tbody>
</html>