<html>
    <thead id="hMain" class="">
        <tr class="color text-white dnd-moved">
            <th id="code" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(0,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('code')">Code</span></th>
            <th id="editSpare" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(1,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('editSpare')">Edit</span></th>
            <th id="referenceC" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(2,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('referenceC')">Ref. Code</span></th>
            <th id="car" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(3,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('car')">Car</span></th>
            <th id="engine" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(4,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('engine')">Engine</span></th>
            <th id="brand" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(5,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('brand')">Brand</span></th>
            <th id="category" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(6,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('category')">Category</span></th>
            <!-- <th id="subcategory" class="trsup color" style="position: sticky;top: 70;">Sub-Category</th> -->
            <th id="type" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(7,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('type')">Description</span></th>
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="atributes" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(8,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('atributes')">Atributes</span></th>
            {% endif %}
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="dimensions" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(9,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('dimensions')">Dimensions</span></th>
            {% endif %}
            {% if request.user.is_superuser %}
            <th id="priceM" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(10,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('priceM')">Price Major</span></th>
            <th id="priceD" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(11,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('priceD')">Price Det.</span></th>
            {% endif %}
            <th id="photo" class="trsup color" style="position: sticky;top: 70;">Photo</th>
            {% if parameter == 'Engine code' %}
            <th id="ecode" class="trsup color" style="position: sticky;top: 70;"><i onclick="sort(13,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('ecode')">Eng. code</span></th>
            {% endif %}
            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            <th id="vendor" class="trsup color" style="position: sticky;top: 70;display: none;"><i onclick="sort(14,'asc')" class="bi bi-arrow-up-short"></i><span onclick="filtrar('vendor')">Vendor</span></th>
            {% endif %}
            {% if request.user.is_authenticated %}
            <th id="check" class="trsup color" style="position: sticky;top: 70;"><input class="check" type="checkbox" onClick="toggle(this,'toAdd')"/></th>
            {% endif %}
        </tr>
    </thead>
</html>

<script>
function sort(a,b){
    var table, rows, switching, i, x, y, shouldSwitch, change;
    table = document.getElementById("myTable").getElementsByTagName("tr")
    if(b == 'desc'){
        $("#hMain th")[a].innerHTML = '<i onclick="sort('+a+',\'asc\')" class="bi bi-arrow-up-short"></i><span onclick="'+$("#hMain th")[a].getAttribute("id")+'">'+$("#hMain th")[a].getElementsByTagName("span")[0].innerHTML+'</span>'
    }else{
        $("#hMain th")[a].innerHTML = '<i onclick="sort('+a+',\'desc\')" class="bi bi-arrow-down-short"></i><span onclick="'+$("#hMain th")[a].getAttribute("id")+'">'+$("#hMain th")[a].getElementsByTagName("span")[0].innerHTML+'</span>'
    }
    switching = true;
    i = 0
    while (switching){
        switching = false;
        rows = table.length;
        for (i = 0; i < (rows -1); i++){
            shouldSwitch = false;
            if($("#hMain th")[a].getAttribute("id")=="editSpare"){
                x = table[i].getElementsByTagName("td")[a].getElementsByTagName("a")[0].innerHTML.toLowerCase()
                y = table[i + 1].getElementsByTagName("td")[a].getElementsByTagName("a")[0].innerHTML.toLowerCase()
            }else{
                x = table[i].getElementsByTagName("td")[a].innerHTML.toLowerCase()
                y = table[i + 1].getElementsByTagName("td")[a].innerHTML.toLowerCase()
            }
            if (b == 'desc'){
                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
            }else{
                if(x < y){
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch){
            table[i].parentNode.insertBefore(table[i + 1], table[i]);
            switching = true;
        }
    }
}

function filtrar(a){

    $("#hMain th").each(function(){
        if(a==$(this).attr("id")){
            $(this).find("span")[0].innerHTML = "<input id='input"+a+"' name='input"+a+"' style='max-width: 100px;' type='text' placeholder="+a+"></input>"
        }
    })

    $("#input"+a).select();

    $("#hMain th").each(function(){
        var bandcode = false
        var bandeditSpare = false
        var bandreferenceC = false
        var bandcar = false
        var bandengine = false
        var bandbrand = false
        var bandcategory = false
        var bandtype = false
        var bandatributes = false
        var banddimensions = false
        var bandpriceM = false
        var bandpriceD = false
        var bandecode = false
        var bandvendor = false

        $("#hMain th input").on("keyup",function(){
            var valuecode = false
            var valueeditSpare = false
            var valuereferenceC = false
            var valuecar = false
            var valueengine = false
            var valuebrand = false
            var valuecategory = false
            var valuetype = false
            var valueatributes = false
            var valuedimensions = false
            var valuepriceM = false
            var valuepriceD = false
            var valueecode = false
            var valuevendor = false
            $("#hMain th input").each(function(){
                if($(this).attr("id")=="inputcode"){
                    valuecode = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputeditSpare"){
                    valueeditSpare = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputreferenceC"){
                    valuereferenceC = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputcar"){
                    valuecar = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputengine"){
                    valueengine = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputbrand"){
                    valuebrand = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputcategory"){
                    valuecategory = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputtype"){
                    valuetype = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputatributes"){
                    valueatributes = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputdimensions"){
                    valuedimensions = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputpriceM"){
                    valuepriceM = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputpriceD"){
                    valuepriceD = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputecode"){
                    valueecode = $(this).val().toLowerCase()
                }
                if($(this).attr("id")=="inputvendor"){
                    valuevendor = $(this).val().toLowerCase()
                }
            })
            $("#myTable tr").each(function(){
                bandcode = false
                bandeditSpare = false
                bandreferenceC = false
                bandcar = false
                bandengine = false
                bandbrand = false
                bandcategory = false
                bandtype = false
                bandatributes = false
                banddimensions = false
                bandpriceM = false
                bandpriceD = false
                bandecode = false
                bandvendor = false
                $(this).find("td").each(function(){
                    if($(this).index()==0 && $(this).text().toLowerCase().indexOf(valuecode) > -1 || valuecode == false){
                        bandcode = true
                    }
                    if($(this).index()==1 && $(this).text().toLowerCase().indexOf(valueeditSpare) > -1 || valueeditSpare == false){
                        bandeditSpare = true
                    }
                    if($(this).index()==2 && $(this).text().toLowerCase().indexOf(valuereferenceC) > -1 || valuereferenceC == false){
                        bandreferenceC = true
                    }
                    if($(this).index()==3 && $(this).text().toLowerCase().indexOf(valuecar) > -1 || valuecar == false){
                        bandcar = true
                    }
                    if($(this).index()==4 && $(this).text().toLowerCase().indexOf(valueengine) > -1 || valueengine == false){
                        bandengine = true
                    }
                    if($(this).index()==5 && $(this).text().toLowerCase().indexOf(valuebrand) > -1 || valuebrand == false){
                        bandbrand = true
                    }
                    if($(this).index()==6 && $(this).text().toLowerCase().indexOf(valuecategory) > -1 || valuecategory == false){
                        bandcategory = true
                    }
                    if($(this).index()==7 && $(this).text().toLowerCase().indexOf(valuetype) > -1 || valuetype == false){
                        bandtype = true
                    }
                    if($(this).index()==8 && $(this).text().toLowerCase().indexOf(valueatributes) > -1 || valueatributes == false){
                        bandatributes = true
                    }
                    if($(this).index()==9 && $(this).text().toLowerCase().indexOf(valuedimensions) > -1 || valuedimensions == false){
                        banddimensions = true
                    }
                    if($(this).index()==10 && $(this).text().toLowerCase().indexOf(valuepriceM) > -1 || valuepriceM == false){
                        bandpriceM = true
                    }
                    if($(this).index()==11 && $(this).text().toLowerCase().indexOf(valuepriceD) > -1 || valuepriceD == false){
                        bandpriceD = true
                    }
                    if($(this).index()==13 && $(this).text().toLowerCase().indexOf(valueecode) > -1 || valueecode == false){
                        bandecode = true
                    }
                    if($(this).index()==14 && $(this).text().toLowerCase().indexOf(valuevendor) > -1 || valuevendor == false){
                        bandvendor = true
                    }
                })
                $(this).toggle(bandcode && bandeditSpare && bandreferenceC && bandcar && bandengine && bandbrand && bandcategory && bandtype && bandatributes && banddimensions && bandpriceM && bandpriceD && bandecode && bandvendor)
            })
        })
    })
}
</script>