<html>
    <tbody id="myTable">
        {% for br in spare %}
        <tr class="dnd-moved ">

            {% if br.spare_code %}
            <td class="pr-0"><a id="spareCodeInfo" href="{% url 'sparedetails' br.id %}">{{br.spare_code}}</a></td>
            {% else %}
            <td class="pr-0"><a href="#"></a></td>
            {% endif %}

            <td class="pr-0"><a style="color:rgb(136,12,12);" id="spareEdit" href="{% url 'editspare' br.id %}">{{br.spare_code}}</a></td>

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega or request.user.profile.mayorista %}
            {% if reference %}
            <td style="max-width: 120px;" class="pr-0">
                {% for dim in reference %}
                <!-- {% with name=1 %}  -->
                <!-- <div>{{name}}</div> -->
                <!-- {% endwith %} -->
                <!-- |slice:":5" -->
                    {% if br.spare_code == dim.referenceSpare.spare_code %}
                    <div><a id="spareCodeInfo" href="#">{{dim.referenceCode}} {{dim.referenceNote}}</a></div>
                    {% endif %}
                {% endfor %}
            </td>
            {% else %}
                <td style="max-width: 120px;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %}

            {% if br.car_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.car_info.all %}
                    <a style="display: block;" id="spareCar" href="#">{{a}}</a>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><a href="#"></a></td>
            {% endif %}

            {% if br.engine_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.engine_info.all %}
                    <a style="display: block;" id="spareEngine" href="#">{{a}}</a>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><a href="#"></a></td>
            {% endif %}

            {% if br.spare_brand %}
            <td class="pr-0" style="display: none;"><div><a id="brand" href="#"></a></div></td>
            {% else %}
            <td class="pr-0" style="display: none;"><div><a id="brand" href="#"></a></div></td>
            {% endif %}

            {% if br.spare_category %}
            <td style="max-width: 120px;" class="pr-0"><a id="categoryInfo" href="#">{{br.spare_category}}</a></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><a id="categoryInfo" href="#"></a></td>
            {% endif %}

            <!-- {% if br.spare_subcategory %}
            <td style="max-width: 120px;" class="pr-0"><a id="subcategoryInfo" href="{% url 'sparedetails' br.spare_code spare %}">{{br.spare_subcategory}}</a></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><a id="subcategoryInfo" href="#"></a></td>
            {% endif %} -->

            {% if br.spare_name %}
            <td style="max-width: 120px;display: none;" class="pr-0"><a href="#">{{br.spare_name}}</a></td>
            {% else %}
            <td style="max-width: 120px;display: none;" class="pr-0"><a href="#"></a></td>
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allAtributes %}
                <td style="max-width: 120px;" class="pr-0">
                    {% for dim in allAtributes|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.atributeSpare.spare_code %}
                        <div class=""><a id="{{dim.atributeName|cut:' '}}Value" href="#"><div class="cantainer"><div class="row"><div id="AtrName" style="position: static;" class="col-lg-6">{{dim.atributeName}}</div><div id="AtrVal" style="position: static;" class="col-lg-6 ms-auto">{{dim.atributeVal}}</div></div></div></a></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allDimensions %}
                <td style="max-width: 120px;display: none;" class="">
                    {% for dim in allDimensions|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.dimensionSpare.spare_code %}
                        <div class=""><a id="{{dim.atributeName|cut:' '}}Value" href="#"><div class="cantainer"><div class="row"><div id="AtrName" style="position: static;" class="col-lg-6">{{dim.atributeName}}</div><div id="AtrVal" style="position: static;" class="col-lg-6 ms-auto">{{dim.atributeVal|floatformat:2}} mm</div></div></div></a></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;display: none;" class="pr-0"><a href="#"></a></td>
            {% endif %}
            {% endif %}
            
            {% if request.user.is_superuser %}
            {% if br.price_m %}
            <td class="pr-0" style="display: none;"><a href="#">$ {{br.price_m|floatformat:2}}</a></td>
            {% else %}
            <td class="pr-0" style="display: none;"><a href="#"></a></td>
            {% endif %}

            {% if br.price_d %}
            <td class="pr-0" style="display: none;"><a href="#">$ {{br.price_d|floatformat:2}}</a></td>
            {% else %}
            <td class="pr-0" style="display: none;"><a href="#"></a></td>
            {% endif %}
            {% endif %}

            {% if br.spare_photo %}
            <td class="pr-0"><a href="#"><div id="mainPhoto" style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
            {% else %}
            <td class="pr-0"><a href="#"></a></td>
            {% endif %}
            
            {% if parameter == 'Engine code' %}
            <td class="pr-0"><a href="#">{{mig}}</a></td>
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if br.spare_vendor.all %}
            <td class="pr-0" style="display: none;">
                {% for dim in allVendors %}
                    {% for sp in br.spare_vendor.all %}

                        {% if sp.vendorName == dim.vendorName %}
                            <div><a id="vendorInfo" href="#">{{sp.vendorName}}</a></div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            </td>
            {% else %}
            <td class="pr-0" style="display: none;"><div><a id="vendorInfo" href="#"></a></div></td>
            {% endif %}
            {% endif %}
            
            {% if request.user.is_authenticated %}
            <td><input class="check d-flex justify-content-center" type="checkbox" name="toAdd" value="{{br.id}}"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</html>