<html>
    <tbody id="myTable">
        {% for br in spare %}
        <tr class="dnd-moved ">

            {% if br.spare_code %}
            <td style="display: none;" class="pr-0"><a id="spareCodeInfo" href="{% url 'sparedetails' br.id %}">{{br.spare_code}}</a></td>
            {% else %}
            <td style="display: none;" class="pr-0"><a href="#"></a></td>
            {% endif %}

            <td class="pr-0"><a style="color:rgb(136,12,12);" id="spareEdit" href="{% url 'editspare' br.id %}">{{br.spare_code}}</a></td>

            {% if reference %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                {% for dim in reference %}
                    {% if br.spare_code == dim.referenceSpare.spare_code %}
                    <div id="spareCodeInfo">{{dim.referenceCode}} {{dim.referenceNote|slice:"0:3"}}</div>
                    {% endif %}
                {% endfor %}
            </td>
            {% else %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0"><div></div></td>
            {% endif %}

            {% if br.car_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.car_info.all %}
                    <div id="spareCar">{{a.car_manufacturer|slugify|upper|slice:"0:3"}} {% if a.car_model %}{{a.car_model}}{% endif %} {% if a.carfrom %}{{a.carfrom}}{% endif %} {% if a.chasis %}{{a.chasis}}{% endif %}</div>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><div></div></td>
            {% endif %}

            {% if br.engine_info.all %}
                <td style="min-width: 80px;max-width: 90px;" class="pr-0">
                    {% for a in br.engine_info.all %}
                    <div id="spareEngine">{{a.engine_l}} {{a.engine_ide}}</div>
                    {% endfor %}
                </td>
            {% else %}
            <td style="min-width: 80px;max-width: 90px;" class="pr-0"><div></div></td>
            {% endif %}

            {% if br.spare_brand %}
            <td class="pr-0" style="display: none;"><div><div id="brand"></div></div></td>
            {% else %}
            <td class="pr-0" style="display: none;"><div><div id="brand"></div></div></td>
            {% endif %}

            {% if br.spare_category %}
            <td style="max-width: 120px;" class="pr-0"><div id="categoryInfo">{{br.spare_category}}</div></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><div id="categoryInfo"></div></td>
            {% endif %}

            <!-- {% if br.spare_subcategory %}
            <td style="max-width: 120px;" class="pr-0"><a id="subcategoryInfo" href="{% url 'sparedetails' br.spare_code spare %}">{{br.spare_subcategory}}</a></td>
            {% else %}
            <td style="max-width: 120px;" class="pr-0"><a id="subcategoryInfo" href="#"></a></td>
            {% endif %} -->

            {% if br.spare_name %}
            <td style="max-width: 120px;display: none;" class="pr-0"><div>{{br.spare_name}}</div></td>
            {% else %}
            <td style="max-width: 120px;display: none;" class="pr-0"><div></div></td>
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allAtributes %}
                <td style="max-width: 120px;" class="pr-0">
                    {% for dim in allAtributes|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.atributeSpare.spare_code %}
                        <div class="">
                            <div id="{{dim.atributeName|cut:' '}}Value">
                                <div style="overflow:hidden" class="">
                                    <div class="row">
                                        <div id="AtrName" class="col-lg-6 col-md-6 text-right px-0 pr-1">{{dim.atributeName}}:</div>
                                        <div id="AtrVal" class="col-lg-6 col-md-6 text-left px-0">{{dim.atributeVal}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;" class="pr-0"><div></div></td>
            {% endif %}
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if allDimensions %}
                <td style="max-width: 120px;display: none;" class="">
                    {% for dim in allDimensions|dictsort:"atributeName" %}
                        {% if br.spare_code == dim.dimensionSpare.spare_code %}
                        <div class=""><div id="{{dim.atributeName|cut:' '}}Value"><div class="cantainer"><div class="row"><div id="AtrName" style="position: static;" class="col-lg-6">{{dim.atributeName}}</div><div id="AtrVal" style="position: static;" class="col-lg-6 ms-auto">{{dim.atributeVal|floatformat:2}} mm</div></div></div></div></div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td style="max-width: 120px;display: none;" class="pr-0"><div></div></td>
            {% endif %}
            {% endif %}
            
            {% if request.user.is_superuser %}
            {% if br.price_m %}
            <td class="pr-0" style="display: none;"><div>$ {{br.price_m|floatformat:2}}</div></td>
            {% else %}
            <td class="pr-0" style="display: none;"><div></div></td>
            {% endif %}

            {% if br.price_d %}
            <td class="pr-0" style="display: none;"><div>$ {{br.price_d|floatformat:2}}</div></td>
            {% else %}
            <td class="pr-0" style="display: none;"><div></div></td>
            {% endif %}
            {% endif %}

            {% if br.spare_photo %}
            <td class="pr-0"><div><div id="mainPhoto" style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
            {% else %}
            <td class="pr-0"><div></div></td>
            {% endif %}
            
            {% if parameter == 'Engine code' %}
            <td class="pr-0"><a href="#">{{mig}}</a></td>
            {% endif %}

            {% if request.user.profile.ventas or request.user.is_superuser or request.user.profile.bodega %}
            {% if br.spare_vendor.all %}
            <td class="pr-0" style="display: none;">
                {% for dim in allVendors %}
                    {% for sp in br.spare_vendor.all %}

                        {% if sp.vendorName == dim.vendorName %}
                            <div><div id="vendorInfo">{{sp.vendorName}}</div></div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            </td>
            {% else %}
            <td class="pr-0" style="display: none;"><div><div id="vendorInfo"></div></div></td>
            {% endif %}
            {% endif %}
            
            {% if request.user.is_authenticated %}
            <td><input class="check d-flex justify-content-center" type="checkbox" name="toAdd" value="{{br.id}}"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</html>